{% extends "layouts/withdraw.html" %}
{% set pageTitle = 'Chọn phương thức withdraw' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/withdraw-select-method.html" %}
{% endblock %}
