{% extends "layouts/withdraw.html" %}
{% set pageTitle = 'Domestic bank order detail pending' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/withdraw-detail.html" %}
{% endblock %}
