{% extends "layouts/withdraw.html" %}
{% set pageTitle = 'Điền thông tin withdraw/pingpong' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/withdraw-wallet.html" %}
{% endblock %}
