{% extends "layouts/withdraw.html" %}
{% set pageTitle = 'Điền thông tin crypto transfer' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/setting-crypto-transfer.html" %}
{% endblock %}
