{% extends "layouts/withdraw.html" %}
{% set pageTitle = 'Điền thông tin global bank' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/setting-global-bank.html" %}
{% endblock %}
