{% extends "layouts/setting.html" %}
{% set pageTitle = 'Popup payment management' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/setting-management-add.html" %}
{% endblock %}
