<header>
    <div class="container">
        <div class="top-header mb-3 flex-lc pr">
            <a href="" title="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <h1 class="title txt-lg fw-b">Home</h1>
            <button type="button" class="btn-filter"></button>
        </div>
    </div>
</header>
