<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $(".toggle-password").click(function () {
            $(this).toggleClass("show");
            var input = $($(this).attr("toggle"));

            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

        //call select min2
        $('.select2-min').select2();

        $('.fullname-input').on('click',function (){
            $('.note-inputname').addClass('show');
        });

        //popup
        $('#modal-otp').modal('show');
        $('#modal-set-password').modal('show');
        $('#modal-reset-password').modal('show');
        $('#modal-wrong').modal('show');


        //select custom
        $('.selected').on('click',function () {
            $('.box-select').removeClass('show');
            $(this).parent().toggleClass('show');
        });
        $('.select-list li').on('click',function () {
            $(this).parents('.box-select').find('.select-list li').removeClass('active');
            $(this).addClass('active');
            var img_icon = $(this).data('icon');
            var txt = $(this).data('name');
            var html_img = `<img src="${img_icon}">`;
            $(this).parents('.box-select').removeClass('show');
            $(this).parents('.box-select').find('.selected .icon').html('').append(html_img);
            $(this).parents('.box-select').find('.selected .name').html('').append(txt);
        });

        $('.form-register .btn-next').on('click',function(){
            $('.form-register .form-group').removeClass('pc-show');
            $('.btn-back').addClass('show');
            $('.form-register .step1').addClass('pc-show');
            $(this).css('display','none');
            $('.form-register .btn-submit').removeClass('pc-show');
        });
        $('.wealify-account .btn-back').on('click',function(){
            $('.form-register .form-group').addClass('pc-show');
            $('.form-register .step1').removeClass('pc-show');
            $('.form-register .btn-next').css('display','flex');
            $('.form-register .btn-submit').addClass('pc-show');
            $(this).removeClass('show');
        });

    });
    $('.form-otp').find('input').each(function() {
        $(this).attr('maxlength', 1);
        $(this).on('keyup', function(e) {
            var parent = $($(this).parent());

            if(e.keyCode === 8 || e.keyCode === 37) {
                var prev = parent.find('input#' + $(this).data('previous'));

                if(prev.length) {
                    $(prev).select();
                }
            } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                var next = parent.find('input#' + $(this).data('next'));

                if(next.length) {
                    $(next).select();
                } else {
                    if(parent.data('autosubmit')) {
                        parent.submit();
                    }
                }
            }
        });
    });

    $(document).mouseup(function (e) {
        var form_group = $('.fullname-input');
        var container = $(".box-select");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            $('.box-select').removeClass('show');
        }
        if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
            $('.note-inputname').removeClass('show');
        }
    });
</script>
</body>
</html>