<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script>
    $(document).ready(function () {
        $('#modal-topup').modal('show');
        $('#modal-add-screen').modal('show');
        $('#modal-topup-detail').modal('show');
        $('#modal-topup-qrcode').modal('show');
        $('#modal-note').modal('show');
        $('#modal-topup-wallet').modal('show');
        $('#modal-select-wallet').modal('show');
        $('#modal-topup-wallet-detail').modal('show');
        $('#modal-topup-wallet-confirm').modal('show');
        $('#modal-topup-wallet-invoice').modal('show');
        $('#modal-wise-order-detail').modal('show');
        $('#modal-topup-crypto').modal('show');
        $('#modal-select-crypto').modal('show');
        $('#modal-crypto-detail').modal('show');

        //call select min2
        $('.select2-min').select2();

        $('.notifi button').on('click',function(){
            $(this).parent().toggleClass('show');
        });

        $(document).mouseup(function (e) {
            var dropdown = $('.box-dropdown');
            if (!dropdown.is(e.target) && dropdown.has(e.target).length === 0) {
                $('.notifi').removeClass('show');
            }
        });
    });
</script>
</body>
</html>