<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../assets/css/select2.min.css" rel="stylesheet">
    <link href="./../assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}
<script src="./../assets/js/jquery-3.1.1.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<script src="./../assets/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#modal-change-phone').modal('show');

        $('.notifi button').on('click',function(){
            $(this).parent().toggleClass('show');
        });

        $(document).mouseup(function (e) {
            var dropdown = $('.box-dropdown');
            if (!dropdown.is(e.target) && dropdown.has(e.target).length === 0) {
                $('.notifi').removeClass('show');
            }
        });

        upload_image('#upload_front_page', '#image_front_holder');
        upload_image('#upload_back_page', '#image_back_holder');
        upload_image('#upload_photo', '#image_holder');
        

        $('#upload_file').on( 'change', function(event) {
            if (!event || !event.target || !event.target.files || event.target.files.length === 0) {
                return;
            }
            const myfile = $( this ).val();
            const sizefile = `<span class="size">${Math.round(event.target.files[0].size/1024)} KB</span>`;
            const ext = myfile.split('.').pop();
            const name = `<span class="name">${event.target.files[0].name}</span>`;
            
            if(ext=="doc"){
                const icon = "<i class='icon-doc'></i>";
                const info = `<div class="info">${name} ${sizefile}</div>`;
                const btn_cancel = "<button type='button' class='cancel'></button>";
                const content = `<div class="file-holder flex-lc">${icon} ${info} ${btn_cancel}</div>`;
                
                $('#file_holder').append(content);
                
            } else if(ext == "pdf"){
                const icon = "<i class='icon-pdf'></i>";
                const info = `<div class="info">${name} ${sizefile}</div>`;
                const btn_cancel = "<button type='button' class='cancel'></button>";
                const content = `<div class="file-holder flex-lc">${icon} ${info} ${btn_cancel}</div>`;
                
                $('#file_holder').append(content);
            }
            $('.cancel').on('click',function(){
                $(this).parent().remove();
                console.log('click');
            });
        });
        
                
        //call select min2
        $('.select2-min').select2();

        $('.box-choose input').on('click',function (){
           if($('.box-choose input').checked = true){
               $('.box-choose label').removeClass('active');
               $(this).parent().addClass('active');
           }
        });

        $('.form-otp').find('input').each(function() {
            $(this).attr('maxlength', 1);
            $(this).on('keyup', function(e) {
                var parent = $($(this).parent());

                if(e.keyCode === 8 || e.keyCode === 37) {
                    var prev = parent.find('input#' + $(this).data('previous'));

                    if(prev.length) {
                        $(prev).select();
                    }
                } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                    var next = parent.find('input#' + $(this).data('next'));

                    if(next.length) {
                        $(next).select();
                    } else {
                        if(parent.data('autosubmit')) {
                            parent.submit();
                        }
                    }
                }
            });
        });

        $('.selected').on('click',function () {
            $('.box-select').removeClass('show');
            $(this).parent().toggleClass('show');
        });
        $('.select-list li').on('click',function () {
            $(this).parents('.box-select').find('.select-list li').removeClass('active');
            $(this).addClass('active');
            var img_icon = $(this).data('icon');
            var txt = $(this).data('name');
            var html_img = `<img src="${img_icon}">`;
            $(this).parents('.box-select').removeClass('show');
            $(this).parents('.box-select').find('.selected .icon').html('').append(html_img);
            $(this).parents('.box-select').find('.selected .name').html('').append(txt);
        });

        $(document).mouseup(function (e) {
            var container = $(".box-select");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.box-select').removeClass('show');
            }
        });
    });

    

    function upload_image(item_upload, img_holder) {
        $(item_upload).on('change', function () {
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $(img_holder);

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof FileReader != "undefined") {

                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var html_img = "";
                            html_img += '<div class="img">', html_img += '<img src="' + e.target.result + '" />', html_img += '<a href="javascript:;" class="cancel" onclick="$(this).parent().remove();">X</a>', html_img += '</div>';
                            $(image_holder).empty();
                            $(html_img).appendTo(image_holder);
                        };
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    }
</script>
</body>
</html>