<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="./../assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./../assets/js/jquery-3.1.1.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<script src="./../assets/js/select2.min.js"></script>
<script src="./../assets/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('#modal-receiver').modal('show');
        $('#modal-success').modal('show');
        $('#modal-send').modal('show');

        $('.box-choose input').on('click',function (){
            if($('.box-choose input').checked = true){
                $('.box-choose label').removeClass('active');
                $(this).parent().addClass('active');
            }
        });

        //call select min2
        $('.select2-min').select2();

        $(".datepicker").datepicker("setDate", new Date());
    });
</script>
</body>
</html>