<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../assets/css/select2.min.css" rel="stylesheet">
    <link href="./../assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="./../assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}
<script src="./../assets/js/jquery-3.1.1.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<script src="./../assets/js/select2.min.js"></script>
<script src="./../assets/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('#modal-withdraw').modal('show');
        $('#modal-kyc2').modal('show');
        $('#modal-note').modal('show');
        $('#modal-start-kyc').modal('show');
        $('#modal-payment-management').modal('show');
        $('#modal-withdraw-detail').modal('show');
        $('#modal-internation-bank').modal('show');
        $('#modal-ewallet-transfer').modal('show');
        $('#modal-crypto-transfer').modal('show');
        $('#modal-crypto-info').modal('show');
        $('#modal-domestic-bank-transfer').modal('show');

        //call select min2
        $('.select2-min').select2();

        $(".datepicker").datepicker("setDate", new Date());

        $('.box-account .btn-change').on('click',function(){
            $(this).parents('.box-account').toggleClass('show');
        });

        $('.box-choose input').on('click',function (){
            if($('.box-choose input').checked = true){
                $('.box-choose label').removeClass('active');
                $(this).parent().addClass('active');
            }
        });

        $('.selected').on('click',function () {
            $('.box-select').removeClass('show');
            $(this).parent().toggleClass('show');
        });
        $('.select-list li').on('click',function () {
            $(this).parents('.box-select').find('.select-list li').removeClass('active');
            $(this).addClass('active');
            var img_icon = $(this).data('icon');
            var txt = $(this).data('name');
            var html_img = `<img src="${img_icon}">`;
            $(this).parents('.box-select').removeClass('show');
            $(this).parents('.box-select').find('.selected .icon').html('').append(html_img);
            $(this).parents('.box-select').find('.selected .name').html('').append(txt);
        });

        $(document).mouseup(function (e) {
            var container = $(".box-select");
            var dropdown = $(".box-account");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.box-select').removeClass('show');
            }
            if (!dropdown.is(e.target) && dropdown.has(e.target).length === 0) {
                $('.box-account').removeClass('show');
            }
        });

        $('.notifi button').on('click',function(){
            $(this).parent().toggleClass('show');
        });

        $(document).mouseup(function (e) {
            var dropdown = $('.box-dropdown');
            if (!dropdown.is(e.target) && dropdown.has(e.target).length === 0) {
                $('.notifi').removeClass('show');
            }
        });

        
    });

</script>
</body>
</html>