<div class="wealify-account pr">
    <div class="col-left">
        <a href="/" class="logo my-6"><img src="./assets/img/logo-b.png" alt=""></a>
        <h1>Let's get started !</h1>
        <form action="" method="" class="wealify-form">
            <div class="form-group pr">
                <div class="flex-lc">
                    <label>Full name</label>
                    <div class="box-tooltip">
                        <button type="button" class="flex-center"><i class="icon-info"></i></button>
                        <div class="content text-center">
                            <p>Please enter the name exactly as they appear on your Identity Card.</p>
                        </div>
                    </div>
                </div>
                <input type="text" name="">
            </div>
            <div class="form-group pr">
                <label>Email</label>
                <input type="email" name="">
                <div class="error">Invalid Email Address</div>
            </div>
            <div class="form-group pr pc-show">
                <label>Email code</label>
                <div class="pr">
                    <input type="email" name="">
                    <button type="button" class="btn-getcode txt-md fw-sm">Get code</button>
                </div>
                <div class="error">The OTP you entered is invalid or expired.</div>
            </div>
            <div class="form-group pr">
                <label>Account type</label>
                <select name="" id="" class="select2-min">
                    <option>Individual</option>
                    <option>Business</option>
                </select>
            </div>
            <div class="note-password mb-3 pc-show">
                <h4 class="txt-md fw-sm mb-3">Let’s make your account as secure as possible. Choose a password that contains:</h4>
                <ul class="list txt-md fw-m txt-gray">
                    <li>Minimum of 9 characters</li>
                    <li>Atleast 1 number</li>
                    <li class="not">Atleast 1 upper-caser letter</li>
                    <li>Atleast 1 lower-caser letter</li>
                    <li>Atleast 1 special character</li>
                </ul>
            </div>
            <div class="form-group pr pc-show">
                <label>Password</label>
                <input type="password" name="" id="password-field">
                <span toggle="#password-field" class="toggle-password"></span>
            </div>
            <div class="form-group pr pc-show">
                <label>Confirm password</label>
                <input type="password" name="" id="password-field-confirm">
                <span toggle="#password-field-confirm" class="toggle-password"></span>
            </div>
            <button type="submit" class="btn-pr w-100 flex-center txt-md font-weight-bold pc-show">Submit</button>
            <button type="submit" class="btn-submit flex-center txt-md font-weight-bold mobile-show">Next</button>
        </form>
        <div class="text-q">Have an account?<a href="" title="">Sign in</a></div>
    </div>
    <div class="col-right pc-show">
        <div class="img-wrapper"><img src="./assets/img/img-ds.png" alt=""></div>
        <div class="box-text text-center">
            <h2 class="fw-b mb-2">Make your spending Smarter & Faster.</h2>
            <p class="txt-mh fw-m">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-screen">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="content text-center">
                    <div class="img-wrapper mb-3"><img src="./assets/img/mobile-1.svg" class="mx-auto" alt=""></div>
                    <h4 class="txt-lg fw-b mb-3">Add To Home Screen</h4>
                    <div class="text txt-md fw-m txt-gray">
                        <p>To install the app, you need to add this website to your home screen.</p>
                        <p>Tap the Share icon <i class="icon-upload"></i> in your Safari and choose Add to Home Screen in the options. Then open the Wealify app on your home screen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-wrong">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="content text-center">
                    <div class="img-wrapper mb-3"><img src="./assets/img/mobile-2.svg" class="mx-auto" alt=""></div>
                    <h4 class="txt-lg fw-b mb-3">Wrong browser detected</h4>
                    <div class="text txt-md fw-m txt-gray">
                        <p>To install the app, you need to add this website to your home screen.</p>
                        <p>Please open Wealify.com in Safari to install this app. Learn more about progressive web apps <a href="" class="fw-b text-orange">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>