<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Convert</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Convert</div>
        </div>
    </div>
    <div class="body-page">
        <div class="balance fw-sm mb-3">Balance: <span class="txt-md fw-b text-orange">456,789 eVND</span></div>
        <div class="convert">
            <div class="pr mb-3">
                <div class="item">
                    <h4 class="fw-b mb-1">You pay</h4>
                    <input type="number" name="" placeholder="0">
                    <span class="d-block mt-1 fw-sm txt-gray">eVND</span>
                </div>
                <div class="item">
                    <h4 class="fw-b mb-1">You pay</h4>
                    <input type="number" name="" placeholder="0">
                    <span class="d-block mt-1 fw-sm txt-gray">USD</span>
                </div>
                <button type="button" class="btn-convert flex-center"></button>
            </div>
            <button type="button" class="btn-submit w-100 txt-md fw-b">Convert</button>
            <ul class="info fw-sm mt-3">
                <li class="flex-lc">
                    <div class="txt-gray w-50">Quote</div>
                    <div class="flex-lc w-50">
                        <p>1 USD ~ 24.120 VND</p>
                        <button type="button" class="btn-change ml-2"></button>
                    </div>
                </li>
                <li class="flex-lc">
                    <div class="txt-gray w-50">Fee</div>
                    <div class="flex-lc w-50">0%</div>
                </li>
            </ul>
        </div>
    </div>
</div>