<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Invoice creation</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Invoice creation</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="pc-with-auto">
            <div class="txt-md fw-sm mb-3">Please transfer money according to the information below.</div>
            <form action="" method="" class="form-invoice">
                <div class="form-group flex-lc">
                    <label class="w-50 fw-sm txt-gray mb-0">PingPong account name</label>
                    <input class="w-50" type="text" name="" value="Thu Trang Vuong">
                </div>
                <div class="form-group flex-lc">
                    <label class="w-50 fw-sm txt-gray mb-0">PingPong email address</label>
                    <input class="w-50" type="email" name="" value="antelopee@gmail.com">
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-pr w-100 flex-center txt-md fw-b">Create Invoice</button>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-topup-wallet-invoice">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="" title="" class="btn-download"></a>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="img-invoice"><img src="./../assets/img/image880.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>