<main>
    <div class="wealify-account no-bg pr">
        <div class="col-left">
            <div class="pc-show">
                <div class="flex-center">
                    <a href="/" class="logo"><img src="./assets/img/logo-b.png" alt=""></a>
                </div>
                <a href="" title="" class="btn-back txt-mh fw-b mb-4">Back</a>
                <h1>Reset your Log in Password</h1>
            </div>
            <div class="mobile-show">
                <div class="header pr">
                    <button type="button" onclick="history.back()" class="btn-back"></button>
                    <h1>Forgot Your Password</h1>
                </div>
            </div>
            <form action="" method="" class="wealify-form flex-col pb-0 pr">
                <div class="txt-lg fw-b mb-3 pc-show">Please enter your registered email</div>
                <div class="txt-md fw-m mb-3 mobile-show">We’ll send you a link to create a new password</div>
                <div class="form-group flex-1 pr">
                    <label>Email</label>
                    <input type="email" name="" class="">
                    <div class="error">Invalid Email Address</div>
                </div>
                <button type="submit" class="btn-submit w-100 flex-center txt-md fw-b">Next</button>
            </form>
        </div>
        <div class="col-right pc-show">
            <div class="img-wrapper"><img src="./assets/img/img-ds.png" alt=""></div>
            <div class="box-text text-center">
                <h2 class="fw-b mb-2">Make your spending Smarter & Faster.</h2>
                <p class="txt-mh fw-m">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
            </div>
        </div>
    </div>
</main>