<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Verify Your Indentity</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav pb-sm flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Security Verification</div>
        </div>
    </div>
    <div class="body-page lg">
        <div class="verify flex-col">
            <div class="txt-md fw-m">Please enter the verification code sent to <strong>*******789</strong></div>
            <form method="get" class="form-otp mt-3 flex-1" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                <div class="box-input flex">
                    <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                    <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                    <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                    <span class="space pc-show">-</span>
                    <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                    <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
                    <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" />
                </div>
            </form>
            <div class="text-resend">Did not receive OTP? <span>Resend OTP in 45s</span></div>
        </div>
    </div>

</div>