<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 2</div>
        </div>
        <div class="progress"><div class="value" style="width: 60%"></div></div>
    </div>
    <div class="body-page lg">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="progress"><div class="value" style="width: 60%"></div></div>
            <div class="mb-3">
                <h1 class="title">Identity verification</h1>
            </div>
            <div class="upload mb-4">
                <h4 class="title-sb mb-3">Upload Image of ID Card</h4>
                <div class="upload-note">
                    <div class="item">
                        <div class="img"><img src="./../assets/img/img-id-1.jpg" alt=""></div>
                        <div class="flex-center">
                            <i class="icon-yes"></i>
                            <span class="fw-sm">Good</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="./../assets/img/img-id-2.jpg" alt=""></div>
                        <div class="flex-center">
                            <i class="icon-no"></i>
                            <span class="fw-sm">Not Good</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="./../assets/img/img-id-3.jpg" alt=""></div>
                        <div class="flex-center">
                            <i class="icon-no"></i>
                            <span class="fw-sm">Not blurry</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img"><img src="./../assets/img/img-id-4.jpg" alt=""></div>
                        <div class="flex-center">
                            <i class="icon-no"></i>
                            <span class="fw-sm">Not reflective</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="upload">
                <h4 class="title-sb mb-3">Your ID Document should:</h4>
                <div class="note-list txt-md fw-m">
                    <p>Government - issued</p>
                    <p>Original full-size, unedited documents</p>
                    <p>Readable, well-lit, coloured images</p>
                    <p>A selfie should ensure that both the ID card and the paper with the current date are clearly visible in the frame.</p>
                    <p class="no">No edited or expired documents</p>
                </div>
            </div>
            
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex-lc">
                <button type="button" class="btn-border pc-show">Cancel</button>
                <button type="button" class="btn-pr orange w-100">Next</button>
            </div>
        </form>
    </div>
</div>
