<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 2</div>
        </div>
        <div class="progress"><div class="value" style="width: 40%"></div></div>
    </div>
    <div class="body-page lg">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="progress"><div class="value" style="width: 40%"></div></div>
            <div class="mb-3">
                <h1 class="title">Identity verification</h1>
            </div>
            <div class="form-group">
                <label>Country of Issuse</label>
                <div class="box-select pr">
                    <div class="selected flex-lc pr">
                        <div class="icon"><img src="./../assets/img/vnd.svg" alt=""></div>
                        <div class="name txt-md pl-2">Viet Nam</div>
                    </div>
                    <ul class="select-list">
                        <li data-icon="./../assets/img/usd.svg" data-name="USD">
                            <div class="flex-lc">
                                <img src="./../assets/img/usd.svg" alt="">
                                <span>USD</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/vnd.svg" data-name="VND">
                            <div class="flex-lc">
                                <img src="./../assets/img/vnd.svg" alt="">
                                <span>VND</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/gbp.svg" data-name="GBP">
                            <div class="flex-lc">
                                <img src="./../assets/img/gbp.svg" alt="">
                                <span>GBP</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/eur.svg" data-name="EUR">
                            <div class="flex-lc">
                                <img src="./../assets/img/eur.svg" alt="">
                                <span>EUR</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/hkd.svg" data-name="HKD">
                            <div class="flex-lc">
                                <img src="./../assets/img/hkd.svg" alt="">
                                <span>HKD</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/aud.svg" data-name="AUD">
                            <div class="flex-lc">
                                <img src="./../assets/img/aud.svg" alt="">
                                <span>AUD</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div class="mb-3">
                    <h4 class="title-sb mb-2">Use a valid government-issued document</h4>
                    <p class="txt-md fw-m txt-gray">Selecting one of following documents listed below to upload*</p>
                </div>
                <div class="box-choose">
                    <label class="flex-lc txt-md fw-m">
                        <input type="radio" name="security">
                        <span class="checked"></span>
                        <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                        Personal information
                    </label>
                    <label class="flex-lc txt-md fw-m">
                        <input type="radio" name="security">
                        <span class="checked"></span>
                        <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                        Personal information
                    </label>
                    <label class="flex-lc txt-md fw-m">
                        <input type="radio" name="security">
                        <span class="checked"></span>
                        <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                        Personal information
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>ID Number</label>
                <input type="text" name="">
            </div>
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex-lc">
                <button type="button" class="btn-border pc-show">Cancel</button>
                <button type="button" class="btn-pr orange w-100">Next</button>
            </div>
        </form>
    </div>
</div>
