<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 2</div>
        </div>
        <div class="progress"><div class="value" style="width: 20%"></div></div>
    </div>
    <div class="body-page lg">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="progress"><div class="value" style="width: 20%"></div></div>
            <div class="mb-3">
                <h1 class="title mb-2">Select Country of Residence</h1>
                <p class="txt-md fw-m txt-gray">Please ensure your country of residence matches your valid ID. Your privileges could change based on the selection</p>
            </div>
            <div class="box-select mb-4 pr">
                <div class="selected txt-md fw-m pr">
                    <div class="name">Select Country of Residence*</div>
                </div>
                <ul class="select-list">
                    <li data-name="Viet Nam" class="txt-md fw-m">Viet Nam</li>
                </ul>
            </div>
            <div class="requirement">
                <h4 class="mb-3">Requirements</h4>
                <ul class="list">
                    <li>
                        <div class="icon flex-center"><img src="./../assets/img/userlist.svg" alt=""></div>
                        <div class="text txt-md fw-m pl-2">Personal information</div>
                    </li>
                    <li>
                        <div class="icon flex-center"><img src="./../assets/img/user-id.svg" alt=""></div>
                        <div class="text txt-md fw-m pl-2">Government-issued ID</div>
                    </li>
                    <li>
                        <div class="icon flex-center"><img src="./../assets/img/user-focus.svg" alt=""></div>
                        <div class="text txt-md fw-m pl-2">Facial recognition</div>
                    </li>
                </ul>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex-lc">
                <button type="button" class="btn-border pc-show">Cancel</button>
                <button type="button" class="btn-pr orange w-100">Next</button>
            </div>
        </form>
    </div>
</div>
