<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 2</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page lg">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="progress"><div class="value" style="width: 100%"></div></div>
            <div class="mb-3">
                <h1 class="title">Identity verification</h1>
            </div>
            <div class="upload mb-4">
                <div class="upload-list">
                    <div class="item">
                        <h4 class="title-sb mb-2">Upload front of document</h4>
                        <div class="box-upload">
                            <div class="upload flex-center pr">
                                <input id="upload_front_page" type="file" multiple required />
                                <i class="icon-upload"></i>
                                <span class="fw-sm txt-gray">Upload front page <sub>*</sub></span>
                            </div>
                            <div id="image_front_holder" class="image-holder flex"></div>
                        </div>
                    </div>
                    <div class="item">
                        <h4 class="title-sb mb-2">Upload back of document</h4>
                        <div class="box-upload">
                            <div class="upload flex-center pr">
                                <input id="upload_back_page" type="file" multiple required />
                                <i class="icon-upload"></i>
                                <span class="fw-sm txt-gray">Upload back page<sub>*</sub></span>
                            </div>
                            <div id="image_back_holder" class="image-holder flex"></div>
                        </div>
                    </div>
                    <div class="item">
                        <h4 class="title-sb mb-2">Upload a selfie holding document alongside a whitepaper displaying the current date</h4>
                        <div class="box-upload">
                            <div class="upload flex-center pr">
                                <input id="upload_photo" type="file" multiple required />
                                <i class="icon-upload"></i>
                                <span class="fw-sm txt-gray">Upload a photo holding card<sub>*</sub></span>
                            </div>
                            <div id="image_holder" class="image-holder flex"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex-lc">
                <button type="button" class="btn-border pc-show">Cancel</button>
                <button type="button" class="btn-pr orange w-100">Next</button>
            </div>
        </form>
    </div>
</div>
