<div class="page-layout bg-dc px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <a href="" title="" class="btn-home"></a>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 2</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page lg">
        <div class="kyc-finish py-5 text-center">
            <div class="img mb-4"><img src="./../assets/img/img-thank.svg" class="mx-auto" alt=""></div>
            <h1 class="txt-xl fw-b mb-1">Thank you!</h1>
            <div class="txt-mh fw-b mb-1">We are processing your data</div>
            <div class="txt-md fw-m txt-gray">The review process typically takes approximately 1-2 days to complete. Please allow for up to 2 days of processing before contacting customer support</div>
            <a href="" title="" class="btn-pr btn-home">Back to home</a>
        </div>
    </div>
</div>
