<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 3</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page lg">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="progress"><div class="value" style="width: 30%"></div></div>
            <div class="mb-3">
                <h1 class="title">Address Verification</h1>
            </div>
            <div class="form-group">
                <label>Fill in your currrent residential address</label>
                <input type="text" name="">
            </div>
            <div class="text-list txt-md fw-m txt-gray">
                <p>Please provide the complete address information including house number, street name, city, state/province, postal/ZIP code, and country.</p>
                <p>E.g. 61 Nguy Nhu Kon Tum, phuong Thanh Xuan Trung, quan Thanh Xuan, Ha Noi</p>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex-lc">
                <button type="button" class="btn-border pc-show">Cancel</button>
                <button type="button" class="btn-pr orange w-100">Next</button>
            </div>
        </form>
    </div>
</div>
