<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">KYC level 3</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page lg">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="progress"><div class="value" style="width: 30%"></div></div>
            <div class="mb-3">
                <h1 class="title">Address Verification</h1>
            </div>
            <div class="form-group">
                <div class="text mb-3">
                    <h4 class="title-sb mb-2">Choose a document to upload</h4>
                    <p class="txt-md fw-m txSelecting one of following documents listed below to upload*"></p>
                </div>
                <label>Document</label>
                <div class="box-select pr">
                    <div class="selected txt-md fw-m pr">
                        <div class="name">Select the document</div>
                    </div>
                    <ul class="select-list">
                        <li data-name="Bank Statement" class="txt-md fw-m">Bank Statement</li>
                        <li data-name="Internet Service Bills" class="txt-md fw-m">Internet Service Bills</li>
                        <li data-name="Credit note" class="txt-md fw-m">Credit note</li>
                        <li data-name="Tax Statement" class="txt-md fw-m">Tax Statement</li>
                        <li data-name="Bank reference letter" class="txt-md fw-m">Bank reference letter</li>
                    </ul>
                </div>
            </div>
            <div class="box-upload mb-4">
                <h4 class="title-sb mb-3">Address Document <sup>*</sup></h4>
                <div class="upload flex-center pr">
                    <input id="upload_file" type="file" multiple required />
                    <i class="icon-upload"></i>
                    <span class="fw-sm txt-gray">Upload file (.pdf, .docx)</span>
                </div>
                <div id="file_holder"></div>
            </div>
            <div class="note-list">
                <h4 class="txt-md fw-sm">Your ID Document should :</h4>
                <p>Proof of address must be issued within three months</p>
                <p>Address proof must contain name and address information</p>
                <p>We don’t accept screenshots. Please provide clear and complete proof of address, no alteration</p>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex-lc">
                <button type="submit" class="btn-pr w-100">Submit</button>
            </div>
        </form>
    </div>
</div>
