<div class="wealify-account pr">
    <div class="col-left">
        <a href="/" class="logo"><img src="./assets/img/logo-b.png" alt=""></a>
        <h1 class="mobile-show"><span>Hello!</span><span>Sign in to</span><span>Wealify Account</span></h1>
        <h1 class="pc-show"><span>Hello!</span><span>Sign in to Wealify Account</span></h1>
        <form action="" method="" class="wealify-form">
            <div class="form-group pr">
                <label>Email</label>
                <input type="email" name="">
            </div>
            <div class="form-group pr">
                <label>Password</label>
                <input type="password" name="" id="password-field">
                <span toggle="#password-field" class="toggle-password"></span>
                <div class="error">Wrong email or password. Try again or select forgot password to reset.</div>
            </div>
            <button type="submit" class="btn-submit flex-center txt-md fw-b mt-4">Sign In</button>
            <div class="forgot-password"><a href="javascript:;" data-toggle="modal" data-target="#modal-forgot-password">Forgot Password?</a></div>
        </form>
        <div class="text-q">New to Wealify? <a href="" title="">Sign up</a></div>
    </div>
    <div class="col-right pc-show">
        <div class="img-wrapper"><img src="./assets/img/img-ds.png" alt=""></div>
        <div class="box-text text-center">
            <h2 class="fw-b mb-2">Make your spending Smarter & Faster.</h2>
            <p class="txt-mh fw-m">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
        </div>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-forgot-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <button type="button" class="btn-back"></button>
                <h2 class="modal-title">Forgot your password</h2>
                <p class="txt-md fw-m">We’ll send you a link to create a new password</p>
            </div>
            <div class="modal-body">
                <form action="" method="" class="wealify-form">
                    <div class="form-group pr">
                        <label>Email</label>
                        <input type="email" name="">
                        <div class="error">Invalid Email Address Email does not exist</div>
                    </div>
                    <button type="submit" class="btn-submit txt-md font-weight-bold">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>