<main>
    <div class="wealify-maintenance pr">
        <div class="flex-center">
            <a href="/" class="logo"><img src="./assets/img/logo-b.png" alt=""></a>
        </div>
        <div class="img-wrapper">
            <img src="./assets/img/img-maintenance.svg" alt="">
        </div>
        <div class="box-text text-center fw-m">
            <h1 class="fw-m mb-3">Website under maintenance</h1>
            <p class="txt-gray">This website is currently undergoing scheduled maintenance. We should be back shortly.</p>
        </div>
    </div>
</main>