<div class="dashboard">
    <div class="mobile-show">
        <div class="top-page mb-3 flex-lc pr">
            <button type="button" class="btn-back" onclick="history.back()"></button>
            <h1 class="title txt-lg fw-b">Notification</h1>
        </div>
        <div class="box-tab">
            <ul class="tab nav mb-4">
                <li><a href="#required" data-toggle="tab" class="active">Important (10)</a></li>
                <li><a href="#history" data-toggle="tab">System (10)</a></li>
            </ul>
            <div class="tab-content">
                <div id="required" class="tab-pane fade show active">
                    <ul class="list">
                        <li>
                            <div class="icon flex-center">
                                <img src="./../assets/img/logo.svg" alt="">
                                <span class="status"></span>
                            </div>
                            <div class="detail">
                                <h4 class="txt-md fw-b mb-1">KYC 1 process successful</h4>
                                <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                            </div>
                        </li>
                        <li>
                            <div class="icon flex-center">
                                <img src="./../assets/img/arrow-up-1.svg" alt="">
                                <span class="status"></span>
                            </div>
                            <div class="detail">
                                <h4 class="txt-md fw-b mb-1">Topped-up money to wallet from PingPong: + 1.000 eVND</h4>
                                <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                            </div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                            <div class="detail">
                                <h4 class="txt-md fw-b mb-1">Withdrew money from wallet to BIDV: -1.000 eVND</h4>
                                <time class="txt-xs fw-m txt-gray mt-2">2 hours ago</time>
                            </div>
                        </li>
                        <li>
                            <div class="icon flex-center"><img src="./../assets/img/refresh-1.svg" alt=""></div>
                            <div class="detail">
                                <h4 class="txt-md fw-b mb-1">Converted 1.000 eVND to USD: +1.000 USD</h4>
                                <time class="txt-xs fw-m txt-gray mt-2">2 days ago</time>
                            </div>
                        </li>
                        <li class="old">
                            <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                            <div class="detail">
                                <h4 class="txt-md fw-b mb-1">Your card 123456.Thu Trang Vuong has been frozen</h4>
                                <p class="txt-xs fw-m txt-gray">We've detected your card 123456 is at risk of fraud. To protect your account, we've blocked your card temporarily. If you have any assistance or concern, please contact to our support team</p>
                                <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                            </div>
                        </li>
                        <li class="old">
                            <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                            <div class="detail">
                                <h4 class="txt-md fw-b mb-1">Top up 1.000 eVND from PingPong unsuccessful</h4>
                                <p class="txt-xs fw-m txt-gray">Something went wrong. Please check your top up details and try again.</p>
                                <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="history" class="tab-pane fade">
                    <div class="no-data flex-center text-center">
                        <div class="img-wrapper mb-3">
                            <img src="./../assets/img/bell.svg" alt="">
                        </div>
                        <div class="text txt-md fw-b">You don't have any notifications</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pc-show">
        <div class="layout-page flex">
            <div class="sidebar pr">
                <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
                <button type="button" class="btn-toggle-sidebar"></button>
                <h2 class="txt-lg fw-sm mb-3">Overview</h2>
                <ul class="menu">
                    <li>
                        <a href="" title="" class="flex-lc active">
                            <i class="icon icon-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-card"></i>
                            <span>Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-transaction"></i>
                            <span>Transaction & Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-faq"></i>
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-chat"></i>
                            <span>Chat with us</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-clock"></i>
                            <span>Term of service</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div class="top-bar-fixed">
                    <div class="box-notifi flex-lc">
                        <div class="notifi">
                            <button type="button" class="btn-flag"><span>2</span></button>
                        </div>
                        <div class="notifi pr">
                            <button type="button" class="btn-notifi"><span>2</span></button>
                            <div class="box-dropdown bg-b">
                                <ul class="tab nav">
                                    <li><a href="#important-pc" title="" data-toggle="tab" class="active">Important (10)</a></li>
                                    <li><a href="#system-pc" title="" data-toggle="tab">System (10)</a></li>
                                </ul>
                                <div class="tab-content box-tab">
                                    <div id="important-pc" class="tab-pane fade show active">
                                        <ul class="list">
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/logo.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">KYC 1 process successful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/arrow-up-1.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Topped-up money to wallet from PingPong: + 1.000 eVND</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Withdrew money from wallet to BIDV: -1.000 eVND</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 hours ago</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/refresh-1.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Converted 1.000 eVND to USD: +1.000 USD</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 days ago</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Your card 123456.Thu Trang Vuong has been frozen</h4>
                                                    <p class="txt-xs fw-m txt-gray">We've detected your card 123456 is at risk of fraud. To protect your account, we've blocked your card temporarily. If you have any assistance or concern, please contact to our support team</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Top up 1.000 eVND from PingPong unsuccessful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Something went wrong. Please check your top up details and try again.</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="system-pc" class="tab-pane fade">
                                        <div class="p-4 mt-3 text-center">
                                            <div class="img-wrapper mb-3"><img src="./../assets/img/bell.svg" width="48" class="mx-auto" alt=""></div>
                                            <div class="text txt-md fw-b">You don't have any notifications</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account navbar">
                        <div class="avatar flex-lc pr" data-toggle="dropdown">
                            <img src="./../assets/img/avatar.png" alt="">
                            <span class="txt-md fw-b pl-2">Trang Vuong</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="" title="">Profile</a></li>
                            <li><a href="" title="">Setting</a></li>
                            <li><a href="" title="">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="box-tab">
                        <ul class="tab nav mb-4">
                            <li><a href="#required-pc" data-toggle="tab" class="active">Important (10)</a></li>
                            <li><a href="#history-pc" data-toggle="tab">System (10)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="required-pc" class="tab-pane fade show active">
                                <ul class="list">
                                    <li>
                                        <div class="icon flex-center">
                                            <img src="./../assets/img/logo.svg" alt="">
                                            <span class="status"></span>
                                        </div>
                                        <div class="detail">
                                            <h4 class="txt-md fw-b mb-1">KYC 1 process successful</h4>
                                            <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                            <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon flex-center">
                                            <img src="./../assets/img/arrow-up-1.svg" alt="">
                                            <span class="status"></span>
                                        </div>
                                        <div class="detail">
                                            <h4 class="txt-md fw-b mb-1">Topped-up money to wallet from PingPong: + 1.000 eVND</h4>
                                            <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                            <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                                        <div class="detail">
                                            <h4 class="txt-md fw-b mb-1">Withdrew money from wallet to BIDV: -1.000 eVND</h4>
                                            <time class="txt-xs fw-m txt-gray mt-2">2 hours ago</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon flex-center"><img src="./../assets/img/refresh-1.svg" alt=""></div>
                                        <div class="detail">
                                            <h4 class="txt-md fw-b mb-1">Converted 1.000 eVND to USD: +1.000 USD</h4>
                                            <time class="txt-xs fw-m txt-gray mt-2">2 days ago</time>
                                        </div>
                                    </li>
                                    <li class="old">
                                        <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                        <div class="detail">
                                            <h4 class="txt-md fw-b mb-1">Your card 123456.Thu Trang Vuong has been frozen</h4>
                                            <p class="txt-xs fw-m txt-gray">We've detected your card 123456 is at risk of fraud. To protect your account, we've blocked your card temporarily. If you have any assistance or concern, please contact to our support team</p>
                                            <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                        </div>
                                    </li>
                                    <li class="old">
                                        <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                        <div class="detail">
                                            <h4 class="txt-md fw-b mb-1">Top up 1.000 eVND from PingPong unsuccessful</h4>
                                            <p class="txt-xs fw-m txt-gray">Something went wrong. Please check your top up details and try again.</p>
                                            <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div id="history-pc" class="tab-pane fade">
                                <div class="no-data flex-center text-center">
                                    <div class="img-wrapper mb-3">
                                        <img src="./../assets/img/bell.svg" alt="">
                                    </div>
                                    <div class="text txt-md fw-b">You don't have any notifications</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
