<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Verify your personal information</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Verify your personal information</div>
        </div>
    </div>
    <div class="body-page">
        <form action="" method="" class="form-wealify fix-bt flex-col">
            <div class="txt-md fw-m mb-4">Please provide a clear le face which is not covered or obscured in any way, and it fits within the frame</div>
            <div class="box-upload flex">
                <div class="upload flex-center pr">
                    <input id="fileUpload" type="file" multiple required />
                    <i class="icon-upload"></i>
                    <span class="fw-sm txt-gray">Upload file</span>
                </div>
                <div id="image-holder" class="image-holder flex"></div>
            </div>
            <div class="flex-1"></div>
            <button type="button" class="btn-pr w-100 mt-2">Submit</button>
        </form>
    </div>
</div>