<div class="dashboard">
    <div class="mobile-show">
        <div class="top-page mb-3 flex-lc pr">
            <button type="button" class="btn-back" onclick="history.back()"></button>
            <h1 class="title txt-lg fw-b">Pending action</h1>
        </div>
        <div class="box-tab">
            <ul class="tab nav mb-4">
                <li><a href="#required" data-toggle="tab" class="active">Required</a></li>
                <li><a href="#history" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div id="required" class="tab-pane fade show active">
                    <div class="list">
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-message.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload text</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide your detail address</p>
                            </div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-message.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload text</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide your detail address</p>
                            </div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-upload.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload file</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide a clear photo of your ID card with a clearly visible face...</p>
                            </div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-upload.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload file</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide a clear photo of your ID card with a clearly visible face...</p>
                            </div>
                        </a>
                    </div>
                    <div class="no-data flex-center text-center" style="display: none">
                        <div class="img-wrapper mb-3">
                            <img src="./../assets/img/img-search.svg" alt="">
                        </div>
                        <div class="text txt-md fw-b">No additional document is required at this moment</div>
                    </div>
                </div>
                <div id="history" class="tab-pane fade">
                    <div class="list">
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-message.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload text</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide your detail address</p>
                            </div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-message.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload text</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide your detail address</p>
                            </div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-upload.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload file</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide a clear photo of your ID card with a clearly visible face...</p>
                            </div>
                        </a>
                        <a href="" class="flex-lc">
                            <div class="icon flex-center"><img src="./../assets/img/icon-upload.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md fw-sm mb-1">Upload file</h4>
                                <time class="fw-m">23/03/2023</time>
                                <p class="txt-xs fw-m txt-gray">Please provide a clear photo of your ID card with a clearly visible face...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pc-show">
        <div class="layout-page flex">
            <div class="sidebar pr">
                <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
                <button type="button" class="btn-toggle-sidebar"></button>
                <h2 class="txt-lg fw-sm mb-3">Overview</h2>
                <ul class="menu">
                    <li>
                        <a href="" title="" class="flex-lc active">
                            <i class="icon icon-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-card"></i>
                            <span>Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-transaction"></i>
                            <span>Transaction & Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-faq"></i>
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-chat"></i>
                            <span>Chat with us</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-clock"></i>
                            <span>Term of service</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div class="top-bar-fixed">
                    <div class="box-notifi flex-lc">
                        <div class="notifi">
                            <button type="button" class="btn-flag"><span>2</span></button>
                        </div>
                        <div class="notifi pr">
                            <button type="button" class="btn-notifi"><span>2</span></button>
                            <div class="box-dropdown bg-b">
                                <ul class="tab nav">
                                    <li><a href="#important-pc" title="" data-toggle="tab" class="active">Important (10)</a></li>
                                    <li><a href="#system-pc" title="" data-toggle="tab">System (10)</a></li>
                                </ul>
                                <div class="tab-content box-tab">
                                    <div id="important-pc" class="tab-pane fade show active">
                                        <ul class="list">
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/logo.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">KYC 1 process successful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/arrow-up-1.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Topped-up money to wallet from PingPong: + 1.000 eVND</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Withdrew money from wallet to BIDV: -1.000 eVND</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 hours ago</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/refresh-1.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Converted 1.000 eVND to USD: +1.000 USD</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 days ago</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Your card 123456.Thu Trang Vuong has been frozen</h4>
                                                    <p class="txt-xs fw-m txt-gray">We've detected your card 123456 is at risk of fraud. To protect your account, we've blocked your card temporarily. If you have any assistance or concern, please contact to our support team</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Top up 1.000 eVND from PingPong unsuccessful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Something went wrong. Please check your top up details and try again.</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="system-pc" class="tab-pane fade">
                                        <div class="p-4 mt-3 text-center">
                                            <div class="img-wrapper mb-3"><img src="./../assets/img/bell.svg" width="48" class="mx-auto" alt=""></div>
                                            <div class="text txt-md fw-b">You don't have any notifications</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account navbar">
                        <div class="avatar flex-lc pr" data-toggle="dropdown">
                            <img src="./../assets/img/avatar.png" alt="">
                            <span class="txt-md fw-b pl-2">Trang Vuong</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="" title="">Profile</a></li>
                            <li><a href="" title="">Setting</a></li>
                            <li><a href="" title="">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="block-main-content">
                        <div class="top flex-lc mb-4">
                            <h4 class="txt-lg fw-b">Account verification</h4>
                            <ul class="tab nav">
                                <li><a href="#required-pc" data-toggle="tab" class="txt-md fw-sm active">Required</a></li>
                                <li><a href="#history-pc" data-toggle="tab" class="txt-md fw-sm">History</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="required-pc" class="tab-pane fade show active">
                                <div class="box-table">
                                    <div class="txt-lg fw-b py-3">Sum:8</div>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Date</th>
                                            <th>Requirement</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="flex-lc">
                                                    <div class="icon"><img src="./../assets/img/icon-message.svg" alt=""></div>
                                                    <div class="info">
                                                        <h5>Upload text</h5>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>20/3/2023</td>
                                            <td><p class="fw-m">Please provide your detail address</p></td>
                                            <td><div class="flex-center"><a href="" title="" class="btn-upload txt-md fw-b">Upload</a></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flex-lc">
                                                    <div class="icon"><img src="./../assets/img/icon-message.svg" alt=""></div>
                                                    <div class="info">
                                                        <h5>Upload text</h5>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>20/3/2023</td>
                                            <td><p class="fw-m">Please provide your detail address</p></td>
                                            <td><div class="flex-center"><a href="" title="" class="btn-upload txt-md fw-b">Upload</a></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="flex-lc">
                                                    <div class="icon"><img src="./../assets/img/icon-message.svg" alt=""></div>
                                                    <div class="info">
                                                        <h5>Upload text</h5>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>20/3/2023</td>
                                            <td><p class="fw-m">Please provide your detail address</p></td>
                                            <td><div class="flex-center"><a href="" title="" class="btn-upload txt-md fw-b">Upload</a></div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-pagination flex-center">
                                    <div class="mr-3">
                                        <select name="" class="select2-min">
                                            <option value="">10 line/page</option>
                                            <option value="">20 line/page</option>
                                        </select>
                                    </div>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="history-pc" class="tab-pane fade">
                                <div class="box-table">
                                    <div class="txt-lg fw-b py-3">Sum:8</div>
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Requirement</th>
                                            <th>Date requested</th>
                                            <th>Date submitted</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><p class="fw-m">Please provide a clear photo of your ID card with a clearly visible face which is not covered or obscured in any way, and it fits within the frame</p></td>
                                            <td>2/12/2020</td>
                                            <td>2/12/2020</td>
                                            <td><div class="status done">Done</div></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5"></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-pagination flex-center">
                                    <div class="mr-3">
                                        <select name="" class="select2-min">
                                            <option value="">10 line/page</option>
                                            <option value="">20 line/page</option>
                                        </select>
                                    </div>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal lg fade" id="modal-verify">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-2">Verify your personal information</h2>
                <p class="txt-md fw-m">Please provide your detail address</p>
            </div>
            <div class="modal-body">
                <form action="" method="" class="form-wealify mt-2">
                    <textarea placeholder="Enter a description..."></textarea>
                    <button type="button" class="btn-pr w-100 mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal lg fade" id="modal-upload">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-2">Verify your personal information</h2>
                <p class="txt-md fw-m">Please provide a clear photo of your ID card with a clearly visible face which is not covered or obscured in any way, and it fits within the frame</p>
            </div>
            <div class="modal-body">
                <form action="" method="" class="form-wealify mt-2">
                    <div class="box-upload flex">
                        <div class="upload flex-center pr">
                            <input id="fileUpload" type="file" multiple required />
                            <i class="icon-upload"></i>
                            <span class="fw-sm txt-gray">Upload file</span>
                        </div>
                        <div id="image-holder" class="image-holder flex"></div>
                    </div>
                    <button type="button" class="btn-pr w-100 mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>