<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Change Phone Number</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Change Phone Number</div>
        </div>
    </div>
    <div class="body-page">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="txt-md fw-m mb-3">Are you sure that you want to change your phone number</div>
            <div class="form-group pr">
                <div class="box-edit-phone flex-lc">
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="icon"><img src="./../assets/img/usd.svg" alt=""></div>
                            <div class="name pl-1 fw-b">USD</div>
                        </div>
                        <ul class="select-list">
                            <li data-icon="./../assets/img/usd.svg" data-name="USD">
                                <div class="flex-lc">
                                    <img src="./../assets/img/usd.svg" alt="">
                                    <span>USD</span>
                                </div>
                            </li>
                            <li data-icon="./../assets/img/vnd.svg" data-name="VND">
                                <div class="flex-lc">
                                    <img src="./../assets/img/vnd.svg" alt="">
                                    <span>VND</span>
                                </div>
                            </li>
                            <li data-icon="./../assets/img/gbp.svg" data-name="GBP">
                                <div class="flex-lc">
                                    <img src="./../assets/img/gbp.svg" alt="">
                                    <span>GBP</span>
                                </div>
                            </li>
                            <li data-icon="./../assets/img/eur.svg" data-name="EUR">
                                <div class="flex-lc">
                                    <img src="./../assets/img/eur.svg" alt="">
                                    <span>EUR</span>
                                </div>
                            </li>
                            <li data-icon="./../assets/img/hkd.svg" data-name="HKD">
                                <div class="flex-lc">
                                    <img src="./../assets/img/hkd.svg" alt="">
                                    <span>HKD</span>
                                </div>
                            </li>
                            <li data-icon="./../assets/img/aud.svg" data-name="AUD">
                                <div class="flex-lc">
                                    <img src="./../assets/img/aud.svg" alt="">
                                    <span>AUD</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input type="text" name="" value="" placeholder="Mobile number">
                </div>
            </div>
            <div class="flex-1"></div>
            <button type="submit" class="btn-pr w-100">Save</button>
        </form>
    </div>
</div>