<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Change Name</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Change Name</div>
        </div>
    </div>
    <div class="body-page">
        <form action="" method="" class="form-wealify flex-col fix-bt">
            <div class="txt-md fw-m mb-3">Are you sure that you want to change your name?</div>
            <div class="form-group pr">
                <input type="text" name="" value="Antelopee">
                <button type="reset" class="btn-cancel"></button>
            </div>
            <div class="flex-1"></div>
            <button type="submit" class="btn-pr w-100">Save</button>
        </form>
    </div>
</div>