<div class="dashboard pb-h">
    <div class="mobile-show">
        <div class="top-page mb-3 flex-lc pr">
            <a href="" title="" class="logo"><img src="./../assets/img/logo.svg" alt=""></a>
            <h1 class="title txt-lg fw-b">Profile</h1>
            <button type="button" class="btn-filter"></button>
        </div>
        <div class="box-kyc pr">
            <div class="kyc-bar pr">
                <div class="kyc-progress"><div class="value" style="width: 50%"></div></div>
                <ul class="kyc-level flex">
                    <li class="active">
                        <div class="icon flex-center"><img src="./../assets/img/kyc-1.svg" alt=""></div>
                        <span class="fw-sm txt-gray">Level 1</span>
                        <div class="level-tooltip txt-xs fw-m">
                            <p>Top up Wealify account via your prefered E-wallet or Crypto wallet.</p>
                            <p>Effortlessly withdraw money to Crypto wallet</p>
                            <p>Zero-fee transfer to multiple Wealify’s users</p>
                        </div>
                    </li>
                    <li class="active">
                        <span class="fw-sm txt-gray">Level 2</span>
                        <div class="level-tooltip txt-xs fw-m">
                            Customer who have not completed KYC level 2 will only be able to Top up money - won’t be able to exchange, withdraw money
                        </div>
                    </li>
                    <li>
                        <span class="fw-sm txt-gray">Level 3</span>
                        <div class="level-tooltip txt-xs fw-m">
                            Customer who have not completed KYC level 2 will only be able to Top up money - won’t be able to exchange, withdraw money
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex-center mt-4">
                <button type="button" class="btn-pr">Start KYC level 2</button>
            </div>
        </div>
        <div class="profile">
            <div class="item">
                <h4 class="txt-md fw-b mb-1">Email</h4>
                <p class="fw-m txt-gray">antelopee@thehumaninc.com</p>
            </div>
            <div class="item">
                <h4 class="txt-md fw-b mb-1">Name</h4>
                <p class="fw-m txt-gray">Vuong Thu Trang</p>
                <button type="button" class="btn-edit flex-center" data-toggle="modal" data-target="#modal-change-name"><span class="txt-md fw-sm pr-2">Edit</span><i class="icon-edit"></i></button>
            </div>
            <div class="item">
                <h4 class="txt-md fw-b mb-1">Phone number</h4>
                <p class="fw-m txt-gray">123456789</p>
                <button type="button" class="btn-edit flex-center" data-toggle="modal" data-target="#modal-change-name"><span class="txt-md fw-sm pr-2">Edit</span><i class="icon-edit"></i></button>
            </div>
            <div class="item">
                <h4 class="txt-md fw-b mb-1">Password</h4>
                <p class="fw-m txt-gray">Last modified: Sep 05, 2023</p>
                <button type="button" class="btn-edit flex-center" data-toggle="modal" data-target="#modal-change-name"><span class="txt-md fw-sm pr-2">Edit</span><i class="icon-edit"></i></button>
            </div>
        </div>
        <ul class="menu-bottom flex">
            <li><a href="" title=""><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="" title=""><i class="icon icon-cart"></i><span>Card</span></a></li>
            <li><a href="" title="" class="active"><i class="icon icon-profile"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="pc-show">
        <div class="layout-page flex">
            <div class="sidebar pr">
                <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
                <button type="button" class="btn-toggle-sidebar"></button>
                <h2 class="txt-lg fw-sm mb-3">Overview</h2>
                <ul class="menu">
                    <li>
                        <a href="" title="" class="flex-lc active">
                            <i class="icon icon-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-card"></i>
                            <span>Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-transaction"></i>
                            <span>Transaction & Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-faq"></i>
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-chat"></i>
                            <span>Chat with us</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-clock"></i>
                            <span>Term of service</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div class="top-bar-fixed">
                    <div class="box-notifi flex-lc">
                        <div class="notifi">
                            <button type="button" class="btn-flag"><span>2</span></button>
                        </div>
                        <div class="notifi pr">
                            <button type="button" class="btn-notifi"><span>2</span></button>
                            <div class="box-dropdown bg-b">
                                <ul class="tab nav">
                                    <li><a href="#important-pc" title="" data-toggle="tab" class="active">Important (10)</a></li>
                                    <li><a href="#system-pc" title="" data-toggle="tab">System (10)</a></li>
                                </ul>
                                <div class="tab-content box-tab">
                                    <div id="important-pc" class="tab-pane fade show active">
                                        <ul class="list">
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/logo.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">KYC 1 process successful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/arrow-up-1.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Topped-up money to wallet from PingPong: + 1.000 eVND</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Withdrew money from wallet to BIDV: -1.000 eVND</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 hours ago</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/refresh-1.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Converted 1.000 eVND to USD: +1.000 USD</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 days ago</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Your card 123456.Thu Trang Vuong has been frozen</h4>
                                                    <p class="txt-xs fw-m txt-gray">We've detected your card 123456 is at risk of fraud. To protect your account, we've blocked your card temporarily. If you have any assistance or concern, please contact to our support team</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Top up 1.000 eVND from PingPong unsuccessful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Something went wrong. Please check your top up details and try again.</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="system-pc" class="tab-pane fade">
                                        <div class="p-4 mt-3 text-center">
                                            <div class="img-wrapper mb-3"><img src="./../assets/img/bell.svg" width="48" class="mx-auto" alt=""></div>
                                            <div class="text txt-md fw-b">You don't have any notifications</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account navbar">
                        <div class="avatar flex-lc pr" data-toggle="dropdown">
                            <img src="./../assets/img/avatar.png" alt="">
                            <span class="txt-md fw-b pl-2">Trang Vuong</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="" title="">Profile</a></li>
                            <li><a href="" title="">Setting</a></li>
                            <li><a href="" title="">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content bg-white">
                    <div class="box-kyc pr">
                        <h2 class="txt-xl fw-sm">KYC level</h2>
                        <div class="kyc-bar pr">
                            <div class="kyc-progress"><div class="value" style="width: 50%"></div></div>
                            <ul class="kyc-level flex">
                                <li class="active">
                                    <div class="icon flex-center"><img src="./../assets/img/kyc-1.svg" alt=""></div>
                                    <span class="fw-sm txt-gray">Level 1</span>
                                    <div class="level-tooltip txt-xs fw-m">
                                        <p>Top up Wealify account via your prefered E-wallet or Crypto wallet.</p>
                                        <p>Effortlessly withdraw money to Crypto wallet</p>
                                        <p>Zero-fee transfer to multiple Wealify’s users</p>
                                    </div>
                                </li>
                                <li class="active">
                                    <span class="fw-sm txt-gray">Level 2</span>
                                    <div class="level-tooltip txt-xs fw-m">
                                        Customer who have not completed KYC level 2 will only be able to Top up money - won’t be able to exchange, withdraw money
                                    </div>
                                </li>
                                <li>
                                    <span class="fw-sm txt-gray">Level 3</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex-center mt-4">
                            <button type="button" class="btn-pr">Start KYC level 2</button>
                        </div>
                    </div>
                    <div class="profile">
                        <h2 class="txt-xl fw-sm mb-4">My profile</h2>
                        <div class="item">
                            <h4 class="txt-md fw-b mb-1">Email</h4>
                            <p class="fw-m txt-gray">antelopee@thehumaninc.com</p>
                        </div>
                        <div class="item">
                            <h4 class="txt-md fw-b mb-1">Name</h4>
                            <p class="fw-m txt-gray">Vuong Thu Trang</p>
                            <button type="button" class="btn-edit flex-center" data-toggle="modal" data-target="#modal-change-name"><span class="txt-md fw-sm pr-2">Edit</span><i class="icon-edit"></i></button>
                        </div>
                        <div class="item">
                            <h4 class="txt-md fw-b mb-1">Phone number</h4>
                            <p class="fw-m txt-gray">123456789</p>
                            <button type="button" class="btn-edit flex-center" data-toggle="modal" data-target="#modal-change-name"><span class="txt-md fw-sm pr-2">Edit</span><i class="icon-edit"></i></button>
                        </div>
                        <div class="item">
                            <h4 class="txt-md fw-b mb-1">Password</h4>
                            <p class="fw-m txt-gray">Last modified: Sep 05, 2023</p>
                            <button type="button" class="btn-edit flex-center" data-toggle="modal" data-target="#modal-change-name"><span class="txt-md fw-sm pr-2">Edit</span><i class="icon-edit"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-bottom fade" id="modal-change-name">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-2">Change Name</h2>
                <p class="txt-md fw-m txt-gray">Are you sure that you want to change your name?</p>
            </div>
            <div class="modal-body">
                <form action="" method="" class="wealify-form">
                    <div class="form-group pr">
                        <input type="text" name="" value="Nguyễn Văn A">
                        <button type="reset" class="btn-cancel"></button>
                    </div>
                    <button type="button" class="btn-pr w-100 mt-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-change-phone">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-2">Change Phone Number</h2>
                <p class="txt-md fw-m txt-gray">Are you sure that you want to change your phone number?</p>
            </div>
            <div class="modal-body">
                <form action="" method="" class="wealify-form">
                    <div class="form-group pr">
                        <div class="box-edit-phone flex-lc">
                            <select name="" class="txt-md">
                                <option value="">US</option>
                                <option value="">VN</option>
                            </select>
                            <input type="text" name="" value="+1 (555) 000-0000">
                            <button type="reset" class="btn-cancel"></button>
                        </div>
                    </div>
                    <button type="button" class="btn-pr w-100 mt-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-reset-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Reset Password</h2>
            </div>
            <div class="modal-body">
                <form action="" method="" class="wealify-form">
                    <div class="form-group pr">
                        <label>Current Password</label>
                        <input type="password" name="" id="password-field-current">
                        <span toggle="#password-field-current" class="toggle-password"></span>
                    </div>
                    <div class="form-group pr">
                        <label>Password</label>
                        <input type="password" name="" id="password-field">
                        <span toggle="#password-field" class="toggle-password"></span>
                    </div>
                    <div class="form-group pr">
                        <label>Confirm password</label>
                        <input type="password" name="" id="password-field-confirm">
                        <span toggle="#password-field-confirm" class="toggle-password"></span>
                    </div>
                    <div class="note-list txt-md fw-m mt-4">
                        <h4 class="txt-md fw-b mb-3">Your password should :</h4>
                        <p>Minimum of 9 characters</p>
                        <p>Atleast 1 number</p>
                        <p>Atleast 1 upper-caser letter</p>
                        <p>Atleast 1 lower-caser letter</p>
                        <p>Atleast 1 special character</p>
                    </div>
                    <button type="button" class="btn-pr w-100 mt-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>