<div class="page-layout px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Reset Password</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Reset Password</div>
        </div>
    </div>
    <div class="body-page">
        <form action="" method="" class="wealify-form">
            <div class="form-group pr">
                <div class="form-group pr">
                    <label>Current Password</label>
                    <input type="password" name="" id="password-field-current">
                    <span toggle="#password-field-current" class="toggle-password"></span>
                </div>
                <div class="form-group pr">
                    <label>Password</label>
                    <input type="password" name="" id="password-field">
                    <span toggle="#password-field" class="toggle-password"></span>
                </div>
                <div class="form-group pr">
                    <label>Confirm password</label>
                    <input type="password" name="" id="password-field-confirm">
                    <span toggle="#password-field-confirm" class="toggle-password"></span>
                </div>
                <div class="note-list txt-md fw-m mt-4">
                    <h4 class="txt-md fw-b mb-3">Your password should :</h4>
                    <p>Minimum of 9 characters</p>
                    <p>Atleast 1 number</p>
                    <p>Atleast 1 upper-caser letter</p>
                    <p>Atleast 1 lower-caser letter</p>
                    <p>Atleast 1 special character</p>
                </div>
            </div>
        </form>
    </div>
</div>