<div class="wealify-account pr">
    <div class="col-left">
        <a href="/" class="logo my-6"><img src="./assets/img/logo-b.png" alt=""></a>
        <div class="pr"><button type="button" class="btn-back"></button></div>
        <h1>Let's get started !</h1>
        <form action="" method="" class="wealify-form form-register">
            <div class="form-group step1 pr">
                <div class="flex-lc">
                    <label>Full name</label>
                    <div class="box-tooltip">
                        <button type="button" class="flex-center"><i class="icon-info"></i></button>
                        <div class="content text-center">
                            <p>Please enter the name exactly as they appear on your Identity Card.</p>
                        </div>
                    </div>
                </div>
                <input type="text" name="">
            </div>
            <div class="form-group step1 pr">
                <label>Email</label>
                <input type="email" name="">
                <div class="error">Invalid Email Address</div>
            </div>
            <div class="form-group step1 pr">
                <label>Email code</label>
                <div class="pr">
                    <input type="email" name="">
                    <button type="button" class="btn-getcode txt-md fw-sm">Get code</button>
                </div>
                <div class="error">The OTP you entered is invalid or expired.</div>
            </div>
            <div class="form-group pr pc-show">
                <label>Account type</label>
                <div class="box-select">
                    <div class="selected txt-md fw-m pr">
                        <div class="name">Business</div>
                    </div>
                    <ul class="select-list">
                        <li data-name="Phoenix Baker" class="txt-md fw-m active">Business</li>
                        <li data-name="Phoenix Baker" class="txt-md fw-m">Phoenix Baker</li>
                        <li data-name="Olivia Rhye" class="txt-md fw-m">Olivia Rhye</li>
                    </ul>
                </div>
            </div>
            <div class="note-password mb-3 pc-show">
                <h4 class="txt-md fw-sm mb-3">Let’s make your account as secure as possible. Choose a password that contains:</h4>
                <ul class="list txt-md fw-m txt-gray">
                    <li>Minimum of 9 characters</li>
                    <li>Atleast 1 number</li>
                    <li class="not">Atleast 1 upper-caser letter</li>
                    <li>Atleast 1 lower-caser letter</li>
                    <li>Atleast 1 special character</li>
                </ul>
            </div>
            <div class="form-group pr pc-show">
                <label>Password</label>
                <input type="password" name="" id="password-field">
                <span toggle="#password-field" class="toggle-password"></span>
            </div>
            <div class="form-group pr pc-show">
                <label>Confirm password</label>
                <input type="password" name="" id="password-field-confirm">
                <span toggle="#password-field-confirm" class="toggle-password"></span>
            </div>
            <div class="form-group checkbox pr pc-show">
                <label>
                    <input type="checkbox" name="" checked>
                    <span class="checked"></span>
                    <p>I have read and agree to Wealify's <a href="" class="fw-sm">Term of Service</a> and <a href="" class="fw-sm">Privacy Policy</a></p>
                </label>
            </div>
            <button type="submit" class="btn-submit w-100 flex-center txt-md fw-b pc-show">Submit</button>
            <button type="button" class="btn-next flex-center txt-md fw-b mobile-show">Next</button>
        </form>
        <div class="text-q">Have an account?<a href="" title="">Sign in</a></div>
    </div>
    <div class="col-right pc-show">
        <div class="img-wrapper"><img src="./assets/img/img-ds.png" alt=""></div>
        <div class="box-text text-center">
            <h2 class="fw-b mb-2">Make your spending Smarter & Faster.</h2>
            <p class="txt-mh fw-m">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
        </div>
    </div>
</div>