<div class="dashboard pb-h">
    <div class="mobile-show">
        <div class="top-page mb-3 flex-lc pr">
            <a href="" title="" class="logo"><img src="./../assets/img/logo.svg" alt=""></a>
            <h1 class="title txt-lg fw-b">Home</h1>
            <button type="button" class="btn-filter"></button>
        </div>
        <div class="flex-lc mb-4">
            <div class="wallet">
                <h4>Main wallet</h4>
                <span>$1,938.00</span>
            </div>
            <div class="flex ml-auto">
                <div class="flag">
                    <button type="button"><span>2</span></button>
                </div>
                <div class="notifi">
                    <button type="button"><span>2</span></button>
                </div>
            </div>
        </div>
        <div class="list-feature mb-4 flex">
            <button type="button" class="" data-toggle="modal" data-target="#modal-topup">
                <div class="icon flex-center"><i class="icon-up"></i></div>
                <div class="txt fw-sm">Top-up</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-down"></i></div>
                <div class="txt fw-sm">Withdraw</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-send"></i></div>
                <div class="txt fw-sm">Send</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-earn"></i></div>
                <div class="txt fw-sm">Earn</div>
            </button>
        </div>
        <div class="advertise pr mb-4">
            <a href=""><img src="./../assets/img/ad.png" alt=""></a>
            <button type="button" class="close"></button>
        </div>
        <div class="transactions">
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm">Pingpong</h4>
                    <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                    <span class="txt-xs fw-m">Withdraw</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="fw-b mb-2">-1.000 eVND</div>
                    <div class="status pending txt-xs fw-b">Pending</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-1.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm">Payoneer</h4>
                    <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                    <span class="txt-xs fw-m">Top-up</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="fw-b mb-2">+1.000 eVND</div>
                    <div class="status success txt-xs fw-b">Succecss</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/coin.svg" alt=""></div>
                <div class="pl-2">
                    <span class="txt-xs fw-m">Receive from</span>
                    <h4 class="txt-md fw-sm">Ngoc Nguyen</h4>
                    <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="fw-b mb-2">+1.000 eVND</div>
                    <div class="status process txt-xs fw-b">Processing</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/coin.svg" alt=""></div>
                <div class="pl-2">
                    <span class="txt-xs fw-m">Sent to</span>
                    <h4 class="txt-md fw-sm">Ngoc Nguyen</h4>
                    <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="fw-b mb-2">-1.000 eVND</div>
                    <div class="status failed txt-xs fw-b">Failed</div>
                </div>
            </div>
        </div>
        <div class="recent-transaction flex-center">
            <button type="button" class="txt-md fw-b flex-center"><i class="icon icon-file"></i> Recent Transactions</button>
        </div>
        <ul class="menu-bottom flex">
            <li><a href="" title="" class="active"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="" title=""><i class="icon icon-cart"></i><span>Cart</span></a></li>
            <li><a href="" title=""><i class="icon icon-profile"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="pc-show">
        <div class="layout-page flex">
            <div class="sidebar pr">
                <a href="" title="" class="logo"><img src="./assets/img/logo-b.png" alt=""></a>
                <button type="button" class="btn-toggle-sidebar"></button>
                <h2 class="txt-lg fw-sm mb-3">Overview</h2>
                <ul class="menu">
                    <li>
                        <a href="" title="" class="flex-lc active">
                            <img src="./../assets/img/icon-db.svg" alt="">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <img src="./../assets/img/icon-card.svg" alt="">
                            <span>Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <img src="./../assets/img/icon-transaction.svg" alt="">
                            <span>Transaction & Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <img src="./../assets/img/icon-faq.svg" alt="">
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <img src="./../assets/img/icon-chat.svg" alt="">
                            <span>Chat with us</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <img src="./assets/img/icon-clock.svg" alt="">
                            <span>Term of service</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div class="top-bar-fixed">
                    <div class="flex-lc">
                        <div class="flag">
                            <button type="button"><span>2</span></button>
                        </div>
                        <div class="notifi">
                            <button type="button"><span>2</span></button>
                        </div>
                    </div>
                    <div class="account navbar">
                        <div class="avatar flex-lc pr" data-toggle="dropdown">
                            <img src="./assets/img/avatar.png" alt="">
                            <span class="txt-md fw-b pl-2">Trang Vuong</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="" title="">Profile</a></li>
                            <li><a href="" title="">Setting</a></li>
                            <li><a href="" title="">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="txt-xl fw-b mb-4">Good morning, Antelopee!</div>
                    <div class="panel-info-list">
                        <div class="item">
                            <div class="flex-lc mb-3">
                                <h4 class="txt-mh fw-sm">Total balance</h4>
                                <button type="button" class="btn-hide"></button>
                            </div>
                            <div class="txt-xl fw-b text-orange">1.224.499 eVND</div>
                        </div>
                        <div class="item">
                            <h4 class="txt-mh fw-sm mb-3">Money in this month</h4>
                            <div class="txt-xl fw-b text-orange">+13.350.000 eVND</div>
                        </div>
                        <div class="item">
                            <h4 class="txt-mh fw-sm mb-3">Money out this month</h4>
                            <div class="txt-xl fw-b text-orange">-500.000 eVND</div>
                        </div>
                        <div class="item">
                            <h4 class="txt-mh fw-sm mb-3 text-center">Action</h4>
                            <div class="list-feature flex">
                                <button type="button" class="">
                                    <div class="icon flex-center"><i class="icon-up"></i></div>
                                    <div class="txt fw-sm">Top-up</div>
                                </button>
                                <button type="button">
                                    <div class="icon flex-center"><i class="icon-down"></i></div>
                                    <div class="txt fw-sm">Withdraw</div>
                                </button>
                                <button type="button">
                                    <div class="icon flex-center"><i class="icon-send"></i></div>
                                    <div class="txt fw-sm">Send</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="transactions">
                        <div class="top flex-lc mb-4">
                            <h4 class="txt-lg fw-b">Recent transactions</h4>
                            <button type="button" class="btn-viewall txt-md fw-b text-orange">View all</button>
                        </div>
                        <div class="box-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./assets/img/arrow-up-right.svg" alt=""></div>
                                            <div class="info">
                                                <h5>Top-Up</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>+1,000.00</td>
                                    <td><div class="status success">Succecss</div></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./assets/img/coin.svg" alt=""></div>
                                            <div class="info">
                                                <h5>Recieve</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>+1,000.00</td>
                                    <td><div class="status failed">Failed</div></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./assets/img/arrow-up-down.svg" alt=""></div>
                                            <div class="info">
                                                <h5>Withdraw</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>-1,000.00</td>
                                    <td><div class="status pending">Pending</div></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./assets/img/arrow-up-right.svg" alt=""></div>
                                            <div class="info">
                                                <h5>Send</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>-1,000.00</td>
                                    <td><div class="status process">Processing</div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-bottom fade" id="modal-select-wallet">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Currency</h2>
            </div>
            <ul class="select-list txt-md fw-m">
                <li class="active"><button type="button">USD</button></li>
                <li><button type="button">VND</button></li>
                <li><button type="button">GBP</button></li>
                <li><button type="button">EUR</button></li>
                <li><button type="button">HKD</button></li>
                <li><button type="button">AUD</button></li>
            </ul>
        </div>
    </div>
</div>