<main class="home">
    <div class="container">
        <div class="flex-lc mb-4">
            <div class="wallet">
                <h4>Main wallet</h4>
                <span>$1,938.00</span>
            </div>
            <div class="flex ml-auto">
                <div class="flag">
                    <button type="button"><span>2</span></button>
                </div>
                <div class="notifi">
                    <button type="button"><span>2</span></button>
                </div>
            </div>
        </div>
        <div class="list-feature mb-4 flex">
            <button type="button" class="" data-toggle="modal" data-target="#modal-topup">
                <div class="icon flex-center"><i class="icon-up"></i></div>
                <div class="txt fw-sm">Top-up</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-down"></i></div>
                <div class="txt fw-sm">Withdraw</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-send"></i></div>
                <div class="txt fw-sm">Send</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-earn"></i></div>
                <div class="txt fw-sm">Earn</div>
            </button>
        </div>
        <div class="advertise pr mb-4">
            <a href=""><img src="./../assets/img/ad.png" alt=""></a>
            <button type="button" class="close"></button>
        </div>
        <div class="transactions">
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm mb-1">Top-Up</h4>
                    <span class="txt-xs fw-m">Ping Pong</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="txt-md fw-b mb-1">+1,000 $</div>
                    <div class="fw-m txt-xs txt-gray">20/03/2023 | 8:36 PM</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-right.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm mb-1">Send</h4>
                    <span class="txt-xs fw-m">Ping Pong</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="txt-md fw-b mb-1">-1,000 $</div>
                    <div class="fw-m txt-xs txt-gray">20/03/2023 | 8:36 PM</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm mb-1">Top-Up</h4>
                    <span class="txt-xs fw-m">Ping Pong</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="txt-md fw-b mb-1">+1,000 $</div>
                    <div class="fw-m txt-xs txt-gray">20/03/2023 | 8:36 PM</div>
                </div>
            </div>
        </div>
        <div class="recent-transaction flex-center">
            <button type="button" class="txt-md fw-b flex-center"><i class="icon icon-file"></i> Recent Transactions</button>
        </div>
        <ul class="menu-bottom flex">
            <li><a href="" title="" class="active"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="" title=""><i class="icon icon-cart"></i><span>Cart</span></a></li>
            <li><a href="" title=""><i class="icon icon-profile"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="modal modal-bottom fade" id="modal-select-crypto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h2 class="modal-title mb-0">Crytocurrency Wallet</h2>
                </div>
                <ul class="select-list txt-md fw-m">
                    <li class="active"><button type="button">USDT</button></li>
                    <li><button type="button">USDC</button></li>
                </ul>
            </div>
        </div>
    </div>
</main>