<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Send via Wealify Wallet Email</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-send">
            <form action="" method="" class="form-send">
                <div class="form-group flex-lc">
                    <label class="txt-md fw-sm">From</label>
                    <div class="user flex-lc">
                        <div class="avatar"><img src="./../assets/img/avatar.png" alt=""></div>
                        <div class="info pl-2">
                            <h5 class="txt-md fw-b mb-1">Trang Vuong</h5>
                            <p class="fw-m txt-gray">Balance: <span class="fw-b text-orange">999,999 eVND</span></p>
                        </div>
                    </div>
                </div>
                <div class="form-group flex-lc">
                    <label class="txt-md fw-sm">To</label>
                    <div class="user flex-lc">
                        <div class="avatar"><img src="./../assets/img/avatar-1.png" alt=""></div>
                        <div class="info pl-2">
                            <h5 class="txt-md fw-b mb-1">Ngoc Nguyen</h5>
                            <p class="fw-m txt-gray">ngocnguyen@gmail.com</span></p>
                            <span class="check"></span>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="tab nav my-4">
                <li><a href="#transaction" data-toggle="tab" class="active">Recent transaction</a></li>
                <li><a href="#contact" data-toggle="tab">Contact</a></li>
            </ul>
            <div class="tab-content">
                <div id="transaction" class="tab-pane fade show active">
                    <div class="transactions">
                        <div class="item flex-lc mb-2">
                            <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                            <div class="pl-2">
                                <span class="txt-xs fw-sm">Sent to</span>
                                <h4 class="txt-md fw-sm">Pingpong</h4>
                                <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="txt-md fw-b mb-2">-1.000 eVND</div>
                                <div class="status pending txt-xs fw-b">Pending</div>
                            </div>
                        </div>
                        <div class="item flex-lc mb-2">
                            <div class="icon flex-center"><img src="./../assets/img/arrow-up-1.svg" alt=""></div>
                            <div class="pl-2">
                                <span class="txt-xs fw-sm">Receive from</span>
                                <h4 class="txt-md fw-sm">Payoneer</h4>
                                <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="txt-md fw-b mb-2">+1.000 eVND</div>
                                <div class="status success txt-xs fw-b">Succecss</div>
                            </div>
                        </div>
                        <div class="item flex-lc mb-2">
                            <div class="icon flex-center"><img src="./../assets/img/coin.svg" alt=""></div>
                            <div class="pl-2">
                                <span class="txt-xs fw-sm">Sent to</span>
                                <h4 class="txt-md fw-sm">Ngoc Nguyen</h4>
                                <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="txt-md fw-b mb-2">+1.000 eVND</div>
                                <div class="status failed txt-xs fw-b">Failed</div>
                            </div>
                        </div>
                        <div class="item flex-lc mb-2">
                            <div class="icon flex-center"><img src="./../assets/img/coin.svg" alt=""></div>
                            <div class="pl-2">
                                <span class="txt-xs fw-m">Sent to</span>
                                <h4 class="txt-md fw-sm">Ngoc Nguyen</h4>
                                <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                            </div>
                            <div class="ml-auto text-right">
                                <div class="txt-md fw-b mb-2">-1.000 eVND</div>
                                <div class="status failed txt-xs fw-b">Failed</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contact" class="tab-pane fade">
                    <div class="flex-lc mb-3">
                        <form action="" method="" class="form-search">
                            <input type="text" name="" class="txt-md" placeholder="Search contact">
                        </form>
                        <button type="button" class="btn-add-user flex-center" data-toggle="modal" data-target="#modal-add-contact"><i class="icon-user"></i></button>
                    </div>
                    <div class="user-list">
                        <div class="item bg-p flex-lc pr">
                            <div class="avatar"><img src="./../assets/img/avatar.png" class="img-fit" alt=""></div>
                            <div class="info pl-2">
                                <h4 class="txt-md fw-b mb-1">Jenny123</h4>
                                <span class="fw-m mb-1">Jenny Wilson</span>
                                <span class="fw-m txt-gray">Jennywilson@gmail.com</span>
                            </div>
                            <button type="button" class="btn-delete flex-center"></button>
                        </div>
                        <div class="item bg-p flex-lc pr">
                            <div class="avatar"><img src="./../assets/img/avatar.png" class="img-fit" alt=""></div>
                            <div class="info pl-2">
                                <h4 class="txt-md fw-b mb-1">Robert_Fox</h4>
                                <span class="fw-m mb-1">Robert Fox</span>
                                <span class="fw-m txt-gray">Robert123@gmail.com</span>
                            </div>
                            <button type="button" class="btn-delete flex-center"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-border orange w-100">Next</button>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-add-contact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Add contact</h2>
            </div>
            <div class="modal-body">
                <form action="" method="" class="form-wealify">
                    <div class="form-group">
                        <label class="fw-sm">Display name</label>
                        <input type="text" name="" placeholder="Enter display name">
                    </div>
                    <div class="form-group">
                        <label class="fw-sm">Wealify email</label>
                        <input type="text" name="" placeholder="Enter wealify’s user email">
                    </div>
                    <button type="button" class="btn-pr w-100">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
