<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Send via Wealify Wallet Email</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-send">
            <form action="" method="" class="form-send">
                <div class="form-group flex-lc">
                    <label class="txt-md fw-sm">From</label>
                    <div class="user flex-lc">
                        <div class="avatar"><img src="./../assets/img/avatar.png" alt=""></div>
                        <div class="info pl-2">
                            <h5 class="txt-md fw-b mb-1">Trang Vuong</h5>
                            <p class="fw-m txt-gray">Balance: <span class="fw-b text-orange">999,999 eVND</span></p>
                        </div>
                    </div>
                </div>
                <div class="form-group flex-lc">
                    <label class="txt-md fw-sm">To</label>
                    <div class="box-input sm bg-b pr">
                        <i class="icon-upload"></i>
                        <input type="file">
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <a href="" title="" class="fw-b btn-download">Download template.csv</a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-border orange w-100">Next</button>
    </div>
</div>
