<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Send via Wealify Wallet Email</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-send">
            <form action="" method="" class="form-send">
                <div class="form-row mb-4">
                    <div class="form-group pr error">
                        <label class="txt-md fw-sm mb-2">From</label>
                        <div class="user flex-lc">
                            <div class="avatar"><img src="./../assets/img/avatar.png" alt=""></div>
                            <div class="info pl-2">
                                <h5 class="fw-b mb-1">Trang Vuong</h5>
                                <span class="fw-b text-orange">999,999 eVND</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pr">
                        <label class="txt-md fw-sm mb-2">To</label>
                        <div class="user flex-lc">
                            <div class="avatar"><img src="./../assets/img/avatar-1.png" alt=""></div>
                            <div class="info pl-2">
                                <h5 class="txt-md fw-b mb-1">Ngoc Nguyen</h5>
                            </div>
                        </div>
                        <button type="button" class="btn-add-user"></button>
                    </div>
                </div>
                <div class="form-group flex-lc error">
                    <label class="txt-md lg fw-sm">I want send</label>
                    <div class="box-input bg-b pr">
                        <div class="coin flex-lc">
                            <img src="./../assets/img/evnd.svg" width="24" alt="">
                            <span class="txt-md fw-b pl-1">eVND</span>
                        </div>
                        <input type="text" placeholder="Min 1">
                        <button type="button" class="btn-date"></button>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-md lg fw-sm">Message</label>
                    <textarea placeholder="Enter message" class="bg-b"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-page bg">
        <ul class="summary mb-3">
            <li>
                <h5>Send amount</h5>
                <span>9.99 eVND</span>
            </li>
            <li>
                <h5>Fee</h5>
                <span>Free</span>
            </li>
            <li>
                <h5>Receive Amount</h5>
                <span>10,000,000 eVND</span>
            </li>
        </ul>
        <button type="button" class="btn-border orange w-100">Next</button>
    </div>
</div>
