<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Send</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <h2 class="txt-xl fw-sm mb-4 pc-show">How you’d like to get paid?</h2>
        <div class="box-choose">
            <label class="flex-lc txt-md">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon"><img src="./../assets/img/user.svg" alt=""></span>
                <span class="content">
                    <h5 class="txt-mh fw-sm mb-1">Wealify Wallet email</h5>
                    <span class="txt-gray">Send to other Wealify's User, Easy, Instant, 0 fee</span>
                </span>
            </label>
            <label class="flex-lc txt-md">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon"><img src="./../assets/img/user-1.svg" alt=""></span>
                <span class="content">
                    <h5 class="txt-mh fw-sm mb-1">Batch Wealify Wallet Email</h5>
                    <span class="txt-gray">Send to multiple Wealify's users, Easy, Instant, 0 fee</span>
                </span>
            </label>
        </div>
    </div>
</div>

<div class="modal modal-bottom fade" id="modal-send">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Send via</h2>
            </div>
            <div class="modal-body">
                <ul class="select-list-arr">
                    <li>
                        <button type="button">
                            <span class="txt-md fw-sm mb-2 pl-0">Bank transfer</span>
                            <span class="fw-m txt-gray pl-0">Send to other Wealify's User, Easy, Instant, 0 fee</span>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <span class="txt-md fw-sm mb-2 pl-0">Batch Wealify Wallet Email</span>
                            <span class="fw-m txt-gray pl-0">Send to multiple Wealify's users, Easy, Instant, 0 fee</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>