<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <h1 class="title txt-lg fw-b">Send</h1>
        <a href="" title="" class="btn-home"></a>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 70%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="send mb-3 pr flex">
            <div class="item">
                <div class="user flex-lc">
                    <img src="./../assets/img/avatar.png" alt="">
                    <span class="pl-2 fw-sm">Trang Vuong</span>
                </div>
                <div class="info">
                    <h5 class="fw-sm mb-1">Send</h5>
                    <span class="txt-md fw-b">100.000 eVND</span>
                </div>
            </div>
            <div class="item">
                <div class="user flex-lc">
                    <div class="avatar"><img src="./../assets/img/avatar-1.png" alt=""></div>
                    <div class="avatar"><img src="./../assets/img/avatar-2.png"  alt=""></div>
                    <div class="more flex-center fw-b">+3</div>
                    <a href="" title="" class="btn-more"></a>
                </div>
                <div class="info">
                    <h5 class="fw-sm mb-1">Receiver</h5>
                    <span class="txt-md fw-b">100.000 eVND</span>
                </div>
            </div>
        </div>
        <ul class="summary bg">
            <li>
                <h5>Message</h5>
                <span>Hoan tra</span>
            </li>
            <li>
                <h5>Send amount</h5>
                <span>9.99 eVND</span>
            </li>
            <li>
                <h5>Fee</h5>
                <span>Free</span>
            </li>
            <li>
                <h5>Reveive Amount</h5>
                <span>9.99 eVND</span>
            </li>
        </ul>
    </div>
    <div class="bottom-page">
        <div class="box-btn flex">
            <button type="button" class="btn-border orange w-100 pc-show">Back to home</button>
            <button type="button" class="btn-pr w-100">Confirm</button>
        </div>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-receiver">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Receiver</h2>
            </div>
            <div class="modal-body">
                <div class="receiver">
                    <div class="header flex-lc flex-between pb-2 mb-3">
                        <h4 class="txt-md fw-sm">Receiver (2)</h4>
                        <a href="" title="" class="txt-md fw-sm">Send amount</a>
                    </div>
                    <div class="user-list">
                        <div class="item bg-p flex-lc pr">
                            <div class="avatar"><img src="./../assets/img/avatar.png" class="img-fit" alt=""></div>
                            <div class="info pl-2">
                                <h4 class="txt-md fw-b mb-1">Jenny123</h4>
                                <span class="fw-m mb-1">Jenny Wilson</span>
                                <span class="fw-m txt-gray">Jennywilson@gmail.com</span>
                            </div>
                            <div class="amount">
                                <span class="txt-md fw-b mb-2">99 eVND</span>
                            </div>
                        </div>
                        <div class="item bg-p flex-lc pr">
                            <div class="avatar"><img src="./../assets/img/avatar.png" class="img-fit" alt=""></div>
                            <div class="info pl-2">
                                <h4 class="txt-md fw-b mb-1">Robert_Fox</h4>
                                <span class="fw-m mb-1">Robert Fox</span>
                                <span class="fw-m txt-gray">Robert123@gmail.com</span>
                            </div>
                            <div class="amount">
                                <span class="txt-md fw-b mb-2">99 eVND</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>