<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Send via Wealify Wallet Email</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-send">
            <form action="" method="" class="form-send">
                <div class="form-group flex-lc">
                    <label class="txt-md fw-sm">From</label>
                    <div class="user flex-lc">
                        <div class="avatar"><img src="./../assets/img/avatar.png" alt=""></div>
                        <div class="info pl-2">
                            <h5 class="txt-md fw-b mb-1">Trang Vuong</h5>
                            <p class="fw-m txt-gray">Balance: <span class="fw-b text-orange">999,999 eVND</span></p>
                        </div>
                    </div>
                </div>
                <div class="form-group flex-lc">
                    <label class="txt-md fw-sm">To</label>
                    <div class="box-input sm bg-b pr">
                        <i class="icon-file"></i>
                        <input type="file">
                        <button type="button" class="btn-delete"></button>
                    </div>
                </div>
                <div class="form-group flex">
                    <label class="txt-md lg fw-sm">Message</label>
                    <textarea placeholder="Enter message" class="bg-b"></textarea>
                </div>
            </form>
            <div class="receiver mt-5">
                <div class="header flex-lc flex-between pb-2 mb-3">
                    <h4 class="txt-md fw-sm">Receiver (2)</h4>
                    <a href="" title="" class="txt-md fw-sm">Send amount</a>
                </div>
                <div class="user-list">
                    <div class="item bg-p flex-lc pr">
                        <div class="avatar"><img src="./../assets/img/avatar.png" class="img-fit" alt=""></div>
                        <div class="info pl-2">
                            <h4 class="txt-md fw-b mb-1">Jenny123</h4>
                            <span class="fw-m mb-1">Jenny Wilson</span>
                            <span class="fw-m txt-gray">Jennywilson@gmail.com</span>
                        </div>
                        <div class="amount">
                            <span class="txt-md fw-b mb-2">99 eVND</span>
                            <button type="button" class="btn-add-user flex-center"><i class="icon-user"></i></button>
                        </div>
                    </div>
                    <div class="item bg-p flex-lc pr">
                        <div class="avatar"><img src="./../assets/img/avatar.png" class="img-fit" alt=""></div>
                        <div class="info pl-2">
                            <h4 class="txt-md fw-b mb-1">Robert_Fox</h4>
                            <span class="fw-m mb-1">Robert Fox</span>
                            <span class="fw-m txt-gray">Robert123@gmail.com</span>
                        </div>
                        <div class="amount">
                            <span class="txt-md fw-b mb-2">99 eVND</span>
                            <button type="button" class="btn-add-user flex-center"><i class="icon-user"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <div class="total flex-between flex-lc mb-3">
            <h4 class="txt-md fw-b txt-gray">Total sent amount</h4>
            <span class="txt-mh fw-b text-orange">198 eVND</span>
        </div>
        <button type="button" class="btn-border orange w-100">Next</button>
    </div>
</div>
