<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <h1 class="title txt-lg fw-b">Send</h1>
        <a href="" title="" class="btn-home"></a>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 70%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="send mb-3 pr flex">
            <div class="item">
                <div class="user flex-lc">
                    <img src="./../assets/img/avatar.png" alt="">
                    <span class="pl-2 fw-sm">Trang Vuong</span>
                </div>
                <div class="info">
                    <h5 class="fw-sm mb-1">Send</h5>
                    <span class="txt-md fw-b">100.000 eVND</span>
                </div>
            </div>
            <div class="item">
                <div class="user flex-lc">
                    <div class="avatar"><img src="./../assets/img/avatar-1.png" alt=""></div>
                    <div class="avatar"><img src="./../assets/img/avatar.png"  alt=""></div>
                    <div class="more flex-center fw-b">+3</div>
                    <a href="" title="" class="btn-more"></a>
                </div>
                <div class="info">
                    <h5 class="fw-sm mb-1">Receiver</h5>
                    <span class="txt-md fw-b">100.000 eVND</span>
                </div>
            </div>
        </div>
        <ul class="summary bg">
            <li>
                <h5>Message</h5>
                <span>Hoan tra</span>
            </li>
            <li>
                <h5>Send amount</h5>
                <span>9.99 eVND</span>
            </li>
            <li>
                <h5>Fee</h5>
                <span>Free</span>
            </li>
            <li>
                <h5>Reveive Amount</h5>
                <span>9.99 eVND</span>
            </li>
        </ul>
    </div>
    <div class="bottom-page">
        <div class="box-btn flex">
            <button type="button" class="btn-border orange w-100 pc-show">Back to home</button>
            <button type="button" class="btn-pr w-100">Confirm</button>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-success">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="box-notifi text-center">
                <div class="img my-3"><img src="./../assets/img/successful.svg" alt=""></div>
                <h4 class="txt-md fw-b mb-1">Send successfully</h4>
                <div class="txt-xl fw-b text-orange mb-4">-198 eVND</div>
                <button type="button" class="btn-pr w-100" data-dismiss="modal">Back to home</button>
            </div>
        </div>
    </div>
</div>