<main>
    <div class="wealify-account no-bg pr">
        <div class="col-left">
            <div class="pc-show">
                <div class="flex-center">
                    <a href="/" class="logo"><img src="./assets/img/logo-b.png" alt=""></a>
                </div>
                <a href="" title="" class="btn-back txt-mh fw-b mb-4">Back</a>
                <h1>Reset your Log in Password</h1>
            </div>
            <div class="mobile-show">
                <div class="header pr">
                    <button type="button" onclick="history.back()" class="btn-back"></button>
                    <h1>Set Password</h1>
                </div>
            </div>
            <form action="" method="" class="wealify-form flex-col pb-0 pr">
                <div class="form-group pr">
                    <label>Password</label>
                    <input type="password" name="" id="password-field">
                    <span toggle="#password-field" class="toggle-password"></span>
                </div>
                <div class="form-group pr">
                    <label>Confirm password</label>
                    <input type="password" name="" id="password-field-confirm">
                    <span toggle="#password-field-confirm" class="toggle-password"></span>
                    <div class="error">Password do not match</div>
                </div>
                <div class="mobile-show flex-1">
                    <div class="note-list txt-md fw-m">
                        <p>Minimum of 9 characters</p>
                        <p>Atleast 1 number</p>
                        <p>Atleast 1 upper-caser letter</p>
                        <p>Atleast 1 lower-caser letter</p>
                        <p>Atleast 1 special character</p>
                    </div>
                </div>
                <button type="submit" class="btn-submit w-100 flex-center txt-md fw-b">Next</button>
            </form>
        </div>
        <div class="col-right pc-show">
            <div class="img-wrapper"><img src="./assets/img/img-ds.png" alt=""></div>
            <div class="box-text text-center">
                <h2 class="fw-b mb-2">Make your spending Smarter & Faster.</h2>
                <p class="txt-mh fw-m">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
            </div>
        </div>
    </div>
</main>