<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Global Bank Transfer</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page">
        <h4 class="txt-xl fw-sm mb-4 pc-show">Global bank transfer</h4>
        <form action="" method="" class="form-wealify fix-bt flex-col">
            <div class="form-group">
                <label>Bank name</label>
                <input type="text" name="" value="">
            </div>
            <div class="form-group">
                <label>Account name</label>
                <input type="text" name="" value="">
            </div>
            <div class="form-group">
                <label>Account number/IBAN</label>
                <input type="text" name="" value="">
            </div>
            <div class="form-group">
                <label>Currency</label>
                <div class="box-select pr">
                    <div class="selected flex-lc pr">
                        <div class="icon"></div>
                        <div class="name pl-2 fw-m"></div>
                    </div>
                    <ul class="select-list">
                        <li data-icon="./../assets/img/usd.svg" data-name="USD">
                            <div class="flex-lc">
                                <img src="./../assets/img/usd.svg" alt="">
                                <span>USD</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/vnd.svg" data-name="VND">
                            <div class="flex-lc">
                                <img src="./../assets/img/vnd.svg" alt="">
                                <span>VND</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/gbp.svg" data-name="GBP">
                            <div class="flex-lc">
                                <img src="./../assets/img/gbp.svg" alt="">
                                <span>GBP</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/eur.svg" data-name="EUR">
                            <div class="flex-lc">
                                <img src="./../assets/img/eur.svg" alt="">
                                <span>EUR</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/hkd.svg" data-name="HKD">
                            <div class="flex-lc">
                                <img src="./../assets/img/hkd.svg" alt="">
                                <span>HKD</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/aud.svg" data-name="AUD">
                            <div class="flex-lc">
                                <img src="./../assets/img/aud.svg" alt="">
                                <span>AUD</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label>ACH routing (for US bank)</label>
                <input type="text" name="" value="">
            </div>
            <div class="form-group">
                <label>Note</label>
                <textarea></textarea>
            </div>
            <div class="form-group flex-lc">
                <label>Set default account</label>
                <label class="switch">
                    <input type="checkbox" checked="">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn flex">
                <button type="button" class="btn-border pc-show">Back</button>
                <button type="submit" class="btn-pr w-100">Confirm</button>
            </div>
        </form>
    </div>
</div>