<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Authenticator app</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Authenticator app</div>
        </div>
    </div>
    <div class="body-page flex-1">
        <div class="settings">
            <div class="authenticator text-center">
                <h2 class="txt-xl fw-sm pc-show">Scan this QR code</h2>
                <div class="mb-4"><img src="./../assets/img/scanner.svg" alt=""></div>
                <p class="txt-md fw-m">Download the Google Authenticator app to your phone. Then, scan this QR code in this app</p>
            </div>
            <div class="box-qrcode">
                <div class="qrcode"><img src="./../assets/img/qrcode.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-border w-100 flex-center">Next</button>
    </div>
</div>