<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav pb-sm flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
    </div>
    <div class="body-page flex-1">
        <div class="flex-lc mb-4">
            <form action="" method="" class="form-search">
                <input type="text" name="" class="txt-md" placeholder="Search for transaction">
            </form>
            <div class="box-filter navbar pr">
                <button type="button" class="btn-filter flex-center" data-toggle="dropdown"><i class="icon-filter"></i></button>
                <div class="dropdown">
                    <div class="filter">
                        <h4 class="txt-md fw-sm mb-2">Filter</h4>
                        <ul class="filter-list flex">
                            <button type="button">All</button>
                            <button type="button" class="active">Bank transfer</button>
                            <button type="button">E-wallet</button>
                            <button type="button">Crypto</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-list-select">
            <div class="item">
                <div class="header flex-lc">
                    <h4 class="txt-md fw-b">Bank transfer (USD)</h4>
                    <a href="" title="" class="ml-auto txt-md fw-sm">Detail</a>
                </div>
                <div class="content flex-lc pr">
                    <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                    <div class="detail flex-lc">
                        <div>
                            <h4 class="txt-md fw-sm">American bank</h4>
                            <p>Antelopee</p>
                            <p class="txt-xs fw-m txt-gray">123456789</p>
                        </div>
                        <div class="flex-lc">
                            <div class="status pending txt-xs fw-b">Pending</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header flex-lc">
                    <h4 class="txt-md fw-b">Bank transfer (VND)</h4>
                    <a href="" title="" class="ml-auto txt-md fw-sm">Detail</a>
                </div>
                <div class="content flex-lc pr">
                    <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                    <div class="detail flex-lc">
                        <div>
                            <h4 class="txt-md fw-sm">American bank</h4>
                            <p>Antelopee</p>
                            <p class="txt-xs fw-m txt-gray">123456789</p>
                        </div>
                        <div class="flex-lc">
                            <div class="status default txt-xs fw-b">Default</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-pr w-100">Add Method</button>
    </div>
</div>