<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="payment">
            <h4 class="txt-res fw-b mb-2">Country</h4>
            <p class="txt-md fw-m txt-gray">This is where you opened your financial account.</p>
            <div class="box-select mt-4">
                <select name="" class="select2-min">
                    <option value="">United State</option>
                    <option value="">Afghanistan</option>
                    <option value="">Albania</option>
                    <option value="">Algeria</option>
                    <option value="">Andorra</option>
                    <option value="">Angola</option>
                    <option value="">Argentina</option>
                    <option value="">Armenia</option>
                    <option value="">Australia</option>
                    <option value="">Austria</option>
                </select>
            </div>
            <div class="box-select mt-4">
                <select name="" class="select2-min">
                    <option value="">Currency</option>
                </select>
            </div>
        </div>
    </div>
</div>