<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Crytocurrency transfer (USDT)</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page">
        <h4 class="txt-xl fw-sm mb-4 pc-show">Crytocurrency transfer (USDT)</h4>
        <form action="" method="" class="form-wealify fix-bt flex-col">
            <div class="form-group">
                <label>Network</label>
                <input type="text" name="" value="BSC" class="readonly" readonly>
            </div>
            <div class="form-group">
                <label>Wallet address</label>
                <input type="text" name="">
            </div>
            <div class="form-group flex-lc">
                <label>Set default account</label>
                <label class="switch">
                    <input type="checkbox" checked="">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn flex">
                <button type="button" class="btn-border pc-show">Back</button>
                <button type="submit" class="btn-pr w-100">Submit</button>
            </div>
        </form>
    </div>
</div>