<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment method details</h1>
        <button type="button" class="btn-edit"></button>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page">
        <h4 class="txt-xl fw-sm mb-4 pc-show">Payment method details</h4>
        <form action="" method="" class="form-wealify fix-bt flex-col">
            <div class="item">
                <h5>Payment method</h5>
                <span>Domestic Bank transfer</span>
            </div>
            <div class="item">
                <h5>Bank name</h5>
                <span>VIB</span>
            </div>
            <div class="item">
                <h5>Account name</h5>
                <span>Vuong Thu Trang</span>
            </div>
            <div class="item">
                <h5>Account number</h5>
                <span>012345678</span>
            </div>
            <div class="flex-1"></div>
            <div class="box-btn mt-4 flex">
                <button type="button" class="btn-border pc-show">Back</button>
                <button type="submit" class="btn-pr w-100">Remove Method</button>
            </div>
        </form>
    </div>
</div>
