<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Security setting</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav pb-sm flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Security settings</div>
        </div>
    </div>
    <div class="body-page flex-1">
        <div class="settings">
            <h2 class="txt-xl fw-sm mb-4 pc-show">Security setting</h2>
            <div class="item">
                <div class="item__header flex-lc mb-3">
                    <h3 class="txt-md fw-sm">Two-factor Authentication</h3>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="item__content">
                    <div class="txt-md fw-m txt-gray">Add an additional layer of security to protect your account from unauthorized access or activity by requiring you a verification code</div>
                </div>
            </div>
            <div class="box-choose mobile-show">
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    Authenticator app
                </label>
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    SMS
                </label>
            </div>
            <div class="box-choose pc-show">
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked top-3"></span>
                    <h5 class="txt-mh fw-sm mb-1">Authenticator app</h5>
                    <p>Use a 3rd party authenticator app to receive an authentication code. It works without cellular signal or internet.</p>
                </label>
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked top-3"></span>
                    <h5 class="txt-mh fw-sm mb-1">Email</h5>
                    <p>Receive the verification code sent to your registed Email.</p>
                </label>
            </div>
        </div>
    </div>
    <div class="bottom-page pc-show">
        <div class="box-btn flex">
            <button type="button" class="btn-border">Back</button>
            <button type="button" class="btn-pr">Next</button>
        </div>
    </div>
</div>