<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Setting</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav pb-sm flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Setting</div>
        </div>
    </div>
    <div class="body-page flex-1">
        <div class="settings">
            <h2 class="txt-xl fw-b mb-4 pc-show">Setting</h2>
            <ul class="list">
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-setting.svg" alt=""></span>
                        <span class="text">General Settings</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-security.svg" alt=""></span>
                        <span class="text">Security Settings</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-alert.svg" alt=""></span>
                        <span class="text">Price Alert</span>
                    </a>
                </li>
            </ul>
            <h4 class="txt-xs fw-b mb-2">SUPPORT</h4>
            <ul class="list">
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-payment.svg" alt=""></span>
                        <span class="text">Payment Management</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-support.svg" alt=""></span>
                        <span class="text">Support Center</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-claim.svg" alt=""></span>
                        <span class="text">Claim</span>
                    </a>
                </li>
            </ul>
            <h4 class="txt-xs fw-b mb-2">COMMUNITY</h4>
            <ul class="list">
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-twitter.svg" alt=""></span>
                        <span class="text">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-discord.svg" alt=""></span>
                        <span class="text">Discord</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-telegram.svg" alt=""></span>
                        <span class="text">Telegram</span>
                    </a>
                </li>
            </ul>
            <h4 class="txt-xs fw-b mb-2">ABOUT WEALIFY</h4>
            <ul class="list">
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-website.svg" alt=""></span>
                        <span class="text">Website</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-guide.svg" alt=""></span>
                        <span class="text">User Guide</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-term.svg" alt=""></span>
                        <span class="text">Term of Service</span>
                    </a>
                </li>
                <li>
                    <a href="" title="" class="flex-lc">
                        <span class="icon"><img src="./../assets/img/icon-privacy.svg" alt=""></span>
                        <span class="text">Privacy Policy</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-page mobile-show">
        <button type="button" class="btn-border w-100 flex-center">Log Out</button>
    </div>
</div>