<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="payment">
            <h4 class="txt-res fw-b mb-2">Country</h4>
            <p class="txt-md fw-m txt-gray">This is where you opened your financial account.</p>
            <div class="box-select mt-4 pr">
                <div class="selected txt-md fw-m pr">
                    <div class="name">Select country</div>
                </div>
                <ul class="select-list">
                    <li data-name="Afghanistan" class="txt-md fw-m active">Select country</li>
                    <li data-name="Afghanistan" class="txt-md fw-m">Afghanistan</li>
                    <li data-name="Albania" class="txt-md fw-m">Albania</li>
                    <li data-name="Algeria" class="txt-md fw-m">Algeria</li>
                    <li data-name="Andorra" class="txt-md fw-m">Andorra</li>
                    <li data-name="Armenia" class="txt-md fw-m">Armenia</li>
                    <li data-name="Austria" class="txt-md fw-m">Austria</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-page pc-show">
        <div class="box-btn flex">
            <button type="button" class="btn-border">Back</button>
            <button type="button" class="btn-pr">Next</button>
        </div>
    </div>
</div>