<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 20%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="payment">
            <h4 class="txt-res fw-b mb-2">Let ‘s add a payment method</h4>
            <p class="txt-md fw-m txt-gray">Setup your payment method that you’d like to get paid</p>
            <div class="box-choose mt-4">
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                    Bank transfer
                </label>
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    <span class="icon mr-2"><img src="./../assets/img/ewallet.svg" alt=""></span>
                    E-Wallet transfer
                </label>
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    <span class="icon mr-2"><img src="./../assets/img/crypto.svg" alt=""></span>
                    Cryptocurrency transfer (USDT)
                </label>
            </div>
            <button type="button" class="btn-pr w-100 mt-3">Add Method</button>
        </div>
    </div>
</div>