<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav pb-sm flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
    </div>
    <div class="body-page flex-1">
        <div class="payment">
            <h4 class="txt-res fw-b mb-2">Let ‘s add a payment method</h4>
            <p class="txt-md fw-m txt-gray">Setup your payment method that you’d like to get paid</p>
            <button type="button" class="btn-pr w-100 mt-3">Add Method</button>
        </div>
    </div>
</div>