<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page lg">
        <div class="verifying text-center">
            <div class="icon"><img src="./../assets/img/proccessing.svg" alt=""></div>
            <div class="py-4">
                <h4 class="txt-res fw-sm mb-2">We are verifying your global bank account</h4>
                <p class="txt-md txt-gray">This process  may take approximately 1 day</p>
            </div>
            <a href="" title="" class="btn-pr flex-center">Back to home</a>
        </div>
    </div>
</div>