<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">General setting</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav pb-sm flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">General setting</div>
        </div>
    </div>
    <div class="body-page flex-1">
        <h2 class="txt-xl fw-sm mb-4 pc-show">Language</h2>
        <div class="settings">
            <div class="item mobile-show">
                <h3 class="txt-md fw-sm mb-3">Language</h3>
                <div class="select-list">
                    <button type="button" class="active">Viet Nam</button>
                    <button type="button">English</button>
                </div>
            </div>
            <div class="box-choose pc-show">
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    VietNam
                </label>
                <label class="flex-lc txt-md fw-m">
                    <input type="radio" name="security">
                    <span class="checked"></span>
                    English
                </label>
            </div>
        </div>
    </div>
    <div class="bottom-page pc-show">
        <div class="box-btn flex">
            <button type="button" class="btn-border">Back</button>
            <button type="button" class="btn-pr">Next</button>
        </div>
    </div>
</div>