<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Payment management</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Payment management</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="payment">
            <h4 class="txt-res fw-b mb-2">Country</h4>
            <p class="txt-md fw-m txt-gray">This is where you opened your financial account.</p>
            <div class="box-select mt-3 pr">
                <div class="selected txt-md fw-m pr">
                    <div class="name">Viet Nam</div>
                </div>
                <ul class="select-list">
                    <li data-name="Viet Nam" class="txt-md fw-m active">Viet Nam</li>
                    <li data-name="Afghanistan" class="txt-md fw-m">Afghanistan</li>
                    <li data-name="Albania" class="txt-md fw-m">Albania</li>
                    <li data-name="Algeria" class="txt-md fw-m">Algeria</li>
                    <li data-name="Andorra" class="txt-md fw-m">Andorra</li>
                    <li data-name="Armenia" class="txt-md fw-m">Armenia</li>
                    <li data-name="Austria" class="txt-md fw-m">Austria</li>
                </ul>
            </div>
            <div class="mt-4">
                <h4 class="txt-md fw-b mb-3">How would you like to get paid?</h4>
                <div class="box-choose">
                    <label class="flex-lc txt-md fw-m">
                        <input type="radio" name="security">
                        <span class="checked"></span>
                        <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                        Bank Transfer (VND)
                    </label>
                    <label class="flex-lc txt-md fw-m">
                        <input type="radio" name="security">
                        <span class="checked"></span>
                        <span class="icon no-bg mr-2"><img src="./../assets/img/momo.png" alt=""></span>
                        Momo (VND)
                    </label>
                    <label class="flex-lc txt-md fw-m">
                        <input type="radio" name="security">
                        <span class="checked"></span>
                        <span class="icon no-bg mr-2"><img src="./../assets/img/zalo.png" alt=""></span>
                        Zalopay (VND)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <div class="box-btn flex">
            <button type="button" class="btn-border pc-show">Back</button>
            <button type="button" class="btn-pr w-100">Next</button>
        </div>
    </div>
</div>