<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">QR code</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">QR code</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-qrcode text-center">
            <h4 class="txt-mh fw-b mb-2">WEALIFY</h4>
            <p class="txt-md fw-m">123456789</p>
            <div class="qrcode"><img src="./../assets/img/qrcode.jpg" alt=""></div>
            <button type="button" class="btn-save flex-center"><i class="icon icon-download"></i><span class="txt-md fw-b">Save Photo</span></button>
        </div>
    </div>
</div>