<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Top-Up</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Top up</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page">
        <form action="" method="" class="flex-col fix-bt">
            <div class="panel-group bg-pl flex-1">
                <div class="box-select mb-3 pr">
                    <div class="selected flex-lc pr">
                        <div class="icon"><img src="./../assets/img/pingpong.svg" alt=""></div>
                        <div class="name pl-2 txt-md">Ping Pong</div>
                    </div>
                    <ul class="select-list">
                        <li data-icon="./../assets/img/pingpong.svg" data-name="Ping Pong">
                            <div class="flex-lc">
                                <img src="./../assets/img/pingpong.svg" alt="">
                                <span>PingPong</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/payonner.svg" data-name="Payoneer">
                            <div class="flex-lc">
                                <img src="./../assets/img/payonner.svg" alt="">
                                <span>Payoneer</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/lian.svg" data-name="LianLian">
                            <div class="flex-lc">
                                <img src="./../assets/img/lian.svg" alt="">
                                <span>LianLian</span>
                            </div>
                        </li>
                        <li data-icon="./../assets/img/wise.svg" data-name="Wise">
                            <div class="flex-lc">
                                <img src="./../assets/img/wise.svg" alt="">
                                <span>Wise</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="balance flex-lc fw-sm mb-3">Balance: <span class="txt-mh fw-b text-orange pl-2">10,000 eVND </span></div>
                <div class="topup pr">
                    <div class="item">
                        <div class="flex-lc mb-xs">
                            <h4 class="txt-md fw-b">You Topup</h4>
                            <div class="box-tooltip">
                                <button type="button" class="flex-center"><i class="icon-q"></i></button>
                                <div class="content">
                                    <ul>
                                        <li>Limit per transaction: 100,000 - 300,000,000 VND</li>
                                        <li>Maximum monthly transaction limit: 600,000,000 VND (KYC LV2) and 2,000,000,000 VND (KYC LV3)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex align-items-start justify-content-between">
                            <div class="amount">
                                <input type="text" name="" class="txt-xl fw-b mb-2" value="100,000,000">
                                <span class="txt-xs fw-sm">160,000,000 available</span>
                            </div>
                            <div class="box-select pr">
                                <div class="selected round flex-lc pr">
                                    <div class="icon"><img src="./../assets/img/usd.svg" alt=""></div>
                                    <div class="name pl-1 fw-b">USD</div>
                                </div>
                                <ul class="select-list">
                                    <li data-icon="./../assets/img/usd.svg" data-name="USD">
                                        <div class="flex-lc">
                                            <img src="./../assets/img/usd.svg" alt="">
                                            <span>USD</span>
                                        </div>
                                    </li>
                                    <li data-icon="./../assets/img/vnd.svg" data-name="VND">
                                        <div class="flex-lc">
                                            <img src="./../assets/img/vnd.svg" alt="">
                                            <span>VND</span>
                                        </div>
                                    </li>
                                    <li data-icon="./../assets/img/gbp.svg" data-name="GBP">
                                        <div class="flex-lc">
                                            <img src="./../assets/img/gbp.svg" alt="">
                                            <span>GBP</span>
                                        </div>
                                    </li>
                                    <li data-icon="./../assets/img/eur.svg" data-name="EUR">
                                        <div class="flex-lc">
                                            <img src="./../assets/img/eur.svg" alt="">
                                            <span>EUR</span>
                                        </div>
                                    </li>
                                    <li data-icon="./../assets/img/hkd.svg" data-name="HKD">
                                        <div class="flex-lc">
                                            <img src="./../assets/img/hkd.svg" alt="">
                                            <span>HKD</span>
                                        </div>
                                    </li>
                                    <li data-icon="./../assets/img/aud.svg" data-name="AUD">
                                        <div class="flex-lc">
                                            <img src="./../assets/img/aud.svg" alt="">
                                            <span>AUD</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex-lc mb-xs">
                            <h4 class="txt-md fw-b">You receive</h4>
                        </div>
                        <div class="flex align-items-start justify-content-between">
                            <div class="amount">
                                <input type="text" name="" class="txt-xl fw-b mb-2" value="100,000,000">
                                <span class="txt-xs fw-sm">160,000,000 available</span>
                            </div>
                            <div class="currency flex-lc">
                                <img src="./../assets/img/evnd.svg" alt="">
                                <span class="fw-b">eVND</span>
                            </div>
                        </div>
                    </div>
                    <div class="arrow-down"></div>
                </div>
            </div>
            <div class="bottom-form bg">
                <ul class="summary mb-3">
                    <li>
                        <h5>Rate</h5>
                        <span>1 eVND = 10 VND</span>
                    </li>
                    <li>
                        <h5>Fee</h5>
                        <span>0</span>
                    </li>
                    <li>
                        <h5>Receive Amount</h5>
                        <span>10,000,000 eVND</span>
                    </li>
                </ul>
                <div class="box-tick mb-3">
                    <label class="flex-lc">
                        <input type="checkbox" checked>
                        <span class="checked"></span>
                        I agree with Terms of Use and Policy
                    </label>
                </div>
                <div class="box-btn flex">
                    <button type="button" class="btn-border pc-show">Back</button>
                    <button type="submit" class="btn-pr w-100 flex-center">Top-Up</button>
                </div>
            </div>
        </form>
    </div>
</div>