<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Invoice creation</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Invoice creation</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="txt-md fw-sm mb-3">Please transfer money according to the information below.</div>
        <form action="" method="" class="form-invoice">
            <div class="form-group flex-lc">
                <label class="fw-sm mb-0">PingPong account name</label>
                <input  type="text" name="" value="Thu Trang Vuong">
            </div>
            <div class="form-group flex-lc">
                <label class="fw-sm mb-0">PingPong email address</label>
                <input type="email" name="" value="antelopee@gmail.com">
            </div>
        </form>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-pr w-100 flex-center txt-md fw-b">Create Invoice</button>
    </div>
</div>

<div class="modal lg fade" id="modal-create-invoice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Invoice creation</h2>
            </div>
            <div class="modal-body">
                <form action="" method="" class="form-invoice">
                    <div class="txt-md fw-b mb-4">Please provide your Pingpong account information to create an invoice</div>
                    <div class="form-group flex-lc pr">
                        <label class="fw-sm">PingPong account name</label>
                        <input type="text" name="" value="Thu Trang Vuong">
                    </div>
                    <div class="form-group flex-lc pr">
                        <label class="fw-sm">PingPong email address</label>
                        <input type="email" name="" value="antelopee@gmail.com">
                    </div>
                    <button type="button" class="btn-pr w-100 mt-2">Create Invoice</button>
                </form>
            </div>
        </div>
    </div>
</div>