<div class="page-layout bg-dc-1 flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <a href="" title="" class="btn-home"></a>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Top up</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-detail">
            <div class="text-center mb-4">
                <div class="img-icon"><img src="./../assets/img/successful.svg" alt=""></div>
                <h3 class="txt-md fw-b">Top up processing</h3>
                <div class="amount txt-xl fw-b text-orange my-1">10.000 eVND</div>
                <time class="txt-md fw-m txt-gray">20/03/2023 | 8:36 PM</time>
            </div>
            <div class="transaction bg-gray px-3">
                <div class="item">
                    <h4 class="txt-md fw-b mb-1">Transaction</h4>
                    <ul class="transaction-info">
                        <li>
                            <h5>Transaction ID</h5>
                            <div class="flex-lc">
                                <span>12345678958254</span>
                                <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                            </div>
                        </li>
                        <li>
                            <h5>Top-up account</h5>
                            <span>PingPong</span>
                        </li>
                        <li>
                            <h5>Reference message</h5>
                            <span>TDJHGUD</span>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="transaction-info">
                        <li>
                            <h5>Top-up amount</h5>
                            <span>10.000 eVND</span>
                        </li>
                        <li>
                            <h5>Rate</h5>
                            <span>1 eVND = 10 USD</span>
                        </li>
                        <li>
                            <h5>Fee</h5>
                            <span>Free</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <div class="box-btn flex">
            <button type="button" class="btn-border flex-center">Create A New Order</button>
            <button type="button" class="btn-pr flex-center">Back to home</button>
        </div>
    </div>
</div>