<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Top up</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">QR code</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="bg-gray p-3 mb-4 txt-md fw-m txt-gray">
            Send only USDT to this deposit address. Sending any other asset to this address may result in the loss of your deposit
        </div>
        <div class="coin flex-center mb-4">
            <div class="coin__img"><img src="./../assets/img/usdt.svg" alt=""></div>
            <div class="coin__name txt-mh fw-b pl-2">USDT</div>
        </div>
        <div class="w-qrcode text-center">
            <div class="img"><img src="./../assets/img/qrcode.jpg" alt=""></div>
            <div class="code txt-md fw-m">0X83HhjghilfhdsdfhytohudUEGHVGDGBGX</div>
        </div>
        <div class="txt-md fw-m txt-gray text-center">1 eVND ~ 10 USDT</div>
    </div>
    <div class="bottom-page">
        <div class="action-list flex-center">
            <div class="item">
                <div class="icon flex-center"><img src="./../assets/img/icon-copy-2.svg" alt=""></div>
                <div class="name fw-sm">Copy address</div>
            </div>
            <div class="item">
                <div class="icon flex-center"><img src="./../assets/img/coin.svg" alt=""></div>
                <div class="name fw-sm">Set amount</div>
            </div>
            <div class="item">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-right.svg" alt=""></div>
                <div class="name fw-sm">Share</div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-set-amount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Set amount</h2>
            </div>
            <div class="modal-body">
                <form action="" method="" class="wealify-form">
                    <div class="form-group">
                        <label>Enter amount</label>
                        <input type="number" name="">
                    </div>
                    <button type="submit" class="btn-submit txt-md fw-b">Done</button>
                </form>
            </div>
        </div>
    </div>
</div>