<div class="page-layout bg-dc flex-col px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <a href="" title="" class="btn-home"></a>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Top up</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-detail">
            <div class="text-center mb-4">
                <div class="img-icon"><img src="./../assets/img/clock.svg" alt=""></div>
                <h3 class="txt-md fw-b">Top up pending</h3>
                <div class="amount txt-xl fw-b text-orange my-1">10.000 eVND</div>
                <time class="txt-md fw-m txt-gray">20/03/2023 | 8:36 PM</time>
            </div>
            <div class="transfer">
                <div class="box-text txt-md fw-b mb-4">
                    <p>
                        Please transfer money according to the information below.
                        <span class="pr">
                            <i class="icon-info"></i>
                            <span class="content">
                                <span>Use the primary account with the account name matching the identity information provided to make transfers.</span>
                                <span>The system will automatically update the account balance within 2 to 10 minutes. If you do not see an increase in your balance after 30 minutes, please contact Live Chat support.</span>
                                <span>The order will be canceled if we do not receive the payment within 12 hours</span>
                            </span>
                        </span>
                    </p>
                </div>
                <ul class="transfer-info bg-gray p-3">
                    <li>
                        <h5>Bank name</h5>
                        <span>BIDV</span>
                    </li>
                    <li>
                        <h5>Account Number</h5>
                        <div class="flex-lc">
                            <span>123456789</span>
                            <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                        </div>
                    </li>
                    <li>
                        <h5>Account Name</h5>
                        <span>henrry1205</span>
                    </li>
                    <li>
                        <h5>Amount</h5>
                        <span>100.000 VND</span>
                    </li>
                    <li>
                        <h5>Reference</h5>
                        <div class="flex-lc">
                            <span>TDJHGUD</span>
                            <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                        </div>
                    </li>
                    <li>
                        <h5>QR code</h5>
                        <div class="flex-lc qrcode">
                            <div class="img-wrapper"><img src="./../assets/img/qrcode.png" alt=""></div>
                            <button type="button" class="btn-round flex-center"><i class="icon icon-arrow"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <div class="box-btn flex">
            <button type="button" class="btn-border flex-center">Create A New Order</button>
            <button type="button" class="btn-pr flex-center">Back to home</button>
        </div>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-note">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Note</h2>
            </div>
            <div class="modal-body">
                <div class="box-note">
                    <ul class="txt-md fw-m mb-4">
                        <li>Use the primary account holder's account to make transfers.</li>
                        <li>Please ensure that you provide the correct transfer reference when making the transfer. The system will automatically update the account balance within 2 to 10 minutes. Kindly check your VND balance after 10 minutes. If you do not see an increase in your balance, please contact Live Chat support.</li>
                        <li>The order will be canceled if we do not receive the payment within 12 hours. Please contact support if you do not see the funds credited to your account after 30 minutes.</li>
                    </ul>
                </div>
                <div class="fw-m txt-gray">Click <a href="" title="" class="fw-b text-orange">here</a> to read the top up instructions</div>
            </div>
        </div>
    </div>
</div>