<div class="dashboard pb-h">
    <div class="mobile-show">
        <div class="top-page mb-3 flex-lc pr">
            <button type="button" class="btn-back" onclick="history.back()"></button>
            <h1 class="title txt-lg fw-b">Transactions</h1>
        </div>
        <div class="transactions">
            <div class="flex-lc mb-4">
                <form action="" method="" class="form-search">
                    <input type="text" name="" class="txt-md" placeholder="Search for transaction">
                </form>
                <button type="button" class="btn-filter flex-center"><i class="icon-filter"></i></button>
            </div>
            <div class="time mb-2 fw-m txt-gray">20/03/2023</div>
            <div class="mb-4">
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Withdraw</h4>
                        <span class="txt-xs fw-m txt-gray">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m txt-gray">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="fw-b mb-2">-1.000 eVND</div>
                        <div class="status pending txt-xs fw-b">Pending</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Top-Up</h4>
                        <span class="txt-xs fw-m txt-gray">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m txt-gray">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="fw-b mb-2">+1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Succecss</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./../assets/img/coin.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Recieve</h4>
                        <span class="txt-xs fw-m txt-gray">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m txt-gray">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="fw-b mb-2">+1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Succecss</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./../assets/img/arrow-up-right.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Send</h4>
                        <span class="txt-xs fw-m txt-gray">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m txt-gray">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="fw-b mb-2">-1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Succecss</div>
                    </div>
                </div>
            </div>
            <div class="time mb-2 fw-m txt-gray">20/03/2023</div>
            <div class="mb-4">
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Top-Up</h4>
                        <span class="txt-xs fw-m txt-gray">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m txt-gray">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="fw-b mb-2">+1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Success</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Top-Up</h4>
                        <span class="txt-xs fw-m txt-gray">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m txt-gray">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="fw-b mb-2">+1.000 eVND</div>
                        <div class="status failed txt-xs fw-b">Failed</div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="menu-bottom flex">
            <li><a href="" title="" class="active"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="" title=""><i class="icon icon-cart"></i><span>Card</span></a></li>
            <li><a href="" title=""><i class="icon icon-profile"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="pc-show">
        <div class="layout-page flex">
            <div class="sidebar pr">
                <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
                <button type="button" class="btn-toggle-sidebar"></button>
                <h2 class="txt-lg fw-sm mb-3">Overview</h2>
                <ul class="menu">
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-card"></i>
                            <span>Card</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc active">
                            <i class="icon icon-transaction"></i>
                            <span>Transaction & Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-faq"></i>
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-chat"></i>
                            <span>Chat with us</span>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" class="flex-lc">
                            <i class="icon icon-clock"></i>
                            <span>Term of service</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-wrapper">
                <div class="top-bar-fixed">
                    <div class="box-notifi flex-lc">
                        <div class="notifi">
                            <button type="button" class="btn-flag"><span>2</span></button>
                        </div>
                        <div class="notifi pr">
                            <button type="button" class="btn-notifi"><span>2</span></button>
                            <div class="box-dropdown bg-b">
                                <ul class="tab nav">
                                    <li><a href="#important-pc" title="" data-toggle="tab" class="active">Important (10)</a></li>
                                    <li><a href="#system-pc" title="" data-toggle="tab">System (10)</a></li>
                                </ul>
                                <div class="tab-content box-tab">
                                    <div id="important-pc" class="tab-pane fade show active">
                                        <ul class="list">
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/logo.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">KYC 1 process successful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center">
                                                    <img src="./../assets/img/arrow-up-1.svg" alt="">
                                                    <span class="status"></span>
                                                </div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Topped-up money to wallet from PingPong: + 1.000 eVND</h4>
                                                    <p class="txt-xs fw-m txt-gray">Your information successfully verified. Now you can start experiencing the new features</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">Now</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Withdrew money from wallet to BIDV: -1.000 eVND</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 hours ago</time>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon flex-center"><img src="./../assets/img/refresh-1.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Converted 1.000 eVND to USD: +1.000 USD</h4>
                                                    <time class="txt-xs fw-m txt-gray mt-2">2 days ago</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Your card 123456.Thu Trang Vuong has been frozen</h4>
                                                    <p class="txt-xs fw-m txt-gray">We've detected your card 123456 is at risk of fraud. To protect your account, we've blocked your card temporarily. If you have any assistance or concern, please contact to our support team</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                            <li class="old">
                                                <div class="icon flex-center"><img src="./../assets/img/setting.svg" alt=""></div>
                                                <div class="detail">
                                                    <h4 class="txt-md fw-b mb-1">Top up 1.000 eVND from PingPong unsuccessful</h4>
                                                    <p class="txt-xs fw-m txt-gray">Something went wrong. Please check your top up details and try again.</p>
                                                    <time class="txt-xs fw-m txt-gray mt-2">10/22/2023</time>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="system-pc" class="tab-pane fade">
                                        <div class="p-4 mt-3 text-center">
                                            <div class="img-wrapper mb-3"><img src="./../assets/img/bell.svg" width="48" class="mx-auto" alt=""></div>
                                            <div class="text txt-md fw-b">You don't have any notifications</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account navbar">
                        <div class="avatar flex-lc pr" data-toggle="dropdown">
                            <img src="./../assets/img/avatar.png" alt="">
                            <span class="txt-md fw-b pl-2">Trang Vuong</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="" title="">Profile</a></li>
                            <li><a href="" title="">Setting</a></li>
                            <li><a href="" title="">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-content">
                    <div class="block-main-content">
                        <div class="top flex-lc mb-4">
                            <h4 class="txt-lg fw-b">Transactions history</h4>
                        </div>
                        <div class="box-table">
                            <div class="box-filter flex-lc py-3">
                                <div class="filter">
                                    <div class="select-date flex-lc">
                                        <div class="box-input">
                                            <input type="text" name="" class="datepicker" value="">
                                        </div>
                                        <span class="txt-md">to</span>
                                        <div class="box-input">
                                            <input type="text" name="" class="datepicker" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <select name="" class="select2-min">
                                        <option>Type</option>
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="filter">
                                    <select name="" class="select2-min">
                                        <option>Status</option>
                                        <option value="">All</option>
                                        <option value="">Pending</option>
                                        <option value="">Success</option>
                                        <option value="">Failed</option>
                                    </select>
                                </div>
                                <div class="filter">
                                    <form action="" method="" class="form-search">
                                        <input type="text" name="" placeholder="Search for transaction">
                                    </form>
                                </div>
                            </div>
                            <table>
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Currency</th>
                                    <th>Amount</th>
                                    <th class="text-center">Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./../assets/img/arrow-up-right.svg" alt=""></div>
                                            <div class="info">
                                                <h5 class="mb-1">Top-Up</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>+1,000.00</td>
                                    <td><div class="status success">Succecss</div></td>
                                    <td><div class="flex-center"><a href="" title="" class="btn-detail txt-md fw-b">View detail</a></div></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./../assets/img/coin.svg" alt=""></div>
                                            <div class="info">
                                                <h5 class="mb-1">Recieve</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>+1,000.00</td>
                                    <td><div class="status failed">Failed</div></td>
                                    <td><div class="flex-center"><a href="" title="" class="btn-detail txt-md fw-b">View detail</a></div></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                                            <div class="info">
                                                <h5 class="mb-1">Withdraw</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>-1,000.00</td>
                                    <td><div class="status pending">Pending</div></td>
                                    <td><div class="flex-center"><a href="" title="" class="btn-detail txt-md fw-b">View detail</a></div></td>
                                </tr>
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flex-lc">
                                            <div class="icon"><img src="./../assets/img/arrow-up-right.svg" alt=""></div>
                                            <div class="info">
                                                <h5 class="mb-1">Send</h5>
                                                <span>Ping Pong</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>20/3/2023</p>
                                        <span>20/3/2023</span>
                                    </td>
                                    <td>eVND</td>
                                    <td>-1,000.00</td>
                                    <td><div class="status process">Processing</div></td>
                                    <td><div class="flex-center"><a href="" title="" class="btn-detail txt-md fw-b">View detail</a></div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box-pagination flex-center">
                            <div class="mr-3">
                                <select name="" class="select2-min">
                                    <option value="">10 line/page</option>
                                    <option value="">20 line/page</option>
                                </select>
                            </div>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
