<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-3 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Send</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Send</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="send mb-3 pr flex">
            <div class="item">
                <div class="user flex-lc">
                    <img src="./../assets/img/avatar.jpg" alt="">
                    <span class="pl-2 fw-sm">Trang Vuong</span>
                </div>
                <div class="info">
                    <h5 class="fw-sm mb-1">Send</h5>
                    <span class="txt-md fw-b">100.000 eVND</span>
                </div>
            </div>
            <div class="item">
                <div class="user flex-lc">
                    <img src="./../assets/img/avatar.jpg" alt="">
                    <span class="pl-2 fw-sm">Ngoc Nguyen</span>
                </div>
                <div class="info">
                    <h5 class="fw-sm mb-1">Receiver</h5>
                    <span class="txt-md fw-b">100.000 eVND</span>
                </div>
            </div>
        </div>
        <div class="transaction bg-pc">
            <div class="item">
                <h4 class="txt-md fw-b">Transaction</h4>
                <ul class="transaction-info txt-left">
                    <li>
                        <h5>Transaction ID</h5>
                        <div class="flex-lc">
                            <span>12345678958254</span>
                            <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                        </div>
                    </li>
                    <li>
                        <h5>Transaction time</h5>
                        <span>20/03/2023 | 8:36 PM</span>
                    </li>
                    <li>
                        <h5>Send amount</h5>
                        <span>100.000 eVND</span>
                    </li>
                    <li>
                        <h5>Fee</h5>
                        <span>Free</span>
                    </li>
                </ul>
            </div>
            <div class="item">
                <ul class="transaction-info txt-left">
                    <li class="highlight">
                        <h5>Receive amount</h5>
                        <span>100.000 eVND</span>
                    </li>
                    <li>
                        <h5>Message</h5>
                        <span>Hoan tra</span>
                    </li>
                    <li>
                        <h5>Status</h5>
                        <span>Success</span>
                    </li>
                    <li>
                        <h5>TxHash</h5>
                        <a href="" title="">http://bscscan.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <div class="fw-m txt-gray">In case of error or omission in this statement, please contact Wealify’customer service by emailing at <a href="mailto:abc@wealify.com" class="fw-b text-orange">abc@wealify.com</a></div>
    </div>
</div>