<div class="page-layout bg-dc-1 flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <h1 class="title txt-lg fw-b">Order detail</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Top up</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-detail">
            <div class="text-center mb-4">
                <div class="img-icon"><img src="./../assets/img/clock.svg" alt=""></div>
                <h3 class="txt-md fw-b">Top up pending</h3>
                <div class="amount txt-xl fw-b text-orange my-1">10.000 eVND</div>
                <time class="txt-md fw-m txt-gray">20/03/2023 | 8:36 PM</time>
            </div>
            <div class="transfer">
                <div class="box-text txt-md fw-b mb-4">
                    <p>
                        Please transfer money according to the information below.
                        <span class="pr">
                            <i class="icon-info"></i>
                            <span class="content">
                                <span>Use the primary account with the account name matching the identity information provided to make transfers.</span>
                                <span>The system will automatically update the account balance within 2 to 10 minutes. If you do not see an increase in your balance after 30 minutes, please contact Live Chat support.</span>
                                <span>The order will be canceled if we do not receive the payment within 12 hours</span>
                            </span>
                        </span>
                    </p>
                </div>
                <ul class="transfer-info bg-gray p-3">
                    <li>
                        <h5>Platform</h5>
                        <span>LianLian</span>
                    </li>
                    <li>
                        <h5>Email Address</h5>
                        <div class="flex-lc">
                            <span>wealify@gmail.com</span>
                            <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                        </div>
                    </li>
                    <li>
                        <h5>Amount</h5>
                        <span>100.000 USD</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-pr w-100 flex-center txt-md fw-b">Payment link</button>
    </div>
</div>