<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Filter</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Filter</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="filter mb-4">
            <h4 class="txt-md fw-sm mb-2">Date</h4>
            <div class="select-date flex-lc">
                <div class="box-input">
                    <input type="text" name="" class="datepicker" value="">
                </div>
                <span class="txt-md">to</span>
                <div class="box-input">
                    <input type="text" name="" class="datepicker" value="">
                </div>
            </div>
        </div>
        <div class="filter mb-4">
            <h4 class="txt-md fw-sm mb-2">Type</h4>
            <ul class="filter-list flex">
                <button type="button">All</button>
                <button type="button" class="active">Receive</button>
                <button type="button">Top up</button>
                <button type="button">Send</button>
                <button type="button">Withdraw</button>
            </ul>
        </div>
        <div class="filter mb-4">
            <h4 class="txt-md fw-sm mb-2">Status</h4>
            <ul class="filter-list flex">
                <button type="button">All</button>
                <button type="button" class="active">Pending</button>
                <button type="button">Success</button>
                <button type="button">Failed</button>
            </ul>
        </div>
    </div>
    <div class="bottom-page">
        <div class="box-btn mt-5 flex">
            <button type="button" class="btn-border">Delete filter</button>
            <button type="button" class="btn-pr">Done</button>
        </div>
    </div>
</div>