<div class="page-layout bg-dc-3 flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <h1 class="title txt-lg fw-b">Order detail</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Withdraw</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="box-detail">
            <div class="text-center mb-4">
                <div class="img-icon"><img src="./../assets/img/successful.svg" alt=""></div>
                <h3 class="txt-md fw-b">Withdraw success</h3>
                <div class="amount txt-xl fw-b text-orange my-1">100.000 USDT</div>
                <time class="txt-md fw-m txt-gray">20/03/2023 | 8:36 PM</time>
            </div>
            <div class="transaction bg-gray px-3">
                <div class="item">
                    <h4 class="txt-md fw-b">Transaction</h4>
                    <ul class="transaction-info">
                        <li>
                            <h5>Transaction ID</h5>
                            <div class="flex-lc">
                                <span>12345678958254</span>
                                <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                            </div>
                        </li>
                        <li>
                            <h5>Created at</h5>
                            <span>20/03/2023 | 8:36 PM</span>
                        </li>
                        <li>
                            <h5>Payment method</h5>
                            <span>Cryptocurrency transfer</span>
                        </li>
                        <li>
                            <h5>Network</h5>
                            <span>BSC</span>
                        </li>
                        <li>
                            <h5>Wallet address</h5>
                            <span>0X83Hhjghilfhdsdfhyt...</span>
                        </li>
                        
                    </ul>
                </div>
                <div class="item">
                    <ul class="transaction-info">
                        <li class="highlight">
                            <h5>Withdraw amount</h5>
                            <span>10.000 eVND</span>
                        </li>
                        <li>
                            <h5>Rate</h5>
                            <span>1 eVND = 10 USDT</span>
                        </li>
                        <li>
                            <h5>Fee</h5>
                            <span>Free</span>
                        </li>
                        <li>
                            <h5>TxHash</h5>
                            <a href="" title="">http://bscscan.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <div class="fw-m txt-gray">In case of error or omission in this statement, please contact Wealify’customer service by emailing at <a href="mailto:abc@wealify.com" class="fw-b text-orange">abc@wealify.com</a></div>
    </div>
</div>