<header>
    <div class="container">
        <div class="top-header mb-2 flex-lc pr">
            <button type="button" class="btn-back"></button>
            <h1 class="title txt-lg fw-b">Transactions</h1>
        </div>
    </div>
</header>
<main class="home">
    <div class="container">
        <div class="transactions">
            <div class="flex-lc mb-4">
                <form action="" method="" class="form-search">
                    <input type="text" name="" class="txt-md" placeholder="Search for transaction">
                </form>
                <button type="button" class="btn-filter" data-toggle="modal" data-target="#modal-filter"></button>
            </div>
            <div class="time mb-2 fw-m txt-gray">20/03/2023</div>
            <div class="mb-4">
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Withdraw</h4>
                        <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="txt-md fw-b mb-2">-1.000 eVND</div>
                        <div class="status pending txt-xs fw-b">Pending</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Top-Up</h4>
                        <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="txt-md fw-b mb-2">+1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Succecss</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./assets/img/coin.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Recieve</h4>
                        <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="txt-md fw-b mb-2">+1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Succecss</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./assets/img/arrow-up-right.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Send</h4>
                        <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="txt-md fw-b mb-2">-1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Succecss</div>
                    </div>
                </div>
            </div>
            <div class="time mb-2 fw-m txt-gray">20/03/2023</div>
            <div class="mb-4">
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Top-Up</h4>
                        <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="txt-md fw-b mb-2">+1.000 eVND</div>
                        <div class="status success txt-xs fw-b">Success</div>
                    </div>
                </div>
                <div class="item flex-lc mb-2">
                    <div class="icon flex-center"><img src="./assets/img/arrow-up-down.svg" alt=""></div>
                    <div class="pl-2">
                        <h4 class="txt-md fw-sm">Top-Up</h4>
                        <span class="txt-xs fw-m">8:27 PM - 20/03/2023</span>
                        <span class="txt-xs fw-m">Ping Pong</span>
                    </div>
                    <div class="ml-auto text-right">
                        <div class="txt-md fw-b mb-2">+1.000 eVND</div>
                        <div class="status failed txt-xs fw-b">Failed</div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="menu-bottom flex">
            <li><a href="" title="" class="active"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="" title=""><i class="icon icon-cart"></i><span>Cart</span></a></li>
            <li><a href="" title=""><i class="icon icon-profile"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="modal modal-bottom fade" id="modal-payment-fail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h2 class="modal-title mb-0">Payment details</h2>
                </div>
                <div class="modal-body">
                    <div class="box-detail">
                        <div class="text-center mb-3">
                            <div class="img-icon"><img src="./../assets/img/fail.svg" alt=""></div>
                            <h3 class="txt-mh fw-b">Top Up Failed</h3>
                            <div class="amount txt-xl fw-b text-orange my-1">10.000 eVND</div>
                        </div>
                        <div class="transaction">
                            <div class="item">
                                <ul class="transaction-info">
                                    <li>
                                        <h5>Transaction ID</h5>
                                        <span>12345678958254</span>
                                    </li>
                                    <li>
                                        <h5>Created at</h5>
                                        <span>20/03/2023 | 8:36 PM</span>
                                    </li>
                                    <li>
                                        <h5>Top-up account</h5>
                                        <span>Wealify Balance</span>
                                    </li>
                                    <li>
                                        <h5>Reference message</h5>
                                        <span>UHDLVH1234</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="transaction-info">
                                    <li>
                                        <h5>Top-up amount</h5>
                                        <spam>100.000 VND</spam>
                                    </li>
                                    <li>
                                        <h5>Rate</h5>
                                        <span>1 eVND = 10 USD</span>
                                    </li>
                                    <li>
                                        <h5>Fee</h5>
                                        <span>Free</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="note txt-gray mt-5">
                            In case of error or omission in this statement, please contact Wealify’customer service by emailing at
                            <a href="mailto:abc@wealify.com" class="fw-b text-orange">abc@wealify.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>