<main>
    <div class="wealify-account no-bg pr">
        <div class="col-left">
            <div class="pc-show">
                <div class="flex-center">
                    <a href="/" class="logo"><img src="./assets/img/logo-b.png" alt=""></a>
                </div>
                <a href="" title="" class="btn-back txt-mh fw-b mb-4">Back</a>
                <h1>Verify your indentity</h1>
            </div>
            <div class="mobile-show">
                <div class="header pr">
                    <button type="button" onclick="history.back()" class="btn-back"></button>
                    <h1>Verify your indentity</h1>
                </div>
            </div>
            <div class="txt-md fw-m mt-2">Please enter the verification code sent to <strong>x*******y@gmail.com</strong></div>
            <form method="get" class="form-otp mt-4" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                <div class="box-input flex">
                    <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                    <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                    <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                    <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                    <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
                    <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" />
                </div>
            </form>
            <div class="text-resend">Did not receive OTP? <span>Resend OTP in 45s</span></div>
        </div>
        <div class="col-right pc-show">
            <div class="img-wrapper"><img src="./assets/img/img-ds.png" alt=""></div>
            <div class="box-text text-center">
                <h2 class="fw-b mb-2">Make your spending Smarter & Faster.</h2>
                <p class="txt-mh fw-m">Global corporate cards, expense management, reimbursements, travel, and bill pay — all in one.</p>
            </div>
        </div>
    </div>
</main>