<main class="home">
    <div class="container">
        <div class="flex-lc mb-4">
            <div class="wallet">
                <h4>Main wallet</h4>
                <span>$1,938.00</span>
            </div>
            <div class="flex ml-auto">
                <div class="flag">
                    <button type="button"><span>2</span></button>
                </div>
                <div class="notifi">
                    <button type="button"><span>2</span></button>
                </div>
            </div>
        </div>
        <div class="list-feature mb-4 flex">
            <button type="button" class="" data-toggle="modal" data-target="#modal-topup">
                <div class="icon flex-center"><i class="icon-up"></i></div>
                <div class="txt fw-sm">Top-up</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-down"></i></div>
                <div class="txt fw-sm">Withdraw</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-send"></i></div>
                <div class="txt fw-sm">Send</div>
            </button>
            <button type="button">
                <div class="icon flex-center"><i class="icon-earn"></i></div>
                <div class="txt fw-sm">Earn</div>
            </button>
        </div>
        <div class="advertise pr mb-4">
            <a href=""><img src="./../assets/img/ad.png" alt=""></a>
            <button type="button" class="close"></button>
        </div>
        <div class="transactions">
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm mb-1">Top-Up</h4>
                    <span class="txt-xs fw-m">Ping Pong</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="txt-md fw-b mb-1">+1,000 $</div>
                    <div class="fw-m txt-xs txt-gray">20/03/2023 | 8:36 PM</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-right.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm mb-1">Send</h4>
                    <span class="txt-xs fw-m">Ping Pong</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="txt-md fw-b mb-1">-1,000 $</div>
                    <div class="fw-m txt-xs txt-gray">20/03/2023 | 8:36 PM</div>
                </div>
            </div>
            <div class="item flex-lc mb-2">
                <div class="icon flex-center"><img src="./../assets/img/arrow-up-down.svg" alt=""></div>
                <div class="pl-2">
                    <h4 class="txt-md fw-sm mb-1">Top-Up</h4>
                    <span class="txt-xs fw-m">Ping Pong</span>
                </div>
                <div class="ml-auto text-right">
                    <div class="txt-md fw-b mb-1">+1,000 $</div>
                    <div class="fw-m txt-xs txt-gray">20/03/2023 | 8:36 PM</div>
                </div>
            </div>
        </div>
        <div class="recent-transaction flex-center">
            <button type="button" class="txt-md fw-b flex-center"><i class="icon icon-file"></i> Recent Transactions</button>
        </div>
        <ul class="menu-bottom flex">
            <li><a href="" title="" class="active"><i class="icon icon-home"></i><span>Home</span></a></li>
            <li><a href="" title=""><i class="icon icon-cart"></i><span>Cart</span></a></li>
            <li><a href="" title=""><i class="icon icon-profile"></i><span>Profile</span></a></li>
        </ul>
    </div>
    <div class="modal modal-bottom fade" id="modal-wise-order-detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="warning">
                        <button type="button" class="btn-warning"></button>
                    </div>
                    <button type="button" class="btn-back"></button>
                    <h2 class="modal-title mb-0">Order detail</h2>
                </div>
                <div class="modal-body">
                    <div class="box-detail">
                        <div class="text-center mb-3">
                            <div class="img-icon"><img src="./../assets/img/successful.svg" alt=""></div>
                            <h3 class="txt-mh fw-b">Top up created</h3>
                            <div class="amount txt-xl fw-b text-orange my-1">10.000 eVND</div>
                            <time class="txt-md fw-m txt-gray">20/03/2023 | 8:36 PM</time>
                        </div>
                        <div class="transfer mb-3">
                            <div class="txt-md fw-b mb-3">Please transfer money according to the information below.</div>
                            <ul class="transfer-info">
                                <li>
                                    <h5>Platform</h5>
                                    <span>Wise</span>
                                </li>
                                <li>
                                    <h5>Email Address</h5>
                                    <div class="flex-lc">
                                        <span>wealify@gmail.com</span>
                                        <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                                    </div>
                                </li>
                                <li>
                                    <h5>Amount</h5>
                                    <span>100.000 USD</span>
                                </li>
                                <li>
                                    <h5>Reference</h5>
                                    <div class="flex-lc">
                                        <span>TDJHGUD</span>
                                        <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                                    </div>
                                </li>
                                <li>
                                    <h5>Payment link</h5>
                                    <div class="flex-lc">
                                        <span>wealifylianlian.com</span>
                                        <button type="button" class="btn-round flex-center"><i class="icon icon-copy"></i></button>
                                    </div>
                                </li>
                                <li>
                                    <div class="w-50 flex-lc">
                                        <h5>Trans ID</h5>
                                        <button type="button" class="btn-question"></button>
                                    </div>
                                    <input type="text" name="" placeholder="Enter the transaction ID">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-block">
                    <button type="button" class="btn-submit w-100 flex-center txt-md fw-b">Confirm Top-up</button>
                </div>
            </div>
        </div>
    </div>
</main>