<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Select Crypto-wallet</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Select Crypto-wallet</div>
        </div>
        <div class="progress"><div class="value" style="width: 100%"></div></div>
    </div>
    <div class="body-page flex-1">
        <form action="" method="" class="form-search mb-3 w-100">
            <input type="text" name="" placeholder="Search Crypto-wallet">
        </form>
        <div class="block-list-select">
            <div class="item">
                <div class="title fw-b">BEP20 (BSC)</div>
                <div class="content flex-lc pr">
                    <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                    <div class="detail flex-lc">
                        <div>
                            <h4 class="txt-md fw-sm">Nguyen Van A</h4>
                            <p class="txt-xs fw-m txt-gray">0X83Hhjg...</p>
                            <p class="txt-xs fw-sm">BEP20 (BSC)</p>
                        </div>
                        <div class="flex-lc">
                            <div class="status default txt-xs fw-b">Default</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title fw-b">Lian Lian (USD)</div>
                <div class="content flex-lc pr">
                    <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                    <div class="detail flex-lc">
                        <div>
                            <h4 class="txt-md fw-sm">Nguyen Van A</h4>
                            <p class="txt-xs fw-m txt-gray">0X83Hhjg...</p>
                            <p class="txt-xs fw-sm">BEP20 (BSC)</p>
                        </div>
                        <div class="flex-lc">
                            <div class="status pending txt-xs fw-b">Pending</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-page">
        <button type="button" class="btn-border orange flex-center w-100">Add Method</button>
    </div>
</div>