<div class="page-layout px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Withdraw</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Withdraw</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page">
        <form action="" method="" class="flex-col fix-bt">
            <div class="box-account mb-4 pr">
                <div class="account flex-lc">
                    <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md fw-sm">Nguyen Van A</h4>
                        <p class="txt-xs fw-m txt-gray">0X83Hhjg...</p>
                        <p class="txt-xs fw-sm">BEP20 (BSC)</p>
                    </div>
                    <button type="button" class="btn-change flex-lc"><span class="txt-md fw-sm pr-2">Change</span> <i class="icon-refresh"></i></button>
                </div>
                <div class="dropdown">
                    <h4 class="txt-mh fw-b mb-3">Select Crypto-wallet</h4>
                    <div class="form-search mb-3 w-100">
                        <input type="text" name="" placeholder="Search Crypto-wallet">
                    </div>
                    <div class="block-list-select">
                        <div class="item">
                            <div class="title txt-md fw-b">BEP20 (BSC)</div>
                            <div class="content flex-lc pr">
                                <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                                <div class="detail flex-lc">
                                    <div>
                                        <h4 class="txt-md fw-sm">Nguyen Van A</h4>
                                        <p class="txt-xs fw-m txt-gray">0X83Hhjg...</p>
                                        <p class="txt-xs fw-sm">BEP20 (BSC)</p>
                                    </div>
                                    <div class="flex-lc">
                                        <div class="status default txt-xs fw-b">Default</div>
                                        <button type="button" class="btn-select txt-md fw-sm">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title txt-md fw-b">Lian Lian (USD)</div>
                            <div class="content flex-lc pr">
                                <div class="icon flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
                                <div class="detail flex-lc">
                                    <div>
                                        <h4 class="txt-md fw-sm">Nguyen Van A</h4>
                                        <p class="txt-xs fw-m txt-gray">0X83Hhjg...</p>
                                        <p class="txt-xs fw-sm">BEP20 (BSC)</p>
                                    </div>
                                    <div class="flex-lc">
                                        <div class="status pending txt-xs fw-b">Pending</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-border orange flex-center mt-4 w-100">Add Method</button>
                </div>
            </div>
            <div class="panel-group bg-pl flex-1">
                <div class="balance flex-lc fw-sm mb-3">Balance: <span class="txt-mh fw-b text-orange pl-2">10,000 eVND </span></div>
                <div class="topup pr">
                    <div class="item">
                        <div class="flex-lc mb-xs">
                            <h4 class="txt-md fw-b">You Withdraw</h4>
                            <div class="box-tooltip">
                                <button type="button" class="flex-center"><i class="icon-q"></i></button>
                                <div class="content">
                                    <ul>
                                        <li>Maximum per transaction limit: 30,000,000 eVND</li>
                                        <li>Maximum monthly transaction limit: 65,000,000 eVND</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex align-items-start justify-content-between">
                            <div class="amount">
                                <input type="text" name="" class="txt-xl fw-b mb-2" value="10,000">
                                <span class="txt-xs fw-sm">160,000 available</span>
                            </div>
                            <div class="currency flex-lc">
                                <img src="./../assets/img/evnd.svg" alt="">
                                <span class="fw-b">eVND</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex-lc mb-xs">
                            <h4 class="txt-md fw-b">You receive</h4>
                        </div>
                        <div class="flex align-items-start justify-content-between">
                            <div class="amount">
                                <input type="text" name="" class="txt-xl fw-b mb-2" value="100,000">
                                <span class="txt-xs fw-sm">160,000  available</span>
                            </div>
                            <div class="currency flex-lc">
                                <img src="./../assets/img/usdt.svg" alt="">
                                <span class="fw-b">USDT</span>
                            </div>
                        </div>
                    </div>
                    <div class="arrow-down"></div>
                </div>
            </div>
            <div class="bottom-form bg">
                <ul class="summary mb-3">
                    <li>
                        <h5>Rate</h5>
                        <span>1 eVND = 10 USDT</span>
                    </li>
                    <li>
                        <h5>Fee</h5>
                        <span>0%</span>
                    </li>
                    <li>
                        <h5>Receive Amount</h5>
                        <span>100,000 VND</span>
                    </li>
                </ul>
                <div class="box-tick mb-3">
                    <label class="flex-lc">
                        <input type="checkbox" checked>
                        <span class="checked"></span>
                        I agree with Terms of Use and Policy
                    </label>
                </div>
                <div class="box-btn flex-lc">
                    <button type="button" class="btn-border flex-center pc-show">Back</button>
                    <button type="button" class="btn-pr w-100 flex-center">Withdraw</button>
                </div>
            </div>
        </form>
    </div>
</div>