<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Top-Up</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Top-Up</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <h2 class="txt-xl fw-sm mb-4 pc-show text-center">How you’d like to top up?</h2>
        <div class="box-choose">
            <label class="flex-lc txt-md fw-m">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                Bank transfer
            </label>
            <label class="flex-lc txt-md fw-m">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon mr-2"><img src="./../assets/img/ewallet.svg" alt=""></span>
                E-Wallet transfer
            </label>
            <label class="flex-lc txt-md fw-m">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon mr-2"><img src="./../assets/img/crypto.svg" alt=""></span>
                Crypto network (B20)
            </label>
        </div>
        <button type="button" class="btn-pr w-100 mt-4">Next</button>
    </div>
</div>

<div class="modal modal-bottom fade" id="modal-withdraw">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Withdraw</h2>
            </div>
            <div class="modal-body">
                <ul class="select-list-arr">
                    <li><button type="button" class="flex-lc txt-md fw-sm"><i class="icon icon-bank"></i><span>Bank transfer</span></button></li>
                    <li><button type="button" class="flex-lc txt-md fw-sm"><i class="icon icon-wallet"></i><span>E-wallet</span></button></li>
                    <li><button type="button" class="flex-lc txt-md fw-sm"><i class="icon icon-crypto"></i><span>Crypto network (B20)</span></button></li>
                </ul>
            </div>
        </div>
    </div>
</div>