<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Withdraw</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Withdraw</div>
        </div>
        <div class="progress"><div class="value" style="width: 50%"></div></div>
    </div>
    <div class="body-page flex-1">
        <div class="bank flex-lc mb-4">
            <div class="bank__img flex-center"><img src="./../assets/img/bank.svg" alt=""></div>
            <div class="bank__info">
                <h4 class="txt-md fw-sm">Antelopee</h4>
                <p class="txt-xs fw-m txt-gray">VIB</p>
                <p class="txt-xs fw-m txt-gray">1234566</p>
            </div>
            <button type="button" class="btn-refresh"></button>
        </div>
        <div class="panel-group bg-pl">
            <div class="balance flex-lc fw-sm mb-3">Balance: <span class="txt-mh fw-b text-orange pl-2">10,000 eVND </span></div>
            <div class="topup pr">
                <div class="item">
                    <div class="flex-lc mb-xs">
                        <h4 class="txt-md fw-b">You Withdraw</h4>
                        <div class="box-tooltip">
                            <button type="button" class="flex-center"><i class="icon-q"></i></button>
                            <div class="content">
                                <ul>
                                    <li>Maximum per transaction limit: 30,000,000 eVND</li>
                                    <li>Maximum monthly transaction limit: 65,000,000 eVND</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex align-items-start justify-content-between">
                        <div class="amount">
                            <span class="txt-xl fw-b mb-2">10,000</span>
                            <span class="txt-xs fw-sm">160,000 available</span>
                        </div>
                        <div class="currency flex-lc">
                            <img src="./../assets/img/evnd.svg" alt="">
                            <span class="fw-b">eVND</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="flex-lc mb-xs">
                        <h4 class="txt-md fw-b">You receive</h4>
                    </div>
                    <div class="flex align-items-start justify-content-between">
                        <div class="amount">
                            <span class="txt-xl fw-b mb-2">100,000</span>
                            <span class="txt-xs fw-sm">160,000  available</span>
                        </div>
                        <div class="currency flex-lc">
                            <img src="./../assets/img/vnd.svg" alt="">
                            <span class="fw-b">VND</span>
                        </div>
                    </div>
                </div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
    <div class="bottom-page bg">
        <ul class="summary mb-3">
            <li>
                <h5>Rate</h5>
                <span>1 eVND = 10 VND</span>
            </li>
            <li>
                <h5>Fee</h5>
                <span>0%</span>
            </li>
            <li>
                <h5>Receive Amount</h5>
                <span>100,000 VND</span>
            </li>
        </ul>
        <div class="box-tick mb-3">
            <label class="flex-lc">
                <input type="checkbox" checked>
                <span class="checked"></span>
                I agree with Terms of Use and Policy
            </label>
        </div>
        <button type="button" class="btn-pr w-100 flex-center">Withdraw</button>
    </div>
</div>
<div class="modal modal-bottom fade" id="modal-note">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h2 class="modal-title mb-0">Note</h2>
            </div>
            <div class="modal-body">
                <div class="box-note">
                    <ul class="txt-md fw-m mb-4">
                        <li>Maximum per transaction limit: 30,000,000 eVND </li>
                        <li>Maximum monthly transaction limit: 65,000,000 eVND</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>