<div class="page-layout flex-col px-3">
    <div class="top-page mobile-show mb-4 flex-lc pr">
        <button type="button" class="btn-back" onclick="history.back()"></button>
        <h1 class="title txt-lg fw-b">Withdraw</h1>
    </div>
    <div class="top-page fixed pc-show">
        <div class="nav flex-lc">
            <a href="" title="" class="logo"><img src="./../assets/img/logo-b.png" alt=""></a>
            <div class="title fw-sm">Withdraw</div>
        </div>
        <div class="progress"><div class="value" style="width: 30%"></div></div>
    </div>
    <div class="body-page flex-1">
        <h2 class="txt-xl fw-sm text-center mb-4 pb-3 pc-show">How you’d like to get paid?</h2>
        <div class="box-choose">
            <label class="flex-lc txt-md fw-m">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon mr-2"><img src="./../assets/img/bank.svg" alt=""></span>
                Bank transfer
            </label>
            <label class="flex-lc txt-md fw-m">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon mr-2"><img src="./../assets/img/ewallet.svg" alt=""></span>
                E-Wallet transfer
            </label>
            <label class="flex-lc txt-md fw-m">
                <input type="radio" name="security">
                <span class="checked"></span>
                <span class="icon mr-2"><img src="./../assets/img/crypto.svg" alt=""></span>
                Crypto network (B20)
            </label>
        </div>
        <button type="button" class="btn-pr w-100 mt-4">Next</button>
    </div>
</div>