{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Lian wise order detail' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-lian-detail.html" %}
{% endblock %}
