{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Bank transfer pending' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-bank-pending.html" %}
{% endblock %}
