{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Pingpong pending' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-wallet-pending.html" %}
{% endblock %}
