{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Bank transfer success' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-bank-success.html" %}
{% endblock %}
