{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Withdraw crypto success' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-withdraw-crypto-success.html" %}
{% endblock %}
