{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Withdraw E-wallet success' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-withdraw-wallet-success.html" %}
{% endblock %}
