{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Withdraw bank transfer proccessing' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-withdraw-proccessing.html" %}
{% endblock %}
