{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Withdraw bank transfer success' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-withdraw-success.html" %}
{% endblock %}
