{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Withdraw bank transfer pending' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-withdraw-pending.html" %}
{% endblock %}
