{% extends "layouts/transaction.html" %}
{% set pageTitle = 'Withdraw E-wallet pending' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/transaction-withdraw-wallet-pending.html" %}
{% endblock %}
