:root{
  --orange: #FF5942;
  --hover: #ed331a;
  --red: #E91925;
  --gray: #696969;
}
body{
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.bg-dc-profile{
  background: url("#{$img-path}/bg-dc-profile.jpg") no-repeat top right;
}
body.bg-dc-login{
  background: #fff url("#{$img-path}/bg-login.jpg") no-repeat top right scroll;
  background-size: contain;
}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
@mixin icon-check{
  width: 20px; height: 20px;
  background: url("#{$img-path}/check.svg") no-repeat;
}
@mixin btn-reset{
  width: 18px; height: 18px;
  background: url("#{$img-path}/icon-close.svg") no-repeat;
  position: absolute; right: 14px; top: 14px;
}
@mixin icon{width: 44px; height: 44px; border-radius: 50%; background: #F7F7F7;}
a{transition: .25s;}
a:hover{text-decoration: none;}

//layout
.top-page{
  min-height: 30px; padding: 3px 0; width: 100%;
  &.fixed{
    background: #fff;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
    position: fixed; top: 0; left: 0; z-index: 9;
  }
  .title{width: 100%; max-width: 295px; margin: 0 auto; text-align: center;}
  .btn-filter{
    width: 24px; height: 24px;
    background: url("#{$img-path}/icon-filter.svg") no-repeat;
    right: 0;
    &:hover{background: url("#{$img-path}/icon-filter.svg") no-repeat;}
  }
  .logo,.btn-filter{position: absolute; top: 50%; transform: translateY(-50%);}
  .logo{left: 0;}
  .btn-back{
    width: 24px; height: 24px;
    background: url("#{$img-path}/arrow-left.svg") no-repeat center center;
    border-radius: 50%;
    position: absolute; left: 0; top: 6px;
  }
  .btn-home{
    width: 24px; height: 24px; display: block;
    position: absolute; right: 0; top: 6px;
    background: url("#{$img-path}/icon-home-1.svg") no-repeat;
  }
  .btn-edit{
    width: 24px; height: 24px;
    background: url("#{$img-path}/icon-edit.svg") no-repeat 0 0/contain;
    position: absolute; top: 50%; transform: translateY(-50%); right: 0;
  }
}
.bottom-page,.bottom-form{
  margin: 24px 0 34px;
  &.bg{
    margin: 30px -16px 0;
    padding: 18px 16px 34px;
    border-radius: 30px 30px 0px 0px;
    background: #F7F7F7;
  }
  .box-btn{
    justify-content: space-between;
    button{width: 49%; margin: 0;}
  }
}
.navbar{padding: 0;}

//home
.dashboard{padding: 0 16px;}
.flex-col{display: flex; flex-wrap: wrap; flex-direction: column;}
.flex-1{flex: 1 1 auto;}
.wallet{
  h4{
    margin-bottom: 4px; padding-left: 24px;
    background: url("#{$img-path}/icon-eye.svg") no-repeat left center;
    font-size: 14px; font-weight: 600; color: var(--gray);
  }
  span{font-weight: 700; font-size: 30px; line-height: 38px;}
}
.flag,.notifi{
  margin-left: 15px;
  button{width: 24px; height: 25px; position: relative;}
  span{
    width: 16px; height: 16px;
    display: flex; align-items: center; justify-content: center;
    background: var(--orange);
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff; font-weight: 700;
    font-size: 12px;
    position: absolute; top: -4px; right: -3px;
  }
}
.flag{
  button{background: url("#{$img-path}/icon-flag.svg") no-repeat;}
}
.notifi{
  &.show{
    .btn-notifi{background: url("#{$img-path}/icon-notifi-active.svg") no-repeat;}
    .box-dropdown{opacity: 1; z-index: 9; visibility: visible;}
  }
  .btn-notifi{background: url("#{$img-path}/icon-notifi.svg") no-repeat;}
  .btn-flag{background: url("#{$img-path}/icon-flag.svg") no-repeat;}
  .box-dropdown{
    width: 406px; max-width: calc(100vw - 32px);
    margin-top: 8px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; right: 0px; opacity: 0; z-index: -1; visibility: hidden; transition: .25s;
  }
  .tab{
    box-shadow: none; margin: 0;
    a{padding: 4px 0 8px;}
  }
  .list{
    padding: 16px; height: 80vh; overflow: auto;
    &::-webkit-scrollbar{width: 4px;}
    &::-webkit-scrollbar-track{background: #ccc;}
    &::-webkit-scrollbar-thumb{background: #888;}
  }
}
.list-feature{
  justify-content: center;
  button{margin: 0 6px;}
  .txt{min-width: 68px; text-align: center; line-height: 20px;}
  .active{
    .icon{background: var(--orange);}
    i{width: 24px; height: 24px;}
    .icon-up{background: url("#{$img-path}/arrow-up-white.svg") no-repeat;}
    .icon-down{background: url("#{$img-path}/arrow-down-white.svg") no-repeat;}
    .icon-send{background: url("#{$img-path}/send-white.svg") no-repeat;}
    .icon-earn{background: url("#{$img-path}/earn-white.svg") no-repeat;}
    .icon-convert{background: url("#{$img-path}/convert.svg") no-repeat;}
    .icon-addcard{background: url("#{$img-path}/add-card.svg") no-repeat;}
  }
  .icon{
    width: 56px; height: 56px;
    margin: 0 auto 8px;
    background: #F1F1F1;
    border-radius: 50%;
  }
  i{width: 28px; height: 28px;}
  .icon-up{background: url("#{$img-path}/arrow-up.svg") no-repeat;}
  .icon-down{background: url("#{$img-path}/arrow-down.svg") no-repeat;}
  .icon-send{background: url("#{$img-path}/send.svg") no-repeat;}
  .icon-earn{background: url("#{$img-path}/earn.svg") no-repeat;}
  .icon-convert{background: url("#{$img-path}/convert.svg") no-repeat;}
  .icon-addcard{background: url("#{$img-path}/add-card.svg") no-repeat;}
}
.advertise{
  img{width: 100%;}
  .close{
    width: 16px; height: 16px;
    background: url(#{$img-path}/close.svg) no-repeat;
    position: absolute; top: 6px; right: 6px;
  }
}
.block-main-content,.transactions{
  .top{justify-content: space-between;}
  .item{
    padding: 12px 16px; border-radius: 5px; background: #F7F7F7;
    h4{margin: 2px 0;}
  }
  .box-table{
    padding: 16px 24px;
    background: #fff;
    border-radius: 10px;
    table{width: 100%;}
    .info{padding-left: 12px;}
    th,td{font-size: 16px; line-height: 24px; font-weight: 600;}
    th{padding: 16px 12px; white-space: nowrap;}
    th:last-child{text-align: center;}
    tr{
      td{background: #F8F8F8; padding: 16px 12px;}
      &:nth-child(even) td{background: #fff; padding: 4px 0;}
    }
    h5{font-weight: 600; font-size: 16px; line-height: 24px;}
    p{max-width: 702px;}
    span{font-weight: 500; font-size: 14px; line-height: 20px; color: var(--gray);}
    .status{width: 136px; display: block; margin: 0 auto; font-size: 16px; line-height: 24px; font-weight: 700;}
  }
  .tab{
    background: #E7E7E7; padding: 6px; border-radius: 10px;
    a{display: inline-block; padding: 8px 32px; border-radius: 5px; color: #9B9B9B;}
    .active{
      background: #fff; color: #000;
      &::after{display: none;}
    }
  }
  .status{
    display: inline-block;
    padding: 5px 12px; border-radius: 9999px; text-align: center;
    &.pending{background: #FEF2D4; color: #E4A508;}
    &.process{background: #EBF5FD; color: #309AE7;}
    &.success{background: #E7F5EC; color: #60BC7F;}
    &.failed{background: #FDE8EA; color: #E91925;}
    &.done{background: #fff; color: #60BC7F;}
  }
  .icon{
    width: 44px; height: 44px;
    background: #fff; border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    &.lg{
      width: 64px; height: 64px; padding: 11px;
      img{width: auto;}
    }
    img{width: 22px;}
  }
  span{display: block; color: var(--gray);}
  .btn-viewall{
    padding-right: 20px;
    background: url("#{$img-path}/arrow-right-1.svg") no-repeat right center;
  }
  .btn-detail{
    padding-right: 20px;
    background: url("#{$img-path}/arrow-right-3.svg") no-repeat right center;
  }
  .btn-upload{
    min-width: 180px;
    padding: 12px 20px;
    border-radius: 5px; background: var(--orange); color: #fff; text-align: center;
  }
}
.recent-transaction{
  margin: 24px auto 20px;
  button{padding-right: 20px; background: url("#{$img-path}/arrow-right.svg") no-repeat right center;}
  .icon{width: 24px; height: 24px; margin-right: 4px; background: url("#{$img-path}/icon-file.svg") no-repeat;}
}
.menu-bottom{
  width: 100%;
  padding: 12px 12px 20px;
  background: #fff;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px -7px 16px -4px rgba(0, 0, 0, 0.04);
  border-top: 1px solid #E7E7E7;
  position: fixed; bottom: 0; left: 0;
  a{min-width: 108px; display: block; text-align: center; font-weight: 700; color: var(--gray);}
  .active{
    color: #000;
    .icon{filter: grayscale(0);}
  }
  span{display: block;}
  .icon{width: 25px; height: 24px; display: block; margin: 0 auto 4px; filter: grayscale(1);}
  .icon-home{background: url("#{$img-path}/icon-home.svg") no-repeat;}
  .icon-cart{background: url("#{$img-path}/icon-cart.svg") no-repeat;}
  .icon-profile{background: url("#{$img-path}/icon-profile.svg") no-repeat;}
}
.no-data{
  height: 46vh; flex-direction: column;
  &.mh-lg{height: 71vh;}
  .text{font-size: 16px; line-height: 24px;}
}

//dashboard
.layout-page{
  padding-left: 290px; min-height: 100vh; background: #F7F7F7;
  .sidebar{
    width: 290px; height: 100vh;
    padding: 30px 24px;
    background: #fff;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.02);
    border-right: 1px solid #E7E7E7;
    position: fixed; top: 0; left: 0; z-index: 9;
    .logo{margin-bottom: 40px; display: inline-block;}
    .btn-toggle-sidebar{
      width: 32px; height: 32px;
      border-radius: 50%;
      background: #F7F7F7 url("#{$img-path}/arrow-left-2.svg") no-repeat center center;
      position: absolute; top: 27px; right: 24px;
    }
  }
  .menu{
    >*+*{margin-top: 8px;}
    a{padding: 13px 12px; border-radius: 5px; font-weight: 700; font-size: 16px; line-height: 24px; color: #9B9B9B;}
    span{margin-left: 12px;}
    .icon{width: 24px; height: 24px;}
    .icon-dashboard{background: url("#{$img-path}/icon-db.svg") no-repeat;}
    .icon-card{background: url("#{$img-path}/icon-card.svg") no-repeat;}
    .icon-transaction{background: url("#{$img-path}/icon-transaction.svg") no-repeat;}
    .icon-faq{background: url("#{$img-path}/icon-faq.svg") no-repeat;}
    .icon-chat{background: url("#{$img-path}/icon-chat.svg") no-repeat;}
    .icon-clock{background: url("#{$img-path}/icon-clock.svg") no-repeat;}
    .active{
      background: #FFEFED; color: #000;
      .icon-dashboard{background: url("#{$img-path}/icon-db-active.svg") no-repeat;}
      .icon-card{background: url("#{$img-path}/icon-card-active.svg") no-repeat;}
      .icon-transaction{background: url("#{$img-path}/icon-transaction-active.svg") no-repeat;}
    }
  }
  .content-wrapper{width: 100%; padding-top: 72px;}
  .panel-info-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 16px;
    margin: 32px 0 64px;
    .item{
      display: flex; flex-direction: column;
      justify-content: center;
      padding: 21px 24px; border-radius: 10px; background: #fff;
    }
    h4{color: var(--gray);}
    .btn-hide{width: 20px; height: 20px; margin-left: 6px; background: url("#{$img-path}/icon-eye-2.svg") no-repeat 0 0/contain;}
  }
  .main-content{
    padding: 64px 48px;
    &.bg-white{background: #fff;}
  }
  .top-bar-fixed{
    display: flex; justify-content: flex-end;
    padding: 12px 48px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    width: calc(100% - 290px); position: fixed; left: 290px; top: 0; z-index: 9;
  }
  .avatar{
    margin-left: 36px;
    padding-right: 20px;
    background: url("#{$img-path}/arrow-down-2.svg") no-repeat right center;
    cursor: pointer;
    img{width: 48px; height: 48px; border-radius: 50%; object-fit: cover;}
  }
  .list-feature{
    padding: 0 15px; justify-content: space-around;
  }
  .navbar{padding: 0; display: block;}
  .dropdown-menu{
    min-width: 200px;
    margin-top: 8px;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    background: #fff;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    right: 0; left: inherit;
    a{display: block; padding: 10px 14px; font-weight: 500; font-size: 16px; line-height: 24px; position: relative;}
    a::after{
      content: "";
      @include icon-check;
      position: absolute; right: 14px; top: 50%; transform: translateY(-50%);
      opacity: 0; transition: .2s;
    }
    li:hover{
      a{background: #F9FAFB; color: #000;}
      a::after{opacity: 1;}
    }
  }
}
.body-page{
  .progress{
    width: 100%; height: 8px;
    margin-bottom: 24px;
    background: #E7E7E7;
    border-radius: 4px;
    position: relative;
    .value{height: 100%; background: #FF8B7B; position: absolute; top: 0; left: 0;}
  }
  .title{font-size: 20px; line-height: 30px; font-weight: 700;}
}

//mainnantenance
.wealify-maintenance{
  padding: 24px 16px;
  .img-wrapper{width: 90%; margin: 50px auto;}
  .box-text{
    max-width: 662px; margin: 0 auto;
    h1{font-size: 28px; line-height: 34px; letter-spacing: -0.96px;}
    p{font-size: 16px; line-height: 24px;}
  }
}

//login
.wealify-account{
  padding: 18px 16px 32px; min-height: 100vh;
  background:#fff url('#{$img-path}/bg-login.jpg') no-repeat top right;
  &.no-bg{background: none;}
  .col-left{
    display: flex; flex-direction: column; min-height: calc(100vh - 50px);
  }
  .header{
    margin-bottom: 16px;
    h1{
      width: 100%;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 20px; line-height: 30px;
      text-align: center;
      letter-spacing: 0;
    }
    .btn-back{
      width: 24px; height: 24px; background: url("#{$img-path}/arrow-left.svg") no-repeat;
      position: absolute; left: 0; top: 50%; transform: translateY(-50%);
    }
  }
  .logo{margin-bottom: 100px; display: inline-block;}
  form{flex: 1 1 auto; padding-bottom: 40px;}
  h1{
    margin-bottom: 48px;
    font-weight: 600; font-size: 36px; line-height: 44px; letter-spacing: -0.72px;
    span{display: block;}
  }
  .forgot-password{
    margin-top: 16px; display: flex; justify-content: flex-end;
    font-weight: 700;
    a{color: #309AE7;}
    a:hover{text-decoration: underline;}
  }
  .note-inputname{
    width: 243px; padding: 8px 12px;
    background: #000;
    border-radius: 8px;
    color: #fff;
    font-weight: 500; font-size: 12px; line-height: 18px;
    text-align: center;
    position: absolute; top: 80px; left: 50%; transform: translateX(-50%);
    opacity: 0; z-index: -1;
    &::before{
      content: "";
      border-color: transparent transparent #000 transparent;
      border-style: solid;
      border-width: 5px;
      position: absolute; left: 50%; transform: translateX(-50%); top: -10px;
    }
    &.show{opacity: 1; z-index: 2; transition: opacity .25s;}
  }
  .note-password{
    background: #F7F7F7;
    border-radius: 5px;
    padding: 16px 24px;
    ul{
      > *+*{margin-top: 8px;}
      li{
        padding-left: 24px; background: url("#{$img-path}/tick.svg") no-repeat left center;
        &.not{background: url("#{$img-path}/not.svg") no-repeat left center;}
      }
    }
  }
  .code-send{
    padding: 6px 12px;
    background: #F7F7F7;
    border-radius: 5px;
    position: absolute; top: 50%; transform: translateY(-50%); right: 6px;
    .box-tooltip button{width: 18px; height: 18px;}
  }
  .btn-getcode{
    padding: 6px 12px;
    background: #F7F7F7;
    border-radius: 5px;
    color: #309AE7;
    position: absolute; top: 50%; transform: translateY(-50%); right: 6px;
  }
  .text-q{
    font-weight: 500; color: var(--gray); text-align: center;
    a{margin-left: 4px; font-weight: 700; color: var(--orange);}
    a:hover{color: var(--hover);}
  }
  .checkbox{
    label{margin-bottom: 0; padding-left: 26px; color: var(--gray); font-size: 16px; line-height: 24px;}
    input{position: absolute; opacity: 0; width: auto;}
    .checked{
      width: 18px; height: 18px; display: block;
      border-radius: 5px;
      border: 1px solid #ccc;
      position: absolute; left: 0; top: 3px;
    }
    input:checked + .checked{background: url("#{$img-path}/tick-3.svg") no-repeat center center;}
   
    a:hover{color: var(--orange);}
  }
  .btn-back{
    width: 24px; height: 24px;
    background: url('#{$img-path}/arrow-left-1.svg') no-repeat center center;
    position: absolute; top: -45px; left: -30px; opacity: 0; z-index: -1; visibility: hidden; transition: .3s;
    &.show{opacity: 1; z-index: 2; visibility: visible; left: 0;}
  }
}
.note-list{
  margin-bottom: 24px; color: var(--gray);
  >*+*{margin-top: 8px;}
  h4{color: #000;}
  p{
    padding-left: 24px; background: url("#{$img-path}/tick.svg") no-repeat 0 2px;
    &.no{background: url("#{$img-path}/not.svg") no-repeat 0 2px;}
  }
}
.wealify-form{
  label{
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 20px;
  }
  input{
    width: 100%;
    &:focus{border: 1px solid #FFCEC7; box-shadow: 0px 0px 0px 4px #F7F7F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);}
    &.error-input{border: 1px solid #F48D92;}
  }
  .error{
    display: none;
    margin-top: 6px;
    color: #E91925; line-height: 20px;
    &.show{display: block;}
  }
  .toggle-password{
    width: 18px; height: 18px;
    background: url('#{$img-path}/icon-eye-1.svg') no-repeat center center;
    position: absolute; right: 14px; top: 40px; cursor: pointer;
    &.show{background: url('#{$img-path}/icon-eye-2.svg') no-repeat center center;}
  }
  
  .box-tooltip{margin-top: -6px;}
  .btn-cancel{
    width: 18px; height: 18px;
    background: url("#{$img-path}/icon-close.svg") no-repeat;
    position: absolute; right: 14px; top: 14px;
  }
  .btn-submit,.btn-next{
    width: 100%; height: 48px;
    border-radius: 5px; background: #ccc;
    color: #9B9B9B;
    &.active{background: var(--orange); color: #fff;}
  }
}
.form-otp{
  flex-wrap: nowrap;
  justify-content: space-around;
  .flex{width: 100%; justify-content: space-around; align-items: center;}
  &.error{
    input{border-color: #F48D92;}
    .space{color: #F48D92;}
  }
  .error-message{
    margin-top: 8px; color: var(--red); line-height: 20px;
    >*+*{margin-top: 8px;}
  }
  input{
    width: 48px; height: 48px; padding: 0;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #000; text-align: center;
  }
  input:focus{
    box-shadow: 0px 0px 0px 4px rgba(#FF5942, 0.04);
    color: #FF5942;
    border-color: #FFCEC7;
  }
}
.text-resend{
  margin-top: 56px; text-align: center;
  font-weight: 600; line-height: 20px;
  span{font-weight: 500; color: #696969;}
  button{font-weight: 700; color: var(--orange);}
}

//topup
.page-layout{
  min-height: 100vh; overflow-x: hidden;
  &.bg-dc{
    background:#fff url('#{$img-path}/bg-login.jpg') no-repeat top right;
    background-size: contain;
  }
  &.bg-dc-1{
    background:#fff url('#{$img-path}/bg-dc-4.jpg') no-repeat 50% 0/cover;
  }
  &.bg-dc-2{
    background:#fff url('#{$img-path}/bg-dc-5.jpg') no-repeat 50% 0/cover;
  }
  &.bg-dc-3{
    background:#fff url('#{$img-path}/bg-dc-7.svg') no-repeat 50% 0/cover;
  }
}
.receive-amount{
  padding: 14px 0;
  justify-content: space-between;
  span{color: var(--orange);}
}
.box-tick{
  label{margin-bottom: 0; position: relative; font-weight: 600; color: var(--gray);}
  input{position: absolute; opacity: 0;}
  .checked{
    width: 20px; height: 20px; display: block;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    &::after{
      content: ""; width: 8px; height: 8px;
      border-radius: 50%; background: var(--orange);
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
      opacity: 0;
    }
  }
  input:checked + .checked::after{opacity: 1;}
}
.summary{
  >*+*{border-top: 1px solid #E7E7E7;}
  li{display: flex; align-items: center; justify-content: space-between; padding: 12px 0;}
  h5,span{font-weight: 600; line-height: 20px;}
  h5{font-size: 14px; color: var(--gray);}
  li:last-child{
    h5,span{font-weight: 700;}
    h5{font-size: 16px; line-height: 24px;}
    span{color: var(--orange); font-size: 18px; line-height: 28px;}
  }
}
.topup{
  >*+*{margin-top: 12px;}
  .item{
    padding: 24px 16px;
    border-radius: 10px;
    background: #F5F5F5;
    &.error{
      border: 1px solid #FFACA1;
      input{color: #E91925;}
    }
    &:last-child{margin-bottom: 0;}
    h4,.txt-xs{color: #9B9B9B;}
  }
  .amount{
    max-width: 60%;
    input{
      width: 100%; padding: 0; border: none; background: none; box-shadow: none;
      &:focus{outline: none;}
    }
    span{display: block;}
  }
  .currency{
    padding: 8px 9px;
    background: #fff;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.03);
    border-radius: 9999px;
    span{padding-left: 6px; line-height: 20px;}
    img{width: 24px; height: 24px; border-radius: 50%; object-fit: cover;}
  }
  .arrow-down{
    width: 40px; height: 40px;
    border-radius: 50%;
    background: #fff url("#{$img-path}/arrow-down-3.svg") no-repeat center center;
    position: absolute; left: 50%; transform: translateX(-50%);
    top: 132px;
  }
}
.box-select{
  img{width: 24px; height: 24px; border-radius: 50%; object-fit: cover;}
  &.show{
    .selected::after{transform: translateY(-50%) rotate(180deg);}
    .select-list{opacity: 1; visibility: visible; z-index: 2;}
  }
  .selected{
    background: #fff;
    flex-wrap: nowrap;
    min-height: 48px;
    padding: 11px 14px;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    .icon{width: 24px; height: 24px;}
    img{width: 100%; height: 100%; object-fit: cover;}
    &::after{
      content: "";
      width: 16px; height: 16px;
      background: url("#{$img-path}/arrow-down-1.svg") no-repeat;
      position: absolute; right: 14px; top: 50%; transform: translateY(-50%);
    }
    &.round{
      padding: 8px 28px 8px 12px;
      background: #fff; border: none;
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.03);
      border-radius: 9999px;
      &::after{right: 8px; width: 14px; height: 14px; background: url("#{$img-path}/arrow-down-2.svg") no-repeat 0 0/contain;}
    }
  }
  .select-list{
    width: 100%; min-width: 142px;
    background: #fff;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; right: 0; opacity: 0; visibility: hidden; overflow: hidden; z-index: -1;
    li{padding: 10px 14px; cursor: pointer; position: relative;}
    li:hover,.active{
      background: #f7f7f7;
      &.active::after{opacity: 1;}
    }
    li::after{
      content: "";
      width: 20px; height: 20px;
      background: url("#{$img-path}/check.svg") no-repeat 0 0/contain;
      position: absolute; right: 14px; top: 50%; transform: translateY(-50%); opacity: 0;
    }
    span{padding-left: 8px; font-weight: 500; font-size: 16px; line-height: 24px;}
  }
}
.form-invoice{
  label,input{width: 50%; color: var(--gray);}
  input{height: 40px; font-size: 14px; color: #000;}
}
.w-qrcode{
  width: 245px; margin: 0 auto 24px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
  .code{margin: 16px auto 0; max-width: 257px; word-break: break-all;}
}
.action-list{
  justify-content: space-around;
  .item{text-align: center;}
  .icon{width: 56px; height: 56px; margin: 0 auto 8px; background: #F1F1F1; border-radius: 50%;}
  .icon img{width: 28px;}
}
.bank{
  padding: 12px 16px;
  background: #F7F7F7;
  border-radius: 5px;
  position: relative;
  &__img{
    width: 44px; height: 44px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
  }
  &__info{padding-left: 12px;}
  .status{
    padding: 5px 12px;
    background: #fff;
    border-radius: 9999px;
    position: absolute; top: 12px; right: 16px;
    &.pending{background: #FEF2D4; color: #E4A508;}
  }
}
.btn-change{
  margin-left: auto;
  &:hover .icon-refresh{transform: rotate(180deg);}
  .icon-refresh{
    width: 36px; height: 36px;
    border-radius: 50%;
    background: #fff url("#{$img-path}/refresh.svg") no-repeat center center;
    transition: .3s;
  }
  span{display: none;}
}

//withdraw
.block-list-select{
  >*+*{margin-top: 16px;}
  .item{
    border-radius: 5px; border: 1px solid #E7E7E7;
    .title{
      width: 100%; padding: 12px 24px; background: #F7F7F7; border-radius: 5px 5px 0 0;
      font-size: 16px; line-height: 24px;
    }
    .content{padding: 12px 16px;}
    .header{
      background: #F7F7F7;
      padding: 12px 24px;
      border-radius: 5px 5px 0 0;
    }
    .icon{width: 44px; height: 44px; border-radius: 50%; background: #F7F7F7;}
    .detail{
      padding: 0 20px 0 12px; width: calc(100% - 44px); justify-content: space-between;
      &::after{
        content: "";
        width: 20px; height: 20px;
        background: url("#{$img-path}/arrow-right-3.svg") no-repeat 0 0/contain;
        position: absolute;
        right: 14px; top: 50%; transform: translateY(-50%);
      }
    }
    .btn-select{
      display: none;
      margin-left: 14px;
      padding: 8px 12px;
      border-radius: 5px;
      background: #EBF5FD;
      color: #309AE7;
    }
  }
  .status{
    padding: 5px 12px; border-radius: 9999px;
    display: inline-block;
    &.pending{background: #FEF2D4; color: #E4A508;}
    &.default{background: #FFEFED; color: #FF5942;}
  }
}
.box-account{
  &.show .dropdown{margin-top: 8px; opacity: 1; visibility: visible; z-index: 2;}
  .dropdown{
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    background: #fff;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; opacity: 0; visibility: hidden; transition: .3s; z-index: -1;
  }
  .account{
    padding: 12px 16px;
    background: #F7F7F7;
    border-radius: 5px;
    position: relative;
    .icon{
      width: 44px; height: 44px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    .info{padding-left: 12px;}
  }
  
}

//transaction
.transaction{
  >*+*{border-top: 1px dashed #E7E7E7;}
  .item{padding: 16px 0;}
}
.send{
  justify-content: space-between;
  >*+*::after{
    content: "";
    width: 14px; height: 14px;
    background: url("#{$img-path}/arrow-down-3.svg") no-repeat 0 0/contain;
    position: absolute; top: 50%; left: -19px; transform: translateY(-50%) rotate(-90deg);
  }
  .item{
    width: calc(50% - 12px); border-radius: 5px; background: #F7F7F7; position: relative;
    .avatar{
      width: 36px; height: 36px; margin-right: -12px;
      img{border: 2px solid #fff;}
    }
    .user{
      padding: 8px 16px;
      border-bottom: 1px solid #E7E7E7;
      img{width: 36px; height: 36px; border-radius: 50%; object-fit: cover;}
      span{width: calc(100% - 36px); white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    }
    .info{
      padding: 12px 16px;
      h5{font-size: 14px; line-height: 20px;}
    }
    .more{
      width: 36px; height: 36px;
      background: #FF8B7B;
      border: 2px solid #fff;
      border-radius: 50%;
      color: #fff;
    }
    .btn-more{
      width: 16px; height: 16px;
      display: block;
      margin-left: auto;
      background: url("#{$img-path}/arrow-right-3.svg") no-repeat 0 0/contain;
    }
  }
}

.transfer-info,.transaction-info{
  &.txt-left{
    .flex-lc{justify-content: flex-start;}
    li > span, li > a{text-align: left;}
  }
  div h5{width: auto;}
  li{display: flex; align-items: center; padding: 6px 0;}
  li{
    > span, > a{width: 55%; text-align: right;}
  }
  li > .flex-lc{width: 55%; justify-content: flex-end;}
  h5, span, a{line-height: 20px; font-weight: 600; word-break: break-all;}
  h5{width: 45%; font-size: 14px; color: var(--gray);}
  .highlight{
    h5,span{font-weight: 700; font-size: 16px; line-height: 24px; color: #000;}
  }
  .btn-round{
    width: 32px; height: 32px;
    margin-left: 8px;
    border-radius: 50%;
    background: #fff;
    &:hover{
      background: var(--orange);
      .icon-copy{background: url("#{$img-path}/icon-copy-white.svg") no-repeat;}
    }
  }
  input{height: 40px; padding: 0 14px; border: 1px solid #E7E7E7; border-radius: 5px; font-size: 14px; color: var(--gray); color: #000;}
  .icon-copy{width: 18px; height: 18px; background: url("#{$img-path}/icon-copy.svg") no-repeat;}
  .icon-arrow{width: 16px; height: 16px; background: url("#{$img-path}/arrow-right.svg") no-repeat;}
}

.box-detail{
  .activity-log{
    margin-bottom: 31px;
    ul > *+*{margin-top: 16px;}
    li{list-style: none; padding-left: 32px; position: relative; color: var(--gray);}
    .icon{
      width: 24px; height: 24px;
      border-radius: 50%;
      background:#F7F7F7;
      border-radius: 50%;
      position: absolute; left: 0; top: 50%; transform: translateY(-50%);
    }
    li::before{
      content: "";
      width: 24px; height: 24px; display: none;
      border-radius: 50%;
      background:#F7F7F7 url("#{$img-path}/icon-add.svg") no-repeat center center;
      position: absolute; left: 0; top: 50%; transform: translateY(-50%);
    }
  }
  .qrcode{
    .img-wrapper{
      width: 48px; padding: 5px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #E7E7E7;
    }
  }
  .note{
    margin-bottom: 16px;
    font-weight: 500; color: var(--gray);
    span{color: #000;}
  }
  .box-text{
    .icon-info{
      width: 18px; height: 18px; display: inline-block;
      background: url("#{$img-path}/icon-info-1.svg") no-repeat 0 0/contain;
      vertical-align: middle; cursor: pointer;
    }
    .content{
      width: 260px;
      padding: 8px 12px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.02), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
      font-size: 12px; font-weight: 500; line-height: 18px;
      position: absolute; bottom: 30px; left: -50%; transform: translateX(-50%);
      opacity: 0; visibility: hidden; z-index: -1;
      >*+*{margin-top: 4px;}
      &::after{
        content: "";
        border-width: 7px; border-style: solid;
        border-color: #fff transparent transparent transparent;
        position: absolute; left: 57%; transform: translateX(-50%); bottom: -14px;
      }
      &.left{
        right: -15px; left: inherit;
        &::after{right: 20px; left: inherit;}
      }
      span{display: block; padding-left: 24px; position: relative; color: var(--gray);}
      span::before{
        content: "";
        width: 16px; height: 16px;
        background: url("#{$img-path}/tick-2.svg") no-repeat 0 0/contain;
        position: absolute; left: 0; top: 2px;
      }
    }
    span:hover .content{opacity: 1; z-index: 9; visibility: visible;}
  }
  .img-icon{width: 72px; margin: 0 auto 14px;}
}
.box-qrcode{
  padding: 24px 0;
  .qrcode{
    width: 240px; margin: 24px auto; padding: 22px 18px;
    border-radius: 20px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(2px);
    img{display: block; width: 100%; margin: 0 auto;}
  }
  .btn-save{
    margin: 0 auto;
    flex-direction: column;
    .icon{
      width: 60px; height: 60px; margin-bottom: 8px;
      border-radius: 50%;
      background: #F7F7F7 url("#{$img-path}/icon-download.svg") no-repeat center center;
    }
  }
}
.box-note{
  ul > *+*{margin-top: 8px;}
  li{padding-left: 32px; list-style: none; position: relative; color: var(--gray);}
  li::before{
    content: "";
    width: 24px; height: 24px;
    border-radius: 50%;
    background: #f7f7f7 url("#{$img-path}/icon-check-1.svg") no-repeat center center;
    position: absolute; left: 0; top: 0;
  }
}
.box-filter{
  >*+*{margin-left: 12px;}
  .filter:last-child{flex: 1;}
  .form-search{width: 100%;}
  &.show{
    .dropdown{opacity: 1; visibility: visible; z-index: 9;}
    .btn-filter{
      background: #FFEFED;
      .icon-filter{background: url("#{$img-path}/filter-active.svg") no-repeat;} 
    }
  }
  .dropdown{
    width: 390px; max-width: calc(100vw - 32px);
    margin: 0;
    padding: 16px;
    background: #fff;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; right: 0; top: 56px; opacity: 0; z-index: -1; visibility: hidden;
  }
}
.filter{
  .select-date{
    flex-wrap: nowrap;
    span{padding: 0 13px;}
    .box-input{width: 45%; padding-right: 14px; border: 1px solid #E7E7E7; border-radius: 5px;}
    input{
      width: 100%;
      height: 48px;
      padding: 0 14px;
      border: none;
      background: url("#{$img-path}/icon-date.svg") no-repeat right center;
      font-size: 16px;
      text-align: left;
    }
  }
  .filter-list{
    margin: -4px;
    button{
      margin: 4px; padding: 11px 19px;
      border: 1px solid transparent;
      border-radius: 5px;
      background: #F8F8F8;
      font-weight: 700;
      color: var(--gray);
      font-size: 16px; line-height: 24px;
      &:hover{color: #000;}
    }
    .active{border: 1px solid #FFACA1; color: #000; background: #FFF1F0;}
  }
  .select2{min-width: 11vw;}
}
.form-wealify{
  &.fix-bt{min-height: calc(100vh - 60px); padding-bottom: 34px;}
  label{margin-bottom: 6px; font-weight: 500;}
  input{
    width: 100%; line-height: 24px;
    &.readonly{
      background: #F7F7F7;
      color: var(--gray);
    }
  }
  textarea{
    width: 100%; height: 116px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #E7E7E7;
    color: #000;
    font-size: 16px;
    &::placeholder{color: #9B9B9B;}
    &:focus{outline: none;}
  }
  .item{
    margin-bottom: 8px;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 5px;
    h5{margin-bottom: 8px; color: var(--gray);}
    h5,span{font-weight: 600; font-size: 14px; line-height: 20px;}
  }
  .btn-cancel{@include btn-reset;}
  .select2-container .select2-selection--single{height: 48px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 48px; font-size: 16px;}
  .select2-container--default .select2-selection--single .select2-selection__arrow{height: 46px;}
}
.box-kyc{
  margin-top: 130px;
  .kyc-progress{
    width: 92%; height: 8px; background: #E7E7E7; border-radius: 4px;
    position: absolute; left: 50%; transform: translateX(-50%); top: 8px;
    .value{height: 100%; background: var(--orange); position: absolute; top: 0; left: 0;}
  }
  .kyc-level{
    justify-content: space-between;
    .active::before{border-color: var(--orange);}
    .active::after{display: block;}
    li{position: relative; cursor: pointer;}
    li:first-child{
      .level-tooltip{
        left: 0; transform: translateX(0);
        &::after{left: 20px; transform: translateX(0);}
      }
    }
    li:last-child{
      .level-tooltip{
        left: inherit; transform: translateX(0); right: 0;
        &::after{right: 20px; left: inherit; transform: translateX(0);}
      }
    }
    li:hover .level-tooltip{opacity: 1; z-index: 2;}
    li::before{
      content: "";
      width: 24px; height: 24px; display: block;
      background: #fff;
      margin: 0 auto;
      border: 2px solid #E7E7E7;
      border-radius: 50%;
      filter: drop-shadow(0px 2px 4px rgba(16, 24, 40, 0.06)) drop-shadow(0px 4px 8px rgba(16, 24, 40, 0.10));
    }
    li::after{
      content: "";
      width: 14px; height: 14px;
      background: var(--orange);
      border-radius: 50%;
      position: absolute; left: 50%; transform: translateX(-50%);
      top: 5px; display: none;
    }
    .icon{
      width: 44px; height: 44px;
      background: var(--orange);
      border-radius: 50%;
      position: absolute; left: 0; top: -10px; z-index: 2;
    }
    span{margin-top: 10px; display: block;}
  }
  .level-tooltip{
    width: 242px;
    padding: 8px 12px;
    border-radius: 8px;
    background: #fff;
    color: #000;
    text-align: center;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.02), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; left: 50%; bottom: 75px; transform: translateX(-50%);
    transition: .25s; opacity: 0; z-index: -1;
    &::after{
      content: "";
      border-width: 5px;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      position: absolute; left: 50%; transform: translateX(-50%); bottom: -10px;
    }
    ul{
      >*+*{margin-top: 8px;}
      li{padding-left: 28px; list-style: none; position: relative;}
      li::before{
        content: "";
        width: 20px; height: 20px;
        background: url("#{$img-path}/tick-2.svg") no-repeat 0 0/contain;
        border: none;
        filter: none;
        position: absolute; left: 0; top: 0;
      }
    }
    p{padding-left: 16px; text-align: left; position: relative;}
    p::after{
      content: "";
      width: 4px; height: 4px;
      background: #000;
      border-radius: 50%;
      position: absolute; left: 0; top: 8px;
    }
  }
  .kyc-status{
    margin-top: 24px;
    padding: 12px 10px;
    border-radius: 5px;
    h4{margin-bottom: 4px; font-weight: 600; font-size: 16px; line-height: 24px;}
    .icon{width: 32px;}
    .content{width: calc(100% - 32px); padding-left: 12px;}
    &.processing{border: 1px solid #C1E1F8; background: #EFF5F9;}
    &.failed{border: 1px solid #F9BBBE; background: #FFF1F0;}
  }
  .btn-pr{min-width: 167px;}
}
.profile{
  margin: 32px 0;
  .item{
    margin-top: 8px;
    padding: 12px 66px 12px 16px;
    background: #F7F7F7;
    border-radius: 5px;
    position: relative;
  }
  .btn-edit{
    position: absolute; top: 50%; transform: translateY(-50%); right: 16px;
    .icon-edit{
      width: 40px; height: 40px;
      background: #fff url("#{$img-path}/icon-pencil.svg") no-repeat center center;
      border-radius: 50%;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    span{display: none;}
  }
}
.box-edit-phone{
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  flex-wrap: nowrap;
  input{border: none;}
  select{
    border: none;
    padding-right: 20px;
    padding-left: 14px;
    -webkit-appearance: none;
    background: url("#{$img-path}/arrow-down-1.svg") no-repeat right center;
    &:focus{outline: none;}
  }
  .box-select{
    .selected{padding-right: 40px; border: none; box-shadow: none;}
    .select-list{right: inherit; left: 0;}
  }
}
.img-invoice{
  padding: 100px 0;
  img{display: block; margin: 0 auto;}
}
form.fix-bt{min-height: calc(100vh - 60px);}

//setting
.settings{
  .list{
    margin-bottom: 16px; background: #F7F7F7; border-radius: 10px;
    >*+* a{border-top: 1px solid #E7E7E7;}
    a{
      width: 100%;
      padding: 16px 0;
      background: url("#{$img-path}/arrow-right.svg") no-repeat right center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }
    .text{padding-left: 8px;}
  }
  .item{
    margin-bottom: 24px;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 10px;
  }
  .select-list{
    button{
      width: 100%; padding: 10px 0;
      font-weight: 500;
      font-size: 16px; line-height: 24px;
      color: #9B9B9B;
      text-align: left;
    }
    .active{
      background: url("#{$img-path}/check.svg") no-repeat right center;
      color: #000;
    }
  }
  .authenticator{
    h2{margin-bottom: 40px;}
    img{margin: 0 auto;}
  }
  li{padding: 0 16px;}
  h4{color: #9B9B9B;}
  .btn-logout{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background: #000;
    color: #fff;
  }
}
.verify{
  min-height: calc(100vh - 60px); padding-bottom: 34px;
  h2{font-size: 16px; line-height: 24px;}
}
.box-choose{
  >*+*{margin-top: 12px;}
  label{
    width: 100%;
    margin-bottom: 0;
    padding: 12px 40px 12px 16px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    position: relative; cursor: pointer;
    input{position: absolute; opacity: 0; right: 0;}
    .icon{
      width: 44px; height: 44px;
      display: flex; align-items: center; justify-content: center;
      background: #F7F7F7;
      border-radius: 50%;
      &.no-bg{
        background: none;
        img{width: 44px;}
      }
      img{width: 24px;}
    }
    .content{width: calc(100% - 44px); padding-left: 12px;}
    &.active{
      background: #FFF1F0; border: 1px solid #FFCEC7;
      .icon{background: #fff; box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);}
      .icon.no-bg{background: none;}
    }
  }
  input:checked + .checked::after{opacity: 1;}
  .checked{
    width: 20px; height: 20px; display: block;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-left: auto; position: absolute; right: 14px; top: 50%; transform: translateY(-50%);
    &.top-3{top: 14px; transform: translateY(0);}
    &::after{
      content: "";
      width: 10px; height: 10px; border-radius: 50%;
      background: #FF5942;
      position: absolute; top: 50%; left: 50%;
      transform: translate(-50%,-50%); opacity: 0;
    }
  }
  p{width: 100%; color: var(--gray);}
}
.payment{}
.verifying{
  padding: 64px 0;
  .icon{margin: 0 auto; width: 72px;}
  .btn-pr{width: 227px; margin: 0 auto;}
}

//pending
.box-tab{
  .list{
    li{
      padding: 12px 0; display: flex; align-items: flex-start;
      &.old{
        h4{color: var(--gray);}
      }
      .detail{
        width: calc(100% - 44px);
        padding-left: 12px;
      }
      .icon{background: #F7F7F7;}
      .icon img{width: 24px;}
      .status{
        width: 12px; height: 12px;
        border-radius: 50%;
        background: #309AE7;
        border: 2px solid #fff;
        position: absolute; top: 0; right: 0;
      }
    }
    a{margin-bottom: 8px; padding: 12px 16px; border-radius: 5px; background: #F7F7F7;}
    .icon{
      width: 44px; height: 44px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
      position: relative;
    }
    .content{
      width: calc(100% - 44px); padding: 0 24px 0 12px;
      background: url("#{$img-path}/arrow-right-3.svg") no-repeat right center;
    }
  }
}
.box-upload{
  .upload{
    width: 100%; height: 178px;
    flex-direction: column;
    padding: 24px;
    border-radius: 10px;
    border: 1px dashed #E7E7E7;
    cursor: pointer;
  }
  .image-holder{
    width: 100%; margin-top: 16px;
    .img{width: 50%; padding: 8px; max-width: 186px; position: relative;}
    .cancel{
      width: 14px; height: 14px;
      background: url("#{$img-path}/cancel.svg") no-repeat 0 0/contain;
      font-size: 0;
      position: absolute; top: 10px; right: 10px;
    }
  }
  .file-holder{
    margin-top: 16px;
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    position: relative;
    span{display: block;}
    .info{width: calc(100% - 32px); padding: 0 24px 0 8px;}
    .icon-pdf{width: 32px; height: 32px; background: url("#{$img-path}/pdf.svg") no-repeat;}
    .icon-doc{width: 32px; height: 32px; background: url("#{$img-path}/docx.svg") no-repeat;}
    .name{font-weight: 600; font-size: 14px; line-height: 20px;}
    .size{font-weight: 500; font-size: 12px; line-height: 18px; color: var(--gray);}
    .cancel{
      width: 20px; height: 20px; display: block;
      background: url("#{$img-path}/cancel.svg") no-repeat;
      position: absolute; right: 8px; top: 10px;
    }
  }
  .icon-upload{
    width: 56px; height: 56px;
    margin: 0 auto 8px;
    background: url("#{$img-path}/icon-upload-1.svg") no-repeat 0 0/contain;
  }
  input{width: 100%; height: 100%; position: absolute; top: 0; opacity: 0;}
  sub{color: #FF5942;}
}
.tab{
  margin: 0 -16px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #E7E7E7;
  li{width: 50%;}
  a{
    display: block; padding-bottom: 8px;
    font-weight: 600; font-size: 16px; line-height: 24px; color: #9B9B9B;
    text-align: center; position: relative;
  }
  .active{
    color: #000;
    &::after{
      content: "";
      width: 100%; height: 2px;
      background: #FF5942;
      position: absolute; bottom: 0; left: 0;
    }
  }
}

//send
.box-send{}
.form-send{
  .form-row{
    justify-content: space-between;
    .form-group{
      width: calc(50% - 4px); padding: 16px; margin-bottom: 0; border-radius: 5px; background: #F7F7F7;
      &.error{border: 1px solid #E91925;}
      &.error .user{border: none;}
    }
    .user{
      padding: 0; width: 100%;
      .avatar{width: 40px;}
      .info{width: calc(100% - 40px);}
    }
    h5{font-size: 14px; line-height: 20px;}

  }
  .error{
    .box-input,input{border: 1px solid #E91925;}
    .user{border: 1px solid #E91925;}
  }
  label{
    width: 60px;
    &.lg{width: 30%;}
  }
  input,.user{width: calc(100% - 60px);}
  input.error{border: 2px solid #E91925;}
  .user{
    padding: 16px 12px;
    border-radius: 5px;
    background: #F7F7F7;
    .avatar{width: 48px;}
    .info{width: calc(100% - 48px); position: relative;}
    .check{
      width: 24px; height: 24px;
      background: url("#{$img-path}/check-1.svg") no-repeat;
      position: absolute; right: 0; top: 50%; transform: translateY(-50%);
    }
  }
  .box-input{
    width: 70%; min-height: 48px; padding: 0 14px; display: flex; align-items: center;
    &.sm{width: calc(100% - 60px);}
    input{border: none; width: 65%;}
    input[type="file"]{height: auto; padding: 0 8px; width: 80%; box-shadow: none; color: #696969;}
    input::file-selector-button {
      display: none;
    }
    .coin{flex-wrap: nowrap;}
    .btn-date{
      width: 18px; height: 18px;
      background: url('#{$img-path}/icon-date.svg') no-repeat 0 0/contain;
      position: absolute; right: 12px;
    }
    .btn-delete{
      width: 24px; height: 24px;
      background: url('#{$img-path}/icon-trash.svg') no-repeat 0 0/contain;
      margin-left: auto;
    }
    .icon-file{
      width: 24px; height: 24px;
      background: url("#{$img-path}/icon-file-1.svg") no-repeat;
    }
    .icon-upload{
      width: 20px; height: 20px;
      background: url("#{$img-path}/icon-upload-2.svg") no-repeat;
    }
  }
  textarea{
    width: 70%; height: 108px; padding: 10px;
    &:focus{outline: none;}
  }
  .btn-add-user{
    width: 32px; height: 32px;
    background: #fff url("#{$img-path}/user-plus.svg") no-repeat center center;
    border-radius: 50%;
    position: absolute; top: 12px; right: 16px;
  }
  .btn-download{
    padding-left: 28px;
    background: url("#{$img-path}/icon-file.svg") no-repeat left center;
  }
}
.user-list{
  >*+*{margin-top: 8px;}
  .avatar{width: 48px; height: 48px;}
  .info{
    width: calc(100% - 48px);
    span{display: block; line-height: 20px;}
  }
  .amount{
    position: absolute; right: 16px; top: 12px;
    span{display: block;}
  }
  .btn-delete{
    width: 36px; height: 36px;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    background: #fff url(#{$img-path}/icon-delete.svg) no-repeat center center;
    position: absolute; right: 16px; top: 50%; transform: translateY(-50%);
  }
  .btn-add-user{
    width: 36px; height: 36px; margin-left: auto;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    .icon-user{width: 20px; height: 20px; background: url("#{$img-path}/user-3.svg") no-repeat;}
  }
}
.receiver{
  .header{margin: 0 -16px; padding: 0 16px; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);}
}

//card
.mycard{
  .create-card{
    padding: 12px 16px;
    background: #FFF1F0;
    border: 1px solid #FFCEC7;
    border-radius: 5px;
    .img{
      width: 80px; height: 80px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    }
    .content{width: calc(100% - 80px); padding-left: 16px;}
    button{padding-right: 18px; background: url("#{$img-path}/arrow-right-1.svg") no-repeat right center;}
  }
  .list-card{
    margin: 0 -8px;
    .item{padding: 0 8px;}
  }
  .slick-dots{
    display: flex; justify-content: center;
    li{margin: 0 4px;}
    button{
      width: 8px; height: 8px;
      background: #ABABAB;
      border-radius: 50%;
      padding: 0;
      font-size: 0;
    }
    .slick-active button{background: var(--orange);}
  }
}
.convert{
  .item{
    padding: 12px 16px;
    background: #F7F7F7;
    margin-bottom: 2px;
    &:nth-child(1){border-radius: 10px 10px 0px 0px;}
    &:nth-child(2){border-radius: 0px 0px 10px 10px;}
    h4{font-size: 14px; line-height: 20px;}
    input{
      background: none; border: none;
      padding: 0;
      font-weight: 700;
      font-size: 24px; line-height: 32px;
      color: #9B9B9B;
      box-shadow: none;
      &::placeholder{color: #9B9B9B;}
    }
  }
  .info > *+*{margin-top: 6px;}
  .btn-convert{
    width: 56px; height: 56px;
    background: #fff url("#{$img-path}/icon-transfer.svg") no-repeat center center;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
  }
  .btn-change{
    width: 32px; height: 32px;
    background: #f7f7f7 url("#{$img-path}/icon-transfer-1.svg") no-repeat center center;
    border-radius: 50%;
  }
  .btn-submit{
    height: 48px;
    border-radius: 5px;
    background: #000;
    color: #fff;
  }
}
.time-complete{
  margin-bottom: 12px;
  span{
    padding: 5px 12px;
    border-radius: 9999px;
    background: #F7F7F7;
    color: #309AE7;
  }
}
.box-card-btn{
  justify-content: space-between;
  button{
    width: calc(50% - 4px);
    padding: 8px 16px;
    background: #F7F7F7; border-radius: 5px;
  }
  .icon{
    width: 40px; height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
  }
}
.list-select{
  >*+*{border-top: 1px solid #E7E7E7;}
  button{
    width: 100%;
    padding: 16px 0;
    background: url("#{$img-path}/arrow-right.svg") no-repeat right center;
    text-align: left;
  }
}
.form-card{
  label,input{width: 50%;}
  label{font-weight: 600; color: var(--gray);}
  input{height: 40px;}
}
.box-card{
  padding: 12px 16px;
  .img-card{
    width: 80px; height: 80px; padding: 14px;
    background: #fff; border-radius: 50%;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
  }
  .info-card{
    width: calc(100% - 80px);
    padding-left: 16px;
  }
}

//kyc
.requirement{
  .list >*+*{margin-top: 8px;}
  li{display: flex; align-items: center;}
  .icon{@include icon;}
  .text{width: calc(100% - 44px);}
  h4{font-weight: 600; font-size: 16px; line-height: 24px;}
}
.upload-note{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 16px;
  .item{
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 4px;
    background: #fff;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    .img{margin: 0 auto 16px;}
    img{display: block; margin: 0 auto;}
    i{width: 20px; height: 20px; margin-right: 8px;}
    .icon-no{background: url("#{$img-path}/icon-close-1.svg") no-repeat;}
    .icon-yes{background: url("#{$img-path}/icon-good.svg") no-repeat;}
  }
}
.upload-list{
  .item{background: #fff; margin-bottom: 16px; padding: 0;}
  .box-upload{
    .upload{height: auto;}
    .icon-upload{background: url("#{$img-path}/img-upload.svg") no-repeat;}
  }
}
.kyc-finish{
  .btn-home{display: inline-block; width: 100%; margin: 24px auto 0; padding: 12px 20px;}
}
.congratulations{
  margin-top: 32px;
  h2{font-size: 20px; line-height: 30px;}
  p{font-size: 16px; line-height: 24px;}
}


//modal
.modal{
  .modal-header{display: block; padding: 25px 16px 16px; border: none;}
  .modal-content{border-radius: 20px;}
  .modal-footer{border: none; padding: 32px 16px;}
  .modal-body{padding: 0 16px 24px;}
  .modal-title{
    max-width: 90%; margin: 0 auto; text-align: center;
    font-weight: 700; font-size: 20px; line-height: 30px;
  }
  .close{
    width: 24px; height: 24px; padding: 0; margin: 0;
    background:#F8F8F8 url("#{$img-path}/close.svg") no-repeat center center;
    border-radius: 50%;
    position: absolute; top: 26px; right: 16px; opacity: 1;
  }
  .warning{
    position: absolute; right: 16px; top: 28px;
    button{
      width: 24px; height: 24px;
      background: url("#{$img-path}/icon-info.svg") no-repeat;
    }
  }
  .box-kyc2{
    padding: 46px 16px 40px;
  }

  .form-otp{
    flex-wrap: nowrap;
    justify-content: space-around;
    &.error input{border-color: #F48D92;}
    input{
      width: 48px; height: 48px; padding: 0;
      border-radius: 8px;
      border: 1px solid #E7E7E7;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
      color: #000; text-align: center;
    }
    input:focus{
      box-shadow: 0px 0px 0px 4px rgba(#FF5942, 0.04);
      color: #FF5942;
      border-color: #FFCEC7;
    }
  }
  .btn-back{
    width: 24px; height: 24px;
    background: url("#{$img-path}/arrow-left.svg") no-repeat;
    position: absolute; left: 16px; top: 28px;
  }
  .note-list{
    margin-bottom: 24px; color: var(--gray);
    >*+*{margin-top: 8px;}
    h4{color: #000;}
    p{
      padding-left: 24px; background: url("#{$img-path}/tick.svg") no-repeat 0 2px;
      &.no{background: url("#{$img-path}/no.svg") no-repeat 0 2px;}
    }
  }
  .box-notifi{
    padding: 24px 16px;
    img{display: block; margin: 0 auto;}
  }
  .box-btn{
    justify-content: space-between;
    button{width: 48%;}
  }
  .select-list-arr{
    >*+*{border-top: 1px solid #E7E7E7;}
    .icon{width: 36px; height: 36px;}
    .icon-bank{background: url(#{$img-path}/icon-bank.svg) no-repeat center center;}
    .icon-wallet{background: url(#{$img-path}/icon-wallet.svg) no-repeat center center;}
    .icon-crypto{background: url(#{$img-path}/icon-crypto.svg) no-repeat center center;}
    span{display: block; padding-left: 8px;}
    button{
      width: 100%; padding: 16px 0; text-align: left; background: url("#{$img-path}/arrow-right.svg") no-repeat right center;
    }
  }
  .select-list{
    padding-bottom: 34px;
    li{padding: 0 14px;}
    li:hover,.active{background: #F7F7F7;}
    .active{
      button{background: url("#{$img-path}/check.svg") no-repeat right center;}
    }
    button{width: 100%; padding: 10px 0; text-align: left;}
  }
  .box-select{
    .select-list{
      padding-bottom: 0;
      li{padding: 10px 14px;}
    }
  }

  .info-transction{
    padding: 8px 0 16px;
    border-bottom: 1px solid #E7E7E7;
    li{display: flex; padding: 8px 0;}
    h5,span{width: 50%; margin: 0; font-weight: 600; font-size: 14px; line-height: 20px;}
    h5{color: var(--gray);}
    span{text-align: right;}
  }
  .balance{
    margin: 24px 0 16px;
    justify-content: space-between;
    p{
      padding: 8px 12px;
      background: #FF8B7B;
      line-height: 20px;
      color: #fff;
      border-radius: 9999px;
      span{margin-left: 8px;}
    }
  }

  .box-input{
    width: 100%;
    max-width: 60%;
    margin-left: auto;
    padding: 8px 12px;
    border-radius: 9999px;
    background: #FFF1F0;
    flex-wrap: nowrap;
    input{
      width: 115px; height: 32px;
      padding: 0;
      box-shadow: none;
      margin-left: auto; border: none; background: none; text-align: right;
    }
    .select2-container{border: none; border-radius: 9999px;}
    .select2-container .select2-selection--single{height: 32px;}
    .select2-container .select2-selection--single .select2-selection__rendered{padding: 0 8px; line-height: 32px; font-size: 16px; font-weight: 700;}
    .select2-container--default .select2-selection--single .select2-selection__arrow{height: 30px; width: 26px;}
  }
  .summary{
    margin-top: 24px; padding-top: 16px; border-top: 1px solid #E7E7E7;
    li{display: flex; align-items: center; justify-content: space-between; padding: 8px 0;}
    h5{font-size: 14px; font-weight: 600; line-height: 20px; color: var(--gray);}
    span{font-weight: 600;}
  }
  .receive-amount{
    padding: 10px 0;
    justify-content: space-between;
    span{color: var(--orange);}
  }
  .box-tick{
    margin: 70px 0 24px;
    label{margin-bottom: 0; position: relative; font-weight: 600; color: var(--gray);}
    input{position: absolute; opacity: 0;}
    .checked{
      width: 20px; height: 20px; display: block;
      margin-right: 8px;
      border: 1px solid #ccc;
      border-radius: 50%;
      position: relative;
      &::after{
        content: ""; width: 8px; height: 8px;
        border-radius: 50%; background: var(--orange);
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        opacity: 0;
      }
    }
    input:checked + .checked::after{opacity: 1;}
  }
  .text{
    >*+*{margin-top: 16px;}
    .icon-upload{
      display: inline-block;
      width: 18px; height: 18px;
      background: url("#{$img-path}/icon-upload-3.svg") no-repeat;
    }
  }

  .btn-submit{
    width: 100%; height: 48px;
    background: #000;
    border-radius: 5px;
    color: #fff;
  }

  .btn-download{
    width: 24px; height: 24px;
    background: url("#{$img-path}/icon-download.svg") no-repeat 0 0/contain;
    position: absolute; top: 28px; left: 16px;
  }
  .btn-edit{
    width: 24px; height: 24px;
    background: url("#{$img-path}/icon-edit.svg") no-repeat 0 0/contain;
    position: absolute; top: 28px; right: 16px;
  }
  .btn-success{
    width: 24px; height: 24px;
    background: url("#{$img-path}/tick-1.svg") no-repeat 0 0/contain;
    position: absolute; top: 28px; right: 16px;
  }
  .icon-download{
    width: 16px; height: 16px;
    background: url("#{$img-path}/icon-download-1.svg") no-repeat;
    margin-right: 4px;
  }
  .btn-question{
    width: 18px; height: 18px;
    margin-left: 6px;
    background: url("#{$img-path}/icon-question.svg") no-repeat;
  }
  .select2-container .select2-selection--single{height: 40px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px; font-size: 14px;}
  .select2-container--default .select2-selection--single .select2-selection__arrow{height: 39px;}
}
.modal-open{
  .select2-results__option{padding: 10px 8px;}
  .select2-container--default .select2-results__option--highlighted[aria-selected]::after {right: 6px;}
}
.modal-reset-success{
  .modal-content{max-width: 326px; margin: 0 auto;}
  .close{top: 20px;}
}
.modal-form{
  input{height: 40px;}
}
.modal-full{
  .modal-dialog{margin: 0; max-width: 100%;}
  .modal-content{border-radius: 0; min-height: 100vh;}
  .modal-header{padding: 16px;}
  .btn-back{top: 18px;}
}

//uikit
a:hover{color: #000;}
.pr{position: relative;}
.pc-show{display: none;}
.mobile-show{display: block;}
a{color: #000;}
sub,sup{color: var(--orange);}
time{display: block;}
.title-sb{font-weight: 600; font-size: 16px; line-height: 24px;}
.text-list > *+*{margin-top: 16px;}
button{
  padding: 0;
  border: none; background: none; cursor: pointer;
  color: #000; transition: .15s;
  &:focus{outline: none;}
}
.btn-pr{
  background: var(--orange);
  height: 48px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px; line-height: 24px;
  color: #fff;
  &:hover{background: #e9452e; color: #fff;}
}
.btn-sub{
  background: #F8F8F8;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px; line-height: 24px;
}
.btn-border{
  height: 48px;
  background: #fff;
  border-radius: 5px;
  border: 1.5px solid #E7E7E7;
  font-weight: 700;
  font-size: 16px; line-height: 24px;
  &:hover{border: 1px solid var(--orange); color: var(--orange);}
  &.orange{
    border-color: var(--orange); color: var(--orange);
    &:hover{background: var(--orange); color: #fff;}
  }
}
.btn-filter,.btn-add-user{width: 48px; height: 48px; margin-left: 8px; border-radius: 5px;}
.btn-filter{
  .icon-filter{width: 32px; height: 32px; background: url("#{$img-path}/filter.svg") no-repeat;}
  &:hover{
    background: #FFEFED;
   .icon-filter{background: url("#{$img-path}/filter-active.svg") no-repeat;} 
  }
}
.btn-add-user{
  .icon-user{width: 32px; height: 32px; background: url("#{$img-path}/user-2.svg") no-repeat 0 0/contain;}
}
.btn-copy{
  .icon{width: 32px; height: 32px; border-radius: 50%; background: #f7f7f7 url("#{$img-path}/icon-copy.svg") no-repeat center center;}
}
.btn-back{
  display: inline-block; padding-left: 22px; background: url("#{$img-path}/arrow-left-1.svg") no-repeat left center;
}
.icon-download{
  width: 16px; height: 16px;
  background: url("#{$img-path}/icon-download-1.svg") no-repeat;
}

.pb-h{padding-bottom: 82px;}
.mb-xs{margin-bottom: 12px;}

label{margin-bottom: 0;}
.input-field{
  height: 40px;
  border-radius: 5px;
  padding: 0 14px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  input{padding: 0; border: none; box-shadow: none; background: none;}
}
.flex-star{justify-content: flex-start !important;}

.form-search{
  width: calc(100% - 56px);
  input{
    width: 100%; height: 48px; padding: 0 14px 0 42px;
    background: url("#{$img-path}/icon-search.svg") no-repeat 14px center;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #000;
    font-size: 16px;
    &::placeholder{color: var(--gray);}
  }
}
.box-pagination{
  margin-top: 32px;
  .select2-container .select2-selection--single .select2-selection__rendered{font-size: 14px; padding-right: 54px;}
  .select2-container .select2-selection--single{height: 40px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px;}
  .select2-container--default .select2-selection--single .select2-selection__arrow{height: 38px;}
  .icon{width: 16px; height: 16px; box-shadow: none; background: url("#{$img-path}/arrow-down-1.svg") no-repeat 0 0/contain; transform: rotate(-90deg);}
  .icon-prev{transform: rotate(90deg);}
  .page-item{margin: 0 4px;}
  .page-link{
    width: 40px; height: 40px;
    display: flex; align-items: center; justify-content: center;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    font-weight: 700;
    font-size: 16px; line-height: 24px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #9B9B9B;
  }
  .active .page-link{
    background: #FFEFED;
    border: 1px solid #FF8B7B;
    color: #000;
  }
}
.bg-b{
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.bg-p{
  padding: 12px 16px;
  border-radius: 5px;
  background: #F7F7F7;
}

.txt-xs{font-size: 12px; line-height: 18px;}
.txt-md{font-size: 16px; line-height: 24px;}
.txt-res{font-size: 16px; line-height: 24px;}
.txt-mh{font-size: 18px; line-height: 28px;}
.txt-lg{font-size: 20px; line-height: 30px;}
.txt-xl{font-size: 30px; line-height: 38px;}
.fw-b{font-weight: 700;}
.fw-sm{font-weight: 600;}
.fw-m{font-weight: 500;}
.txt-gray{color: var(--gray);}
.text-orange{color: var(--orange);}
input:focus{outline: none;}
h5{margin-bottom: 0;}
input{height: 48px; padding: 0 14px; border-radius: 5px; border: 1px solid #E7E7E7; box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); font-size: 16px;}
.bg-sh{background: #F7F7F7; border-radius: 5px;}
.bg-gray{background: #F7F7F7; border-radius: 10px;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.flex-between{justify-content: space-between;}

.arrow-right{
  width: 16px; height: 16px;
  background: url("#{$img-path}/arrow-right-2.svg") no-repeat;
}
.box-tooltip{
  margin-left: 5px; position: relative;
  &:hover{
    .content{opacity: 1; visibility: visible; z-index: 2;}
  }
  .icon{}
  .icon-info{
    width: 18px; height: 18px;
    background: url("#{$img-path}/icon-info-1.svg") no-repeat 0 0/contain;
    &--red{background: url("#{$img-path}/icon-info-2.svg") no-repeat 0 0/contain;}
  }
  .icon-q{
    width: 18px; height: 18px;
    background: url("#{$img-path}/icon-q.svg") no-repeat 0 0/contain;
  }
  button{width: 24px; height: 24px; border-radius: 50%;}
  button:hover{background: #f7f7f7;}
  .content{
    width: 243px;
    padding: 8px 12px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.02), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    font-size: 12px; font-weight: 500; line-height: 18px;
    position: absolute; bottom: 30px; left: -10px;
    opacity: 0; visibility: hidden; z-index: -1;
    &.lg{width: 285px;}
    &::after{
      content: "";
      border-width: 7px; border-style: solid;
      border-color: #fff transparent transparent transparent;
      position: absolute; left: 15px; bottom: -14px;
    }
    &.left{
      right: -15px; left: inherit;
      &::after{right: 20px; left: inherit;}
    }
  }
  ul{
    >*+*{margin-top: 4px;}
    li{list-style: none; position: relative; padding-left: 24px; color: var(--gray); text-align: left;}
    li::before{
      content: "";
      width: 16px; height: 16px;
      background: url("#{$img-path}/tick-2.svg") no-repeat 0 0/contain;
      position: absolute; left: 0; top: 2px;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


//custom datepiker
.dropdown-menu{
  min-width: 17rem; padding: 10px;
  table{width: 100%; font-family: Roboto, sans-serif;}
}
.datepicker{
  td,th{width: 25px; height: 30px; text-align: center;}
  td.new,td.old{color: #ccc;}
  table{
    tr td.active,tr td.active.active,tr td.active:hover, tr td.active:hover:active,tr td.active:hover:hover{background: #f1b0b7; border-radius: 4px;}
  }
  th{font-weight: 500; font-size: 14px;}
  td{font-weight: 400; font-size: 14px;}
  .dow{padding: 20px 0 10px;}
  .datepicker-switch{ font-size: 20px; font-weight: 600; text-align: center;}
  .next,.prev{
    width: 20px; height: 20px; display: block;
    margin-top: 8px;
    background: url("#{$img-path}/arrow-right-3.svg") no-repeat 0 0/contain;
    font-size: 0; cursor: pointer;
    &:hover{background: url("#{$img-path}/arrow-right-3.svg") no-repeat 0 0/contain;}
  }
  .prev{margin-bottom: 10px; transform: rotate(180deg); margin-left: auto;}
}

//
.switch {
  margin-left: auto;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  width: 44px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #60BC7F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 9999px;
}

.slider.round:before {
  border-radius: 50%;
}

//custom select2.min.js
.select2{
  background: #fff;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  .selection{}
  &:focus{outline: none;}
  &.select2-container--open{border-color: #FFCEC7; box-shadow: 0px 0px 0px 4px #F7F7F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);}
}
.select2{width: 100% !important;}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 14px;
  padding-right: 14px;
  color: #000;
  font-size: 16px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 12px;}
.select2-container .select2-selection--single{height: 48px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 48px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 46px; width: 32px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  margin-top: 8px;
  background: #fff;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: 1px solid #E7E7E7;
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 16px; height: 16px;
  background: url("#{$img-path}/arrow-down-1.svg") no-repeat 0 0/contain;
  top: 54%; transform: translate(-50%,-50%); left: 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translate(-50%,-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 10px 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  position: relative;
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background: #F9FAFB; color: #111;
  &::after{
    content: "";
    width: 20px; height: 20px;
    background: url("#{$img-path}/check.svg") no-repeat;
    position: absolute; right: 14px; top: 50%; transform: translateY(-50%);
  }
}
.select2-container--open .select2-dropdown--above{
  border: 1px solid #E7E7E7; border-radius: 5px; margin-bottom: 5px;
}
