@media (min-width: 1200px) {
  .flex-1{flex: none;}
  .pc-show{display: block;}
  .mobile-show{display: none;}

  .dashboard{padding: 0;}
  .wealify-account{
    padding: 16px; display: flex;
    background: none;
    h1{margin-bottom: 40px; font-weight: 500; font-size: 2.9vw; line-height: 60px;}
    h1.pc-show{
      span:nth-child(1){margin-bottom: 2px; font-size: 54px; line-height: 60px; letter-spacing: -1.2px;}
    }
    .col-left{width: 45%; padding: 0 5%;}
    .col-right{
      width: 55%;
      background:#F8F8F8  url("#{$img-path}/bg-dc-login.svg") no-repeat top right/contain;
      border-radius: 10px;
      .img-wrapper{padding: 6% 0 0 12%;}
      .box-text{margin: 5% auto 4%; max-width: 582px;}
    }
    .logo{
      margin: 6% auto 26%;
      &.my-6{margin: 8% auto 12%;}
    }
    .text-q{padding-bottom: 24px; font-size: 16px; line-height: 24px; color: #000;}
    .btn-back{display: none;}
  }
  .wealify-form{
    label{font-size: 16px; line-height: 24px;}
    .toggle-password{top: 45px;}
  }
  .form-otp{
    input{width: 68px; height: 68px;}
  }
  .notifi{
    .box-dropdown{right: -70px;}
    .list{padding: 16px 24px;}
  }
  .text-resend{margin: 24px 0;}

  //layout
  .page-layout{
    padding-top: 96px;
    &.bg-dc{
      background:#fff url('#{$img-path}/bg-dc-3.jpg') no-repeat 0 96px;
      background-attachment: fixed;
    }
    &.bg-dc-1{
      background:#fff url('#{$img-path}/bg-dc-9.svg') no-repeat 0 96px;
      background-attachment: fixed;
    }
    &.bg-dc-2{
      background:#fff url('#{$img-path}/bg-dc-6.svg') no-repeat 0 96px;
      background-attachment: fixed;
    }
    &.bg-dc-3{
      background:#fff url('#{$img-path}/bg-dc-8.svg') no-repeat 0 96px;
      background-attachment: fixed;
    }
  }
  .transfer-info,.transaction-info{
    .highlight{
      h5,span{font-size: 18px; line-height: 28px;}
    }
    li{padding: 8px 0;}
    input{height: 48px; font-size: 16px;}
    h5,span,a{font-size: 16px; line-height: 24px;}
  }
  .box-detail{
    h3{font-size: 20px; line-height: 30px;}
    .box-text{
      .content{
        width: 406px; padding: 24px; font-size: 16px; line-height: 24px;
        &::after{left: 54%;}
        >*+*{margin-top: 8px;}
        span{padding-left: 32px;}
        span::before{width: 24px; height: 24px;}
      }
    }
    .amount{padding: 6px 0; font-size: 36px; letter-spacing: -0.72px;}
    .qrcode{
      .img-wrapper{width: 148px; padding: 14px;}
      button{display: none;}
    }
    .note{
      margin-bottom: 24px;
      font-size: 16px; line-height: 24px;
    }
  }
  .top-page{
    padding: 0;
    .logo{position: relative; top: 0; transform: translateY(0);}
    .title{
      width: auto; max-width: inherit;
      margin-left: 32px;
      padding-left: 32px;
      border-left: 2px solid #E7E7E7;
      font-size: 24px; line-height: 32px;
    }
    .nav{padding: 27px 48px;}
    .progress{
      width: 100%; height: 12px; background: #E7E7E7;
      border-radius: 0;
      position: absolute; bottom: -12px;
      .value{height: 100%; position: absolute; background: #FF8B7B; left: 0;}
    }
  }
  .body-page{
    max-width: 570px; width: 100%; margin: 64px auto 0;
    &.lg{max-width: 770px;}
    .progress{display: none;}
    .title{font-size: 30px; line-height: 38px; font-weight: 600;}
  }
  .bottom-page,.bottom-form{
    max-width: 570px; width: 100%; margin: 24px auto 64px;
    padding: 0; background: none;
    &.bg{background: none; margin: 24px auto 64px; padding: 0;}
    .box-btn{
      margin-top: 24px;
      justify-content: space-between;
      button{margin: 0; width: 49%;}
      .w-100{max-width: 49%;}
    }
    
    .summary{padding: 24px; border-radius: 10px; background: #F7F7F7;}
  }
  .form-wealify{
    &.fix-bt{min-height: inherit; padding-bottom: 64px;}
    .box-btn{
      justify-content: space-between;
      button{margin: 0; width: 49%;}
      .w-100{max-width: 49%;}
    }
  }
  .form-invoice{
    label{width: 35%;}
    input{width: 65%;}
    input{height: 48px; font-size: 16px;}
  }

  //maintenance
  .wealify-maintenance{
    padding: 3% 0;
    .img-wrapper{width: 70.3%; margin: 4.5% auto 2.5%;}
    .box-text{
      h1{font-size: 42px; line-height: 54px;}
      p{font-size: 20px; line-height: 28px;}
    }
  }
  
  //dashboard
  .no-data{
    background: #fff; border-radius: 10px;
    .text{font-size: 20px; line-height: 30px;}
  }

  //topup
  .topup{
    .item .txt-xs{font-size: 14px; line-height: 20px;}
    .currency{
      padding: 10px 12px;
      span{font-size: 16px; line-height: 24px;}
    }
  }
  .panel-group{padding: 24px;}
  .summary{
    h5,span{font-size: 16px; line-height: 24px;}
    li{padding: 13px 0;}
    li:last-child{
      h5{font-size: 18px; line-height: 28px;}
      span{font-size: 20px; line-height: 30px;}
    }
  }
  .bank{
   .txt-xs{font-size: 14px; line-height: 20px;}
 }
  .box-tick{
    label{font-size: 16px; line-height: 24px;}
  }
  .box-select{
    .selected{
      &.round{padding: 10px 34px 10px 12px; font-size: 16px; line-height: 24px;}
    }
  }
  .w-qrcode{width: 370px;}
  .btn-change{
    span{display: block;}
  }
  .box-tooltip{
    .content{
      width: 522px; padding: 24px; font-size: 16px; line-height: 24px;
      &.lg{width: 522px;}
    }
    ul{
      >*+*{margin-top: 8px;}
      li{padding-left: 32px;}
      li::before{width: 24px; height: 24px;}
    }
  }
  .balance{
    font-size: 18px; line-height: 28px;
    span{font-size: 24px; line-height: 32px;}
  }

  //withdraw
  .block-list-select{
    .item{
      .detail{padding: 0 0 0 12px;}
      .detail::after{display: none;}
      .btn-select{display: inline-block;}
    }
  }
  .box-account{
    .dropdown{padding: 24px;}
    .info .txt-xs{font-size: 14px; line-height: 20px;}
  }

  //transaction
  .transaction{
    &.bg{margin-top: 24px; padding: 0 24px; border-radius: 10px; background: #F7F7F7;}
    &.bg-pc{padding: 0 24px; border-radius: 10px; background: #F7F7F7;}
    h4{font-size: 18px; line-height: 28px;}
  }
  .filter{
    .select-date{
      .box-input{width: 168px;}
    }
  }
  .box-qrcode{
    .qrcode{width: 370px;}
  }

  //setting
  .verify{
    min-height: auto;
    h2{font-size: 30px; line-height: 38px;}
    .space{color: #ccc; font-weight: 500; font-size: 60px; line-height: 72px;}
    .form-otp{
      input{width: 96px; height: 96px; font-size: 60px; line-height: 72px;}
    }
  }
  .box-choose{
    label{
      .content{width: calc(100% - 52px);}
    }
  }
  .transactions{
    .pl-2 .txt-xs{font-size: 14px; line-height: 20px;}
  }

  //send
  .send{
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
  }
  .form-send{
    border-radius: 10px;
    padding: 24px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
    .form-group:last-child{margin-bottom: 0;}
    .box-input{
      width: calc(100% - 100px);
      &.sm{width: calc(100% - 100px);}
    }
    textarea{width: calc(100% - 100px);}
    label{
      width: 100px;
      &.lg{width: 100px;}
    }
    input,.user{width: calc(100% - 100px);}
  }
  .tab{margin: 0;}
  .receiver{
    .header{margin: 0; padding: 0;}
  }
  .summary.bg{
    padding: 16px 24px;
    border-radius: 10px;
    background: #F7F7F7;
  }

  //profile
  .box-kyc{
    max-width: 770px; margin: 0 auto;
    h2{margin-bottom: 120px;}
    .level-tooltip{
      width: 332px; padding: 16px 12px; font-size: 14px; line-height: 20px;
      p{font-size: 14px; line-height: 20px;}
    }
    .kyc-status{
      margin-top: 32px;
      padding: 24px;
      display: block;
      border-radius: 5px;
      text-align: center;
      h4{margin-bottom: 8px; font-weight: 700; font-size: 20px; line-height: 30px;}
      .icon{width: 40px; margin: 0 auto 8px;}
      .content{width: 100%; padding-left: 0;}
    }
  }
  .kyc-bar{
    max-width: 500px; margin: 0 auto 32px;
  }
  .profile{
    max-width: 770px; margin: 64px auto 0;
    .btn-edit{
      span{display: block;}
    }
  }

  //kyc
  .requirement{
    .list > *+*{margin-top: 16px;}
    h4{font-weight: 700; font-size: 20px; line-height: 30px;}
  }
  .kyc-finish{
    .btn-home{width: auto;}
  }
  .congratulations{
    margin-top: 40px;
    h2{font-size: 24px; line-height: 32px;}
    p{font-size: 18px; line-height: 28px;}
  }

  //modal
  .modal{
    &.lg{
      .modal-dialog{max-width: 740px;}
    }
    .modal-dialog{max-width: 570px; min-height: calc(100% - (1.75rem * 2)); display: flex; align-items: center;}
    .modal-content{padding: 32px; border-radius: 10px;}
    .modal-header{
      padding: 0; margin-bottom: 24px;
      p{color: var(--gray); text-align: center;}
    }
    .modal-body{padding: 0;}
    .modal-title{font-size: 28px; line-height: 36px;}
    .box-upload{max-width: 358px; margin: 0 auto;}
    .close{
      width: 28px; height: 28px;
      background: url("#{$img-path}/close-1.svg") no-repeat;
      position: absolute; right: 0; top: -34px;
    }
    .btn-back{display: none; left: 32px; top: 38px;}
  }

  .title-sb{font-weight: 700; font-size: 20px; line-height: 30px;}
  .flex-col{display: block;}
  .txt-res{font-weight: 600; font-size: 30px; line-height: 38px;}
  .pc-with-auto{max-width: 570px; margin: 64px auto 0;}
  .mt-xl{margin-top: 64px;}
  .bg-pl{background: #fff; border-radius: 10px; border: 1px solid #E7E7E7; box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);}
}

@media (min-width: 1600px) {
  .wealify-account{
    h1{font-size: 2.49vw;}
    h1.pc-show{
      span:nth-child(1){margin-bottom: 8px; font-size: 60px; line-height: 72px;}
    }
    .logo{margin: 8% auto 30%;}
    .col-left{padding: 0 7.6%;}
  }
  .wealify-maintenance{
    .box-text{
      h1{font-size: 48px; line-height: 60px;}
      p{font-size: 24px; line-height: 32px;}
    }
  }
  .filter{
    .select-date{
      .box-input{width: 180px;}
    }
  }
}

@media (max-width: 1600px) {
  .layout-page{
    padding-left: 260px;
    .menu{
      a{font-size: 15px; line-height: 20px;}
    }
    .top-bar-fixed{width: calc(100% - 260px); padding: 12px 32px; left: 260px;}
    .sidebar{width: 260px; padding: 30px 16px;}
    .panel-info-list{
      grid-template-columns: repeat(2,1fr);
      .item{padding: 18px 20px;}
    }
    .main-content{padding: 44px 32px;}
  }
  .panel-info-list{
    .txt-xl{font-size: 28px; line-height: 34px;}
  }
}

@media (max-width: 1200px) {
  .modal-bottom{
    top: inherit; padding-right: 0 !important;
    &::-webkit-scrollbar{width: 0;}
    &.fade .modal-dialog{transform: translate(0, 0);}
    &.show .modal-dialog{transform: translate(0, 0);}
    .modal-dialog{margin: 0; max-width: 100%;}
    .modal-content{border-radius: 20px 20px 0 0; max-height: calc(100vh - 44px); overflow: auto;}
  }
}